In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.font_manager
from sklearn import svm

In [4]:
Whole_data = pd.read_csv("hey13.csv")
X_ =pd.read_csv("hey13.csv")

In [74]:
Whole_data.head()

,user_id,visit_goal_converted,visitor_days_since_order,visitor_returning,visitor_count_visits,visit_entry_idaction_name,visit_entry_idaction_url,visit_exit_idaction_name,visit_exit_idaction_url,visit_total_actions,...,custom_var_v3,longlat,date,month,year,min,sec,visitor_localtime_hour,visitor_localtime_min,visitor_localtime_sec
0,25,0,0,2,1,133,134,133,134,1,...,4,118,26,6,2019,12,18,21,14.0,56.0
1,31,0,0,0,1,286,287,295,296,6,...,6,239,26,6,2019,12,18,11,4.0,7.0
2,31,0,0,0,1,288,289,297,298,2,...,8,190,26,6,2019,2,19,17,17.0,37.0
3,31,0,0,1,1,0,0,0,0,1,...,7,75,26,6,2019,2,50,16,57.0,26.0
4,31,0,0,1,1,294,207,294,207,1,...,4,60,26,6,2019,3,38,3,42.0,1.0

In [5]:


# Y = pd.read_csv("data/RBA.csv")
# Y.shape

# Y

In [59]:
# id=55
id = input("Enter your id for which you want to train: ")

Enter your id for which you want to train: 55

In [7]:
X_train=Whole_data[Whole_data['user_id'] == id]



X_train = X_train[['user_id', "location_browser_lang", "config_browser_engine", "config_browser_name", 
		"config_device_brand", "config_device_model", "config_os" , "config_os_version", 
		"config_resolution", "location_city", "location_country", "location_longitude",'location_latitude']]

In [79]:
thisdict =	{
  "user_id": 0,
  "location_browser_lang": 2,
  "config_browser_engine":1,
  "config_browser_name": 1,
  "config_device_brand": 5,
  "config_device_model": 5,
  "config_os": 0,
  "config_os_version": 1,
  "config_resolution": 1,    
  "location_city": 4,
  "location_country": 8,
  "location_longitude":4, 
   "location_latitude" :4
}

In [80]:
thisdict["user_id"]

0

In [8]:
X_train = pd.DataFrame(X_train)

In [9]:
type(X_train)

pandas.core.frame.DataFrame

In [10]:
X_train.shape

(33, 13)

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 15 to 355
Data columns (total 13 columns):
user_id                  33 non-null int64
location_browser_lang    33 non-null int64
config_browser_engine    33 non-null int64
config_browser_name      33 non-null int64
config_device_brand      33 non-null int64
config_device_model      33 non-null int64
config_os                33 non-null int64
config_os_version        33 non-null int64
config_resolution        33 non-null int64
location_city            33 non-null int64
location_country         33 non-null int64
location_longitude       33 non-null float64
location_latitude        33 non-null float64
dtypes: float64(2), int64(11)
memory usage: 3.6 KB

In [12]:
X_train.head()

,user_id,location_browser_lang,config_browser_engine,config_browser_name,config_device_brand,config_device_model,config_os,config_os_version,config_resolution,location_city,location_country,location_longitude,location_latitude
15,55,50,5,6,0,1,6,16,2,214,5,17.550862,50.649718
16,55,82,4,3,0,1,6,20,7,208,8,141.395842,-14.651877
17,55,82,1,2,0,1,6,5,1,266,2,-177.514029,24.193281
18,55,63,5,6,1,1,2,4,5,59,7,-152.348342,74.116989
19,55,18,5,1,0,1,1,0,16,42,4,-150.169149,9.429430

In [13]:
# type(X_train['visit_entry_idaction_url'].head())

In [14]:

x = np.cos(X_train['location_latitude']) * np.sin(X_train['location_longitude'])
y = np.cos(X_train['location_latitude']) * np.sin(X_train['location_longitude'])
z = np.sin(X_train['location_latitude'])

In [15]:
X_train.columns

Index(['user_id', 'location_browser_lang', 'config_browser_engine',
       'config_browser_name', 'config_device_brand', 'config_device_model',
       'config_os', 'config_os_version', 'config_resolution', 'location_city',
       'location_country', 'location_longitude', 'location_latitude'],
      dtype='object')

In [16]:

X_train['x'] = pd.Series(x)

X_train['y'] = y

X_train['z'] = z

In [17]:
X_train.columns

Index(['user_id', 'location_browser_lang', 'config_browser_engine',
       'config_browser_name', 'config_device_brand', 'config_device_model',
       'config_os', 'config_os_version', 'config_resolution', 'location_city',
       'location_country', 'location_longitude', 'location_latitude', 'x', 'y',
       'z'],
      dtype='object')

In [18]:
del X_train['location_longitude']
del X_train['location_latitude']

In [19]:
# arr1 = X_train.iloc[0].values
# arr = np.array([58,  1,  2,  3, 11,  4,  5, 6, 7, 8, 9, 10])
# print(arr, arr1)

In [20]:
X_train.columns

Index(['user_id', 'location_browser_lang', 'config_browser_engine',
       'config_browser_name', 'config_device_brand', 'config_device_model',
       'config_os', 'config_os_version', 'config_resolution', 'location_city',
       'location_country', 'x', 'y', 'z'],
      dtype='object')

In [21]:
X_train

,user_id,location_browser_lang,config_browser_engine,config_browser_name,config_device_brand,config_device_model,config_os,config_os_version,config_resolution,location_city,location_country,x,y,z
15,55,50,5,6,0,1,6,16,2,214,5,-0.892976,-0.892976,0.374851
16,55,82,4,3,0,1,6,20,7,208,8,0.011899,0.011899,-0.870435
17,55,82,1,2,0,1,6,5,1,266,2,-0.590166,-0.590166,-0.807240
18,55,63,5,6,1,1,2,4,5,59,7,-0.285481,-0.285481,-0.958369
19,55,18,5,1,0,1,1,0,16,42,4,-0.586953,-0.586953,-0.004652
20,55,82,4,3,0,1,6,20,21,218,13,0.356258,0.356258,0.371420
21,55,19,4,3,0,1,6,22,1,177,3,-0.827709,-0.827709,0.171933
22,55,82,5,1,0,1,6,18,25,255,3,-0.516963,-0.516963,-0.377487
23,55,15,1,2,1,1,2,1,17,103,1,-0.436174,-0.436174,-0.433884
24,55,19,3,5,0,1,6,18,8,119,3,-0.532004,-0.532004,0.696629
25,55,15,4,3,0,2,5,0,1,207,7,0.043342,0.043342,-0.915430
84,55,50,5,6,0,1,6,16,2,214,5,-0.892976,-0.892976,0.374851
85,55,82,4,3,0,1,6,20,7,208,8,0.011899,0.011899,-0.870435
86,55,82,1,2,0,1,6,5,1,266,2,-0.590166,-0.590166,-0.807240
87,55,63,5,6,1,1,2,4,5,59,7,-0.285481,-0.285481,-0.958369
88,55,18,5,1,0,1,1,0,16,42,4,-0.586953,-0.586953,-0.004652
89,55,82,4,3,0,1,6,20,21,218,13,0.356258,0.356258,0.371420
90,55,19,4,3,0,1,6,22,1,177,3,-0.827709,-0.827709,0.171933
91,55,82,5,1,0,1,6,18,25,255,3,-0.516963,-0.516963,-0.377487
92,55,15,1,2,1,1,2,1,17,103,1,-0.436174,-0.436174,-0.433884
93,55,19,3,5,0,1,6,18,8,119,3,-0.532004,-0.532004,0.696629
94,55,15,4,3,0,2,5,0,1,207,7,0.043342,0.043342,-0.915430
345,55,50,5,6,0,1,6,16,2,214,5,-0.892976,-0.892976,0.374851
346,55,82,4,3,0,1,6,20,7,208,8,0.011899,0.011899,-0.870435
347,55,82,1,2,0,1,6,5,1,266,2,-0.590166,-0.590166,-0.807240
348,55,63,5,6,1,1,2,4,5,59,7,-0.285481,-0.285481,-0.958369
349,55,18,5,1,0,1,1,0,16,42,4,-0.586953,-0.586953,-0.004652
350,55,82,4,3,0,1,6,20,21,218,13,0.356258,0.356258,0.371420
351,55,19,4,3,0,1,6,22,1,177,3,-0.827709,-0.827709,0.171933
352,55,82,5,1,0,1,6,18,25,255,3,-0.516963,-0.516963,-0.377487
353,55,15,1,2,1,1,2,1,17,103,1,-0.436174,-0.436174,-0.433884
354,55,19,3,5,0,1,6,18,8,119,3,-0.532004,-0.532004,0.696629
355,55,15,4,3,0,2,5,0,1,207,7,0.043342,0.043342,-0.915430

# Feature Scaling

In [22]:
# from sklearn.externals import joblib

# # Feature Scaling
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_Train = sc.fit_transform(X_train)

In [23]:
# scaler_filename = "scaler.save"
# joblib.dump(sc, scaler_filename)

In [24]:
#sc.transform(arr1)

In [25]:
# sc = joblib.load("scaler.save")

In [26]:
# X_train = pd.DataFrame(X_train)
# type(X_train)

In [27]:
# X_train

In [28]:
# X_train.shape

# user new input

In [29]:
  #old csv wali file ka


data = [[55,82,1,2,0,1,6,5,1,266,2,-177.514029,24.193281]]
#make new dataset 
# X_test = pd.DataFrame(data)

# X_test.shape

In [30]:
type(data)

list

In [31]:
data[0][11]

-177.514029

In [32]:
# # Feature Scaling
# from sklearn.preprocessing import StandardScaler



# sc = StandardScaler()
# X_test = sc.fit_transform(X_test)
# X_test = pd.DataFrame(X_test)
# type(X_test)

In [33]:
# X_test

In [34]:
# data = [[55,19,4,3,0,1,6,22,1,177,3,-0.827709,-0.827709,0.171933]]
# X_test = pd.DataFrame(data)

In [35]:
# X_test = sc.transform(X_test)

In [36]:
# X_test

In [37]:
# X_test = X_test.iloc[0]

In [38]:
# X_test.shape

# Making outliers

In [39]:
# X_outliers = np.random.uniform(low=-5, high=5, size=(345, 12))

In [40]:
# X_outliers.shape

# Fitting the model

In [41]:
# fit the model
clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)

In [42]:
clf.fit(X_train)

OneClassSVM(cache_size=200, coef0=0.0, degree=3, gamma=0.1, kernel='rbf',
      max_iter=-1, nu=0.1, random_state=None, shrinking=True, tol=0.001,
      verbose=False)

# Predicting within the Train dataframe

In [43]:
# y_pred_train = clf.predict(X_train)

In [44]:
# unique, counts = np.unique(y_pred_train, return_counts=True)

In [45]:
# dict(zip(unique, counts))

In [46]:
# y_pred_train.shape

# Predicting  for the given input

In [47]:

x = np.cos(data[0][12]) * np.sin(data[0][11])
y = np.cos(data[0][12]) * np.sin(data[0][11])
z = np.sin(data[0][12])

In [48]:
type(data)

list

In [49]:
data[0][11] = x

data[0][12] = y

In [50]:
data[0].append((z))

In [51]:
#55	50	5	6	0	1	6	16	2	214	5	-0.892976	-0.892976	0.374851

In [52]:
data

[[55,
  82,
  1,
  2,
  0,
  1,
  6,
  5,
  1,
  266,
  2,
  -0.5901656300358249,
  -0.5901656300358249,
  -0.80723963214014893]]

In [53]:
# data.shape

In [54]:
y_pred_test = clf.predict(data)

In [55]:
y_pred_test

array([ 1.])

In [56]:
if(y_pred_test == -1):
    print("It's a Anomoly")
else:
    print("It's a regular observation")

It's a regular observation

# Saving the model

In [63]:
import pickle
c= str(id)+'.pkl' 
output = open(c, 'wb')
pickle.dump(clf, output)
output.close()

In [58]:
# X_train

In [69]:
import os
 
dirpath = os.getcwd()
dirpath

'/home/bhrt/Desktop/Blue Bricks/Risk-Based-Authetication'

In [72]:
pkl_list = []
import os
for file in os.listdir("/home/bhrt/Desktop/Blue Bricks/Risk-Based-Authetication"):
    if file.endswith(".pkl"):
#         print(os.path.join("", file))
        pkl_list.append(os.path.join("", file))

In [73]:
pkl_list

['osvm_without.pkl', '55.pkl']

# Predicting for the synthe. outliers

In [81]:
# y_pred_outliers = clf.predict(X_outliers)

In [82]:
# y_pred_outliers.shape

In [83]:
# unique, counts = np.unique(y_pred_outliers, return_counts=True)

# dict(zip(unique, counts))

# RoC after spliting the train dataframe into 2 parts

In [84]:
# from sklearn.model_selection import train_test_split

# from sklearn.metrics import roc_curve, roc_auc_score

In [85]:
# X_Train, X_Test = train_test_split(X_train,test_size = 0.5,random_state = 42)

In [86]:
# X_Train.shape

In [87]:
# X_Test.shape

In [88]:
#X_Test = X_Test.drop(X_Test.shape[0],axis=0)

In [89]:
# X_Test.shape

In [90]:
# clf = svm.OneClassSVM(nu=0.1,kernel = "rbf", gamma =0.1)
# y_score = clf.fit(X_Train).decision_function(X_Test)

The desion function tells us on which side of the hyperplane generated by the classifier we are (and how far we are away from it).

In [91]:
# pred = clf.predict(X_Train)

In [92]:
# unique, counts = np.unique(pred, return_counts=True)

# dict(zip(unique, counts))

In [93]:
# fpr,tpr,thresholds = roc_curve(pred,y_score)
# roc_auc = roc_auc_score(pred,y_score)

In [94]:
# plt.figure(figsize=(15, 8))
# plt.plot(fpr, tpr, label='ROC curve (area = %0.2f)' % roc_auc)
# plt.plot([0, 1], [0, 1], 'k--')
# plt.xlim([0.0, 1.0])
# plt.ylim([0.0, 1.05])
# plt.xlabel('False Positive Rate')
# plt.ylabel('True Positive Rate')
# plt.title('ROC Curve')
# plt.legend(loc="lower right")
# plt.show()

# Roc for Train data and Outliers

In [127]:
X_train.shape

(22, 14)

In [129]:
# X_train

# Risk Calculatoin using the Hard Code

In [130]:
id = data[0][0]
id

55

In [131]:
print("The user id is " +  str(id))

The user id is 55

In [132]:
X_train.head()

,user_id,location_browser_lang,config_browser_engine,config_browser_name,config_device_brand,config_device_model,config_os,config_os_version,config_resolution,location_city,location_country,x,y,z
15,55,50,5,6,0,1,6,16,2,214,5,-0.892976,-0.892976,0.374851
16,55,82,4,3,0,1,6,20,7,208,8,0.011899,0.011899,-0.870435
17,55,82,1,2,0,1,6,5,1,266,2,-0.590166,-0.590166,-0.807240
18,55,63,5,6,1,1,2,4,5,59,7,-0.285481,-0.285481,-0.958369
19,55,18,5,1,0,1,1,0,16,42,4,-0.586953,-0.586953,-0.004652

In [133]:
an=X_train[X_train['user_id'] == id]

In [134]:
an.shape

(22, 14)

In [135]:
data

[[55,
  82,
  1,
  2,
  0,
  1,
  6,
  5,
  1,
  266,
  2,
  -0.5901656300358249,
  -0.5901656300358249]]

In [136]:
columns = an.columns

In [137]:
# data[0][1] in an['location_browser_lang'].unique()

In [138]:
# an['location_browser_lang'].unique()

In [139]:

count=0
nott=0

for i in range(0,12):
    col = columns[i]
    if data[0][i] in an[col].unique():
        count=count+1
        
    else:    
        nott=nott+1
       # print("here data is  "+str(data[0][i]) + "   and the dataframe is   "+str(an.iloc[i].unique())  )
       # print("\n\n\n")

In [140]:
count

12

In [141]:
nott

0

In [127]:
# X_train.columns

In [94]:



print(float(4.1234567891234))

4.1234567891234