In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.font_manager
from sklearn import svm

In [4]:
Whole_data = pd.read_csv("hey.csv")
X_ =pd.read_csv("hey.csv")

In [6]:
id=55

In [7]:
X_train=Whole_data[Whole_data['user_id'] == id]



X_train = X_train[['user_id', "location_browser_lang", "config_browser_engine", "config_browser_name", 
		"config_device_brand", "config_device_model", "config_os" , "config_os_version", 
		"config_resolution", "location_city", "location_country", "location_longitude",'location_latitude']]

In [8]:
X_train = pd.DataFrame(X_train)

In [9]:
type(X_train)

pandas.core.frame.DataFrame

In [10]:
X_train.shape

(22, 13)

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 15 to 94
Data columns (total 13 columns):
user_id                  22 non-null int64
location_browser_lang    22 non-null int64
config_browser_engine    22 non-null int64
config_browser_name      22 non-null int64
config_device_brand      22 non-null int64
config_device_model      22 non-null int64
config_os                22 non-null int64
config_os_version        22 non-null int64
config_resolution        22 non-null int64
location_city            22 non-null int64
location_country         22 non-null int64
location_longitude       22 non-null float64
location_latitude        22 non-null float64
dtypes: float64(2), int64(11)
memory usage: 2.4 KB

In [12]:
X_train.head()

,user_id,location_browser_lang,config_browser_engine,config_browser_name,config_device_brand,config_device_model,config_os,config_os_version,config_resolution,location_city,location_country,location_longitude,location_latitude
15,55,50,5,6,0,1,6,16,2,214,5,17.550862,50.649718
16,55,82,4,3,0,1,6,20,7,208,8,141.395842,-14.651877
17,55,82,1,2,0,1,6,5,1,266,2,-177.514029,24.193281
18,55,63,5,6,1,1,2,4,5,59,7,-152.348342,74.116989
19,55,18,5,1,0,1,1,0,16,42,4,-150.169149,9.429430

In [17]:
X_train = pd.DataFrame(X_train)
type(X_train)

pandas.core.frame.DataFrame

In [18]:
# X_train

In [19]:
X_train.shape

(22, 13)

# user new input

In [64]:
data=[[55,90,1,2,0,2,8,23,22,213,23,-97.783179,22]]
data = [[55,82,1,2,0,1,6,5,1,266,2,-176.514029,24.193281]]
#make new dataset 

X_test = pd.DataFrame(data)

X_test.shape

(1, 13)

# Fitting the model

In [65]:
# fit the model
clf = svm.OneClassSVM(nu=0.1, kernel="rbf", gamma=0.1)

In [66]:
clf.fit(X_train)

OneClassSVM(cache_size=200, coef0=0.0, degree=3, gamma=0.1, kernel='rbf',
      max_iter=-1, nu=0.1, random_state=None, shrinking=True, tol=0.001,
      verbose=False)

# Predicting  for the given input

In [67]:
y_pred_test = clf.predict(X_test)

In [68]:
y_pred_test

array([-1.])

In [69]:
if(y_pred_test == -1):
    print("It's a Anomoly")
else:
    print("It's a regular observation")

It's a Anomoly

# Saving the model

In [30]:
import pickle
output = open('osvm_without.pkl', 'wb')
pickle.dump(clf, output)
output.close()

# Risk Calculatoin using the Hard Code

In [31]:
id = data[0][0]
id

55

In [32]:
print("The user id is " +  str(id))

The user id is 55

In [33]:
X_train.head()

,user_id,location_browser_lang,config_browser_engine,config_browser_name,config_device_brand,config_device_model,config_os,config_os_version,config_resolution,location_city,location_country,location_longitude,location_latitude
15,55,50,5,6,0,1,6,16,2,214,5,17.550862,50.649718
16,55,82,4,3,0,1,6,20,7,208,8,141.395842,-14.651877
17,55,82,1,2,0,1,6,5,1,266,2,-177.514029,24.193281
18,55,63,5,6,1,1,2,4,5,59,7,-152.348342,74.116989
19,55,18,5,1,0,1,1,0,16,42,4,-150.169149,9.429430

In [35]:
an=X_train[X_train['user_id'] == id]

In [36]:
an.shape

(22, 13)

In [37]:
data

[[55, 82, 1, 2, 0, 1, 6, 5, 1, 266, 2, -177.514029, 24.193281]]

In [38]:
columns = an.columns

In [39]:
data[0][1] in an['location_browser_lang'].unique()

True

In [40]:
an['location_browser_lang'].unique()

array([50, 82, 63, 18, 19, 15])

In [41]:

count=0
nott=0

for i in range(0,12):
    col = columns[i]
    if data[0][i] in an[col].unique():
        count=count+1
        
    else:    
        nott=nott+1
        print("here data is  "+str(data[0][i]) + "   and the dataframe is   "+str(an.iloc[i].unique())  )
        print("\n\n\n")

In [42]:
count

12

In [43]:
nott

0

In [44]:
data

[[55, 82, 1, 2, 0, 1, 6, 5, 1, 266, 2, -177.514029, 24.193281]]

In [45]:
# X_train.columns

In [46]:
df = X_train[['user_id', "location_browser_lang", "config_browser_engine", "config_browser_name", 
		"config_device_brand", "config_device_model", "config_os" , "config_os_version", 
		"config_resolution", "location_city", "location_country", "location_longitude",'location_latitude']]