In [1]:
import os,json
import pandas as pd
import csv 
import numpy as np

In [2]:
from pandas.io.json import json_normalize

In [3]:
path_to_json = './RBA_DATA/vikram/'

In [4]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)  # for me this prints ['foo.json']

['6.json', '3.json', '35.json', '28.json', '13.json', '22.json', '5.json', '32.json', '18.json', '30.json', '4.json', '24.json', '21.json', '20.json', '9.json', '17.json', '25.json', '8.json', '16.json', '23.json', '27.json', '2.json', '12.json', '11.json', '34.json', '19.json', '14.json', '10.json', '15.json', '7.json', '31.json', '1.json', '26.json', '33.json', '36.json', '37.json']

In [5]:
abs=os.getcwd()

In [6]:
abs

'/home/bluebricks/Desktop/fingerPrint/RBA'

In [7]:
with open(str(abs)+'/vikram/'+str(json_files[0])) as json_file: 
    data = json.load(json_file)

In [8]:
df = pd.DataFrame ( columns = data.keys())

In [9]:



for i in json_files:
    with open(str(abs)+'/vikram/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)
#         df=df.append(temp)
#         temp = temp.T
        df=df.append(temp)
#         df = df.T

/home/bluebricks/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [10]:
df

,Date and time,Device ip,Device velocity,Transaction ammount,Typing speed,Typing speed,User name,board,bootloader,brand,...,utsname.release:,utsname.sysname:,utsname.version:,version.baseOS,version.codename,version.incremental,version.previewSdkInt,version.release,version.sdkInt,version.securityPatch
0,08:20:10 Thu 23 Jan,10.1.0.250,"0.0,-0.3,-0.3",10,1.47368,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,06:56:36 Thu 30 Jan,null,"-0.2,-0.1,-0.3",20,3.5,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,22:36:27 Sun 26 Jan,10.238.99.167,"-0.1,0.0,-0.7",14,4.66667,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,20:54:28 Wed 29 Jan,null,"0.1,0.1,0.5",10,0.636364,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,14:26:44 Sun 26 Jan,192.168.20.7,"-0.0,-0.5,1.0",10,9.33333,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,19:53:05 Mon 27 Jan,192.168.20.7,"-0.2,0.6,1.5",10,4,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,08:17:15 Thu 23 Jan,10.1.0.250,"-0.1,-0.0,-0.5",10,2.8,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,21:26:14 Thu 30 Jan,null,"-0.6,0.5,-0.3",5,1.64706,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,17:27:03 Sat 25 Jan,10.239.112.4,"0.0,-0.0,-0.8",12,4,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,21:06:27 Fri 24 Jan,192.168.20.7,"-0.1,-0.0,-1.7",8.5,1.16667,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,06:57:52 Thu 30 Jan,10.2.77.251,"-0.2,0.0,-0.4",10,5.6,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,20:34:48 Sun 2 Feb,null,"0.2,-0.1,0.6",12,5.6,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,19:29:00 Wed 29 Jan,null,"-0.4,0.1,0.6",11,0.383562,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,18:05:02 Sun 26 Jan,10.236.235.114,"-2.4,-1.0,0.8",10,5.6,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,10:50:13 Sat 1 Feb,10.1.0.250,-0.1-0.3-0.4,14,2.8,NaN,Vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,16:07:47 Thu 30 Jan,null,"-0.3,0.1,0.9",10,2.8,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,20:47:00 Fri 24 Jan,192.168.20.7,"0.2,0.2,-0.1",10,4.66667,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,09:39:10 Sun 26 Jan,192.168.20.7,"0.2,0.0,-1.3",10,2.54545,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,15:28:41 Mon 27 Jan,192.168.20.7,"-0.2,-0.0,0.0",17,4.66667,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,19:59:32 Sat 1 Feb,null,"-0.3,0.2,0.3",10,4.66667,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,20:53:32 Fri 24 Jan,192.168.20.7,"-1.0,1.0,0.4",8,0.848485,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,06:46:14 Sun 2 Feb,null,"0.1,0.2,0.2",12,NaN,3.5,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,12:20:47 Sun 26 Jan,192.168.20.7,"-0.1,-0.4,0.7",19,4.66667,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,12:08:36 Sat 1 Feb,10.1.0.250,"0.3,-0.2,-1.4",19,9.33333,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,22:33:56 Fri 24 Jan,192.168.20.7,"-0.4,0.3,-0.5",9,2.33333,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,18:00:08 Sat 25 Jan,10.239.112.4,"0.2,0.3,-1.0",3.45,4,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,15:02:28 Sat 1 Feb,10.140.195.140,"-0.1,0.1,0.6",9,2.54545,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,11:25:46 Thu 23 Jan,10.1.0.250,"0.1,0.1,-1.0",7,3.11111,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,15:25:39 Sun 26 Jan,192.168.20.7,"-0.2,0.3,-0.1",6.5,2.33333,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,09:32:52 Wed 12 Feb,null,"-0.1,0.1,0.4",10,7,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,21:17:15 Sat 1 Feb,null,"-0.0,0.0,0.3",12,2.54545,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,06:29:35 Sun 26 Jan,192.168.20.7,"-0.1,0.1,0.3",70,7,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,20:49:27 Fri 24 Jan,192.168.20.7,"-0.3,-0.1,0.8",6,2.54545,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,22:23:50 Sat 25 Jan,192.168.20.7,"-0.2,-0.4,.5",6,1.47368,NaN,vikram@blue-bricks.com,msm8952,0xB106,motorola,...,NaN,NaN,NaN,,REL,10,0,7.0,24,2017-09-01
0,23:34:41 Fri 31 Jan,null,"-0.1,-0.2,-0.4",12,5.6,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,23:39:38 Fri 31 Jan,null,"-0.0,-0.1,-0.3",10,5.6,NaN,vikram@blue-bricks.com,NaN,NaN,NaN,...,18.2.0,Darwin,Darwin Kernel Version 18.2.0: Mon Nov 12 20:32...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 0
Data columns (total 46 columns):
Date and time             36 non-null object
Device ip                 36 non-null object
Device velocity           36 non-null object
Transaction ammount       36 non-null object
Typing speed              35 non-null object
Typing speed              1 non-null float64
User name                 36 non-null object
board                     24 non-null object
bootloader                24 non-null object
brand                     24 non-null object
device                    24 non-null object
display                   24 non-null object
fingerprint               24 non-null object
hardware                  24 non-null object
host                      24 non-null object
id                        24 non-null object
identifierForVendor       12 non-null object
inclication               35 non-null object
inclication,              1 non-null object
isPhysicalDevice          36 non-null object
latitude                  12 non-null object
localizedModel            12 non-null object
longitude                 12 non-null object
longitude and latitude    24 non-null object
manufacturer              24 non-null object
model                     36 non-null object
name                      12 non-null object
product                   24 non-null object
supported32BitAbis        24 non-null object
supportedAbis             24 non-null object
systemName                12 non-null object
systemVersion             12 non-null object
tags                      24 non-null object
type                      24 non-null object
utsname.machine:          12 non-null object
utsname.nodename:         12 non-null object
utsname.release:          12 non-null object
utsname.sysname:          12 non-null object
utsname.version:          12 non-null object
version.baseOS            24 non-null object
version.codename          24 non-null object
version.incremental       24 non-null object
version.previewSdkInt     24 non-null object
version.release           24 non-null object
version.sdkInt            24 non-null object
version.securityPatch     24 non-null object
dtypes: float64(1), object(45)
memory usage: 13.2+ KB

In [12]:
df.isna().sum()

Date and time              0
Device ip                  0
Device velocity            0
Transaction ammount        0
Typing speed               1
Typing speed              35
User name                  0
board                     12
bootloader                12
brand                     12
device                    12
display                   12
fingerprint               12
hardware                  12
host                      12
id                        12
identifierForVendor       24
inclication                1
inclication,              35
isPhysicalDevice           0
latitude                  24
localizedModel            24
longitude                 24
longitude and latitude    12
manufacturer              12
model                      0
name                      24
product                   12
supported32BitAbis        12
supportedAbis             12
systemName                24
systemVersion             24
tags                      12
type                      12
utsname.machine:          24
utsname.nodename:         24
utsname.release:          24
utsname.sysname:          24
utsname.version:          24
version.baseOS            12
version.codename          12
version.incremental       12
version.previewSdkInt     12
version.release           12
version.sdkInt            12
version.securityPatch     12
dtype: int64

In [13]:
new_df=df.drop(labels=['identifierForVendor','inclication,','localizedModel','name','systemName','systemVersion','utsname.machine:','utsname.nodename:','utsname.release:','utsname.version:','utsname.sysname:','hardware'],axis=1)

In [14]:
new_df=new_df.drop([new_df.columns[5]],axis='columns')

In [15]:
new_df.isna().sum()

Date and time              0
Device ip                  0
Device velocity            0
Transaction ammount        0
Typing speed               1
User name                  0
board                     12
bootloader                12
brand                     12
device                    12
display                   12
fingerprint               12
host                      12
id                        12
inclication                1
isPhysicalDevice           0
latitude                  24
longitude                 24
longitude and latitude    12
manufacturer              12
model                      0
product                   12
supported32BitAbis        12
supportedAbis             12
tags                      12
type                      12
version.baseOS            12
version.codename          12
version.incremental       12
version.previewSdkInt     12
version.release           12
version.sdkInt            12
version.securityPatch     12
dtype: int64

# Date and time

In [16]:
new_df['Date and time']= df["Date and time"].astype(str) 

start, stop, step = 0, -17, 1

new_df["Date and time"]= df["Date and time"].str.slice(start, stop, step)

In [17]:
new_df["Date and time"]= new_df["Date and time"].astype(int)

In [18]:
new_df["Date and time"]

0     8
0     6
0    22
0    20
0    14
0    19
0     8
0    21
0    17
0    21
0     6
0     2
0    19
0    18
0     1
0    16
0    20
0     9
0    15
0     1
0    20
0     0
0    12
0     1
0    22
0    18
0     1
0    11
0    15
0     9
0     2
0     6
0    20
0    22
0    23
0    23
Name: Date and time, dtype: int64

# Device ip

In [19]:
new_df['Device ip'].isnull().sum()

0

In [20]:

value  = df['Device ip'].mode()
value

0    192.168.20.7
dtype: object

In [21]:

new_df['Device ip'] = df['Device ip'].replace(to_replace ='null', value = value, regex = True)
new_df['Device ip'] = new_df['Device ip'].astype(str)

In [22]:
new_df['Device ip']

0        10.1.0.250
0      192.168.20.7
0     10.238.99.167
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0        10.1.0.250
0      192.168.20.7
0      10.239.112.4
0      192.168.20.7
0       10.2.77.251
0      192.168.20.7
0      192.168.20.7
0    10.236.235.114
0        10.1.0.250
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0        10.1.0.250
0      192.168.20.7
0      10.239.112.4
0    10.140.195.140
0        10.1.0.250
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
0      192.168.20.7
Name: Device ip, dtype: object

# Device velocity

In [23]:
new_df['Device velocity'].isnull().sum()

0

In [23]:
# new_df['Device velocity'].iloc[-1] = '0'

In [24]:
q = new_df['Device velocity']

In [25]:
new_df['Device velocity']=new_df['Device velocity'].replace(to_replace='-0.1-0.3-0.4',value='-0.1,-0.3,-0.4')

In [26]:
q

0     0.0,-0.3,-0.3
0    -0.2,-0.1,-0.3
0     -0.1,0.0,-0.7
0       0.1,0.1,0.5
0     -0.0,-0.5,1.0
0      -0.2,0.6,1.5
0    -0.1,-0.0,-0.5
0     -0.6,0.5,-0.3
0     0.0,-0.0,-0.8
0    -0.1,-0.0,-1.7
0     -0.2,0.0,-0.4
0      0.2,-0.1,0.6
0      -0.4,0.1,0.6
0     -2.4,-1.0,0.8
0    -0.1,-0.3,-0.4
0      -0.3,0.1,0.9
0      0.2,0.2,-0.1
0      0.2,0.0,-1.3
0     -0.2,-0.0,0.0
0      -0.3,0.2,0.3
0      -1.0,1.0,0.4
0       0.1,0.2,0.2
0     -0.1,-0.4,0.7
0     0.3,-0.2,-1.4
0     -0.4,0.3,-0.5
0      0.2,0.3,-1.0
0      -0.1,0.1,0.6
0      0.1,0.1,-1.0
0     -0.2,0.3,-0.1
0      -0.1,0.1,0.4
0      -0.0,0.0,0.3
0      -0.1,0.1,0.3
0     -0.3,-0.1,0.8
0      -0.2,-0.4,.5
0    -0.1,-0.2,-0.4
0    -0.0,-0.1,-0.3
Name: Device velocity, dtype: object

In [95]:
import re
my_list = [] 
import math


x = []
for i in q:
    a  = re.split(',',i)
    su = 0.0
    print(a)
    for z  in a :
        su = su + float(z)
    su  = math.floor(su)
    print(su)
    my_list.append(su)

['0.0', '-0.3', '-0.3']
-1
['-0.2', '-0.1', '-0.3']
-1
['-0.1', '0.0', '-0.7']
-1
['0.1', '0.1', '0.5']
0
['-0.0', '-0.5', '1.0']
0
['-0.2', '0.6', '1.5']
1
['-0.1', '-0.0', '-0.5']
-1
['-0.6', '0.5', '-0.3']
-1
['0.0', '-0.0', '-0.8']
-1
['-0.1', '-0.0', '-1.7']
-2
['-0.2', '0.0', '-0.4']
-1
['0.2', '-0.1', '0.6']
0
['-0.4', '0.1', '0.6']
0
['-2.4', '-1.0', '0.8']
-3
['-0.1', '-0.3', '-0.4']
-1
['-0.3', '0.1', '0.9']
0
['0.2', '0.2', '-0.1']
0
['0.2', '0.0', '-1.3']
-2
['-0.2', '-0.0', '0.0']
-1
['-0.3', '0.2', '0.3']
0
['-1.0', '1.0', '0.4']
0
['0.1', '0.2', '0.2']
0
['-0.1', '-0.4', '0.7']
0
['0.3', '-0.2', '-1.4']
-2
['-0.4', '0.3', '-0.5']
-1
['0.2', '0.3', '-1.0']
-1
['-0.1', '0.1', '0.6']
0
['0.1', '0.1', '-1.0']
-1
['-0.2', '0.3', '-0.1']
-1
['-0.1', '0.1', '0.4']
0
['-0.0', '0.0', '0.3']
0
['-0.1', '0.1', '0.3']
0
['-0.3', '-0.1', '0.8']
0
['-0.2', '-0.4', '.5']
-1
['-0.1', '-0.2', '-0.4']
-1
['-0.0', '-0.1', '-0.3']
-1

In [96]:
print(my_list)

[-1, -1, -1, 0, 0, 1, -1, -1, -1, -2, -1, 0, 0, -3, -1, 0, 0, -2, -1, 0, 0, 0, 0, -2, -1, -1, 0, -1, -1, 0, 0, 0, 0, -1, -1, -1]

In [97]:
df2  = new_df.assign(Device_velocity = my_list)

In [98]:
new_df = df2

In [99]:
del df['Device velocity']

# Transaction ammount

In [28]:
new_df['Transaction ammount'].isnull().sum()

0

In [29]:
new_df['Transaction ammount']

0      10
0      20
0      14
0      10
0      10
0      10
0      10
0       5
0      12
0     8.5
0      10
0      12
0      11
0      10
0      14
0      10
0      10
0      10
0      17
0      10
0       8
0      12
0      19
0      19
0       9
0    3.45
0       9
0       7
0     6.5
0      10
0      12
0      70
0       6
0       6
0      12
0      10
Name: Transaction ammount, dtype: object

# Typing speed

In [30]:
new_df['Typing speed'].isnull().sum()

1

In [31]:
new_df['Typing speed'] = new_df['Typing speed'].fillna(df['Typing speed'].mode())

In [32]:
new_df['Typing speed']

0     1.47368
0         3.5
0     4.66667
0    0.636364
0     9.33333
0           4
0         2.8
0     1.64706
0           4
0     1.16667
0         5.6
0         5.6
0    0.383562
0         5.6
0         2.8
0         2.8
0     4.66667
0     2.54545
0     4.66667
0     4.66667
0    0.848485
0     4.66667
0     4.66667
0     9.33333
0     2.33333
0           4
0     2.54545
0     3.11111
0     2.33333
0           7
0     2.54545
0           7
0     2.54545
0     1.47368
0         5.6
0         5.6
Name: Typing speed, dtype: object

# User name

In [33]:
new_df['User name'].isnull().sum()

0

In [34]:
new_df= new_df.drop(labels='User name',axis=1)

# board

In [35]:
new_df['board'].isnull().sum()

12

In [36]:
new_df['board'] = new_df['board'].fillna(df['board'].mode())

# bootloader

In [37]:
new_df['bootloader'].isnull().sum()

12

In [38]:
new_df['bootloader'] = df['bootloader'].fillna(df['bootloader'].mode())

In [39]:
new_df['bootloader']

0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
0    0xB106
Name: bootloader, dtype: object

# brand

In [40]:
new_df['brand'].isnull().sum()

12

In [41]:

new_df['brand'] = df['brand'].fillna(df['brand'].mode())

In [42]:
new_df['brand']

0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
Name: brand, dtype: object

# device

In [43]:
new_df['device'].isnull().sum()

12

In [44]:
new_df['device'] = df['device'].fillna(df['device'].mode())

In [45]:
new_df['device']

0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
Name: device, dtype: object

# display

In [46]:
new_df['display'].isnull().sum()

12

In [47]:
new_df['display'] = df['display'].fillna(df['display'].mode())

In [48]:
new_df['display']

0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
Name: display, dtype: object

# fingerprint

In [49]:
new_df['fingerprint'] = df['fingerprint'].fillna(df['fingerprint'].mode())

In [50]:
new_df['fingerprint']

0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
Name: fingerprint, dtype: object

# hardware

In [51]:
###########DROPPED

# host

In [52]:
new_df['host'] = df['host'].fillna(df['host'].mode())

In [53]:
new_df['host']

0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
Name: host, dtype: object

# id

In [54]:
new_df['id'].isna().sum()

12

In [55]:
new_df['id'] = df['id'].fillna(df['id'].mode())

In [56]:
new_df['id']

0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
Name: id, dtype: object

# inclication

In [57]:
new_df['inclication'].isna().sum()

1

In [58]:
new_df['inclication'] = df['inclication'].fillna(method = 'ffill')

In [59]:
import re
my_list = [] 
import math



x = []
for i in new_df['inclication']:
    a  = re.split(',',i)
    su = 0.0
    print(a)
    for z  in a :
        su = su + float(z)
    su  = math.floor(su)
    print(su)
    my_list.append(su)

['0.6', '6.4', '6.8']
13
['0.7', '4.5', '8.2']
13
['0.5', '6.0', '7.0']
13
['0.5', '5.2', '8.6']
14
['-1.5', '6.7', '7.5']
12
['-1.2', '7.9', '8.0']
14
['-0.1', '7.2', '6.1']
13
['-3.3', '5.3', '7.8']
9
['-0.8', '8.6', '3.7']
11
['0.3', '5.6', '6.3']
12
['-0.3', '4.6', '8.2']
12
['0.6', '8.8', '4.5']
13
['1.4', '8.5', '5.4']
15
['-3.4', '6.1', '7.5']
10
['-0.1', '6.7', '6.4']
13
['-2.1', '6.3', '8.2']
12
['-1.3', '6.2', '7.6']
12
['0.2', '6.2', '6.4']
12
['0.5', '7.5', '6.2']
14
['-1.6', '9.0', '3.4']
10
['-1.8', '6.3', '8.6']
13
['1.2', '3.5', '9.4']
14
['-0.4', '6.6', '7.6']
13
['1.0', '6.7', '5.6']
13
['-1.9', '7.9', '5.5']
11
['1.4', '8.1', '4.8']
14
['-0.5', '5.5', '8.8']
13
['2.7', '5.9', '6.6']
15
['0.9', '6.6', '7.2']
14
['1.6', '6.7', '7.1']
15
['-0.2', '6.6', '7.5']
13
['-0.1', '5.3', '8.7']
13
['-1.5', '8.2', '5.9']
12
['-1.5', '8.2', '5.9']
12
['2.1', '5.9', '6.9']
14
['1.5', '5.9', '7.3']
14

In [60]:
df2  = new_df.assign(inclined = my_list)


new_df = df2

del new_df['inclication']
new_df['inclined']

0    13
0    13
0    13
0    14
0    12
0    14
0    13
0     9
0    11
0    12
0    12
0    13
0    15
0    10
0    13
0    12
0    12
0    12
0    14
0    10
0    13
0    14
0    13
0    13
0    11
0    14
0    13
0    15
0    14
0    15
0    13
0    13
0    12
0    12
0    14
0    14
Name: inclined, dtype: int64

# isPhysicalDevice

In [61]:
# new_df=new_df.drop(labels='isPhysicalDevice',axis=1)

del new_df['isPhysicalDevice']

# latitude

In [62]:
new_df['latitude']

0                    NaN
0                   null
0                    NaN
0    -32.060216283455546
0                    NaN
0                    NaN
0                    NaN
0    -31.961822547048293
0                    NaN
0                    NaN
0                    NaN
0     -32.06012672282016
0      -32.0601685904265
0                    NaN
0                    NaN
0                   null
0                    NaN
0                    NaN
0                    NaN
0     -32.06026406030362
0                    NaN
0     -32.06011427569395
0                    NaN
0                    NaN
0                    NaN
0                    NaN
0                    NaN
0                    NaN
0                    NaN
0                   null
0                   null
0                    NaN
0                    NaN
0                    NaN
0     -32.06023472364252
0                   null
Name: latitude, dtype: object

In [63]:
df['latitude'] = df['latitude'].fillna(0)
value = 0
new_df['latitude'] = df['latitude'].replace(to_replace ='null', value = value, regex = True)
new_df['latitude'] = new_df['latitude'].astype(float)
# new_df['latitude'] = new_df['latitude'].fillna(new_df['latitude'].mode())
new_df['latitude'] = new_df['latitude'].replace(to_replace =0.000000, value = -32.060216, regex = True)
new_df['latitude']

0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -31.961823
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060127
0   -32.060169
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060264
0   -32.060216
0   -32.060114
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060216
0   -32.060235
0   -32.060216
Name: latitude, dtype: float64

# longitude

In [64]:
new_df['longitude']= df["longitude"]

In [65]:
new_df['longitude'].fillna(115, inplace=True)

In [66]:
new_df['longitude'] = new_df['longitude'].replace(to_replace="null",value=115)

In [67]:
new_df['longitude']

0                   115
0                   115
0                   115
0    115.86610266018273
0                   115
0                   115
0                   115
0    115.84721513103307
0                   115
0                   115
0                   115
0    115.86578180092933
0    115.86601465019943
0                   115
0                   115
0                   115
0                   115
0                   115
0                   115
0    115.86614850919308
0                   115
0    115.86587601352097
0                   115
0                   115
0                   115
0                   115
0                   115
0                   115
0                   115
0                   115
0                   115
0                   115
0                   115
0                   115
0    115.86603635932865
0                   115
Name: longitude, dtype: object

In [68]:
import math
my_list = []
for i in new_df['longitude']:
    p = math.floor(float(i))
    print(p)
    my_list.append(p)

115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115
115

In [69]:
df2  = new_df.assign(long = my_list)


new_df = df2

del new_df['longitude']
new_df['long']

0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
0    115
Name: long, dtype: int64

In [70]:
new_df

,Date and time,Device ip,Device velocity,Transaction ammount,Typing speed,board,bootloader,brand,device,display,...,type,version.baseOS,version.codename,version.incremental,version.previewSdkInt,version.release,version.sdkInt,version.securityPatch,inclined,long
0,8,10.1.0.250,"0.0,-0.3,-0.3",10,1.47368,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,6,192.168.20.7,"-0.2,-0.1,-0.3",20,3.5,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,115
0,22,10.238.99.167,"-0.1,0.0,-0.7",14,4.66667,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,20,192.168.20.7,"0.1,0.1,0.5",10,0.636364,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,115
0,14,192.168.20.7,"-0.0,-0.5,1.0",10,9.33333,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,12,115
0,19,192.168.20.7,"-0.2,0.6,1.5",10,4,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,14,115
0,8,10.1.0.250,"-0.1,-0.0,-0.5",10,2.8,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,21,192.168.20.7,"-0.6,0.5,-0.3",5,1.64706,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,115
0,17,10.239.112.4,"0.0,-0.0,-0.8",12,4,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,11,115
0,21,192.168.20.7,"-0.1,-0.0,-1.7",8.5,1.16667,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,12,115
0,6,10.2.77.251,"-0.2,0.0,-0.4",10,5.6,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,12,115
0,2,192.168.20.7,"0.2,-0.1,0.6",12,5.6,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,115
0,19,192.168.20.7,"-0.4,0.1,0.6",11,0.383562,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,115
0,18,10.236.235.114,"-2.4,-1.0,0.8",10,5.6,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,10,115
0,1,10.1.0.250,"-0.1,-0.3,-0.4",14,2.8,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,16,192.168.20.7,"-0.3,0.1,0.9",10,2.8,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,115
0,20,192.168.20.7,"0.2,0.2,-0.1",10,4.66667,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,12,115
0,9,192.168.20.7,"0.2,0.0,-1.3",10,2.54545,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,12,115
0,15,192.168.20.7,"-0.2,-0.0,0.0",17,4.66667,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,14,115
0,1,192.168.20.7,"-0.3,0.2,0.3",10,4.66667,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,115
0,20,192.168.20.7,"-1.0,1.0,0.4",8,0.848485,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,0,192.168.20.7,"0.1,0.2,0.2",12,4.66667,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,115
0,12,192.168.20.7,"-0.1,-0.4,0.7",19,4.66667,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,1,10.1.0.250,"0.3,-0.2,-1.4",19,9.33333,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,22,192.168.20.7,"-0.4,0.3,-0.5",9,2.33333,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,11,115
0,18,10.239.112.4,"0.2,0.3,-1.0",3.45,4,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,14,115
0,1,10.140.195.140,"-0.1,0.1,0.6",9,2.54545,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,11,10.1.0.250,"0.1,0.1,-1.0",7,3.11111,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,15,115
0,15,192.168.20.7,"-0.2,0.3,-0.1",6.5,2.33333,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,14,115
0,9,192.168.20.7,"-0.1,0.1,0.4",10,7,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,115
0,2,192.168.20.7,"-0.0,0.0,0.3",12,2.54545,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,115
0,6,192.168.20.7,"-0.1,0.1,0.3",70,7,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,13,115
0,20,192.168.20.7,"-0.3,-0.1,0.8",6,2.54545,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,12,115
0,22,192.168.20.7,"-0.2,-0.4,.5",6,1.47368,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,user,,REL,10,0,7.0,24,2017-09-01,12,115
0,23,192.168.20.7,"-0.1,-0.2,-0.4",12,5.6,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,115
0,23,192.168.20.7,"-0.0,-0.1,-0.3",10,5.6,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,115

# longitude and latitude

In [71]:
new_df=new_df.drop(labels=['longitude and latitude'],axis=1)

In [72]:
new_df = new_df.drop(labels=['product','supported32BitAbis','supportedAbis','tags','type','version.baseOS','version.codename','version.incremental','version.previewSdkInt','version.release','version.sdkInt','version.securityPatch'],axis=1)

In [73]:
for ind,column in enumerate(new_df.columns):
    print(ind,column)

0 Date and time
1 Device ip
2 Device velocity
3 Transaction ammount
4 Typing speed
5 board
6 bootloader
7 brand
8 device
9 display
10 fingerprint
11 host
12 id
13 latitude
14 manufacturer
15 model
16 inclined
17 long

In [74]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 0
Data columns (total 18 columns):
Date and time          36 non-null int64
Device ip              36 non-null object
Device velocity        36 non-null object
Transaction ammount    36 non-null object
Typing speed           36 non-null object
board                  36 non-null object
bootloader             36 non-null object
brand                  36 non-null object
device                 36 non-null object
display                36 non-null object
fingerprint            36 non-null object
host                   36 non-null object
id                     36 non-null object
latitude               36 non-null float64
manufacturer           24 non-null object
model                  36 non-null object
inclined               36 non-null int64
long                   36 non-null int64
dtypes: float64(1), int64(3), object(14)
memory usage: 5.3+ KB

In [75]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
new_df['Device ip'] = le.fit_transform(new_df['Device ip'])

In [76]:
new_df['Device ip'].value_counts()

7    24
1     5
6     2
5     1
4     1
3     1
2     1
0     1
Name: Device ip, dtype: int64

In [77]:
################################################################################################################

In [78]:
################################################################################################################

new_df['Transaction ammount']=new_df['Transaction ammount'].astype(str)
new_df['Transaction ammount']=new_df['Transaction ammount'].astype(float)
new_df['Transaction ammount']

0    10.00
0    20.00
0    14.00
0    10.00
0    10.00
0    10.00
0    10.00
0     5.00
0    12.00
0     8.50
0    10.00
0    12.00
0    11.00
0    10.00
0    14.00
0    10.00
0    10.00
0    10.00
0    17.00
0    10.00
0     8.00
0    12.00
0    19.00
0    19.00
0     9.00
0     3.45
0     9.00
0     7.00
0     6.50
0    10.00
0    12.00
0    70.00
0     6.00
0     6.00
0    12.00
0    10.00
Name: Transaction ammount, dtype: float64

In [79]:
################################################################################################################
new_df['Typing speed']=new_df['Typing speed'].astype(str)
new_df['Typing speed']=new_df['Typing speed'].astype(float)
new_df['Typing speed']

0    1.473684
0    3.500000
0    4.666667
0    0.636364
0    9.333333
0    4.000000
0    2.800000
0    1.647059
0    4.000000
0    1.166667
0    5.600000
0    5.600000
0    0.383562
0    5.600000
0    2.800000
0    2.800000
0    4.666667
0    2.545455
0    4.666667
0    4.666667
0    0.848485
0    4.666667
0    4.666667
0    9.333333
0    2.333333
0    4.000000
0    2.545455
0    3.111111
0    2.333333
0    7.000000
0    2.545455
0    7.000000
0    2.545455
0    1.473684
0    5.600000
0    5.600000
Name: Typing speed, dtype: float64

In [80]:
################################################################################################################
new_df['board']=new_df['board'].astype(str)
new_df['board'] = le.fit_transform(new_df['board'])
new_df['board']

0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
Name: board, dtype: int64

In [81]:
################################################################################################################
new_df['bootloader']=new_df['bootloader'].astype(str)
new_df['bootloader'] = le.fit_transform(new_df['bootloader'])
new_df['bootloader']

0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
Name: bootloader, dtype: int64

In [82]:
################################################################################################################
new_df['brand']=new_df['brand'].astype(str)
new_df['brand'] = le.fit_transform(new_df['brand'])
new_df['brand']

0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
Name: brand, dtype: int64

In [83]:
################################################################################################################
new_df['device']=new_df['device'].astype(str)
new_df['device'] = le.fit_transform(new_df['device'])
new_df['device']

0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
Name: device, dtype: int64

In [84]:
################################################################################################################
new_df['display']=new_df['display'].astype(str)
new_df['display'] = le.fit_transform(new_df['display'])
new_df['display']

0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
Name: display, dtype: int64

In [85]:
################################################################################################################
new_df['fingerprint']=new_df['fingerprint'].astype(str)
new_df['fingerprint'] = le.fit_transform(new_df['fingerprint'])
new_df['fingerprint']

0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
Name: fingerprint, dtype: int64

In [86]:
################################################################################################################
new_df['host']=new_df['host'].astype(str)
new_df['host'] = le.fit_transform(new_df['host'])
new_df['host']

0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
Name: host, dtype: int64

In [87]:
################################################################################################################
new_df['id']=new_df['id'].astype(str)
new_df['id'] = le.fit_transform(new_df['id'])
new_df['id']

0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    0
Name: id, dtype: int64

In [88]:
################################################################################################################
# new_df['manufacturer'].isna().sum()
new_df['manufacturer'] = new_df['manufacturer'].fillna(df['manufacturer'].mode())
new_df['manufacturer']=new_df['manufacturer'].astype(str)
new_df['manufacturer'] = le.fit_transform(new_df['manufacturer'])

In [89]:
################################################################################################################

# new_df['model'] = new_df['model'].fillna(df['model'].mode())
new_df['model']=new_df['model'].astype(str)
new_df['model'] = le.fit_transform(new_df['model'])
new_df['model']

0    0
0    1
0    0
0    1
0    0
0    0
0    0
0    1
0    0
0    0
0    0
0    1
0    1
0    0
0    0
0    1
0    0
0    0
0    0
0    1
0    0
0    1
0    0
0    0
0    0
0    0
0    0
0    0
0    0
0    1
0    1
0    0
0    0
0    0
0    1
0    1
Name: model, dtype: int64

In [100]:
# new_df['Device velocity']=new_df['Device velocity'].astype(str)
new_df['Device_velocity']

0   -1
0   -1
0   -1
0    0
0    0
0    1
0   -1
0   -1
0   -1
0   -2
0   -1
0    0
0    0
0   -3
0   -1
0    0
0    0
0   -2
0   -1
0    0
0    0
0    0
0    0
0   -2
0   -1
0   -1
0    0
0   -1
0   -1
0    0
0    0
0    0
0    0
0   -1
0   -1
0   -1
Name: Device_velocity, dtype: int64

In [101]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 0
Data columns (total 19 columns):
Date and time          36 non-null int64
Device ip              36 non-null int64
Device velocity        36 non-null object
Transaction ammount    36 non-null float64
Typing speed           36 non-null float64
board                  36 non-null int64
bootloader             36 non-null int64
brand                  36 non-null int64
device                 36 non-null int64
display                36 non-null int64
fingerprint            36 non-null int64
host                   36 non-null int64
id                     36 non-null int64
latitude               36 non-null float64
manufacturer           36 non-null int64
model                  36 non-null int64
inclined               36 non-null int64
long                   36 non-null int64
Device_velocity        36 non-null int64
dtypes: float64(3), int64(15), object(1)
memory usage: 5.6+ KB