In [1]:
import os,json
import pandas as pd
import csv 
import numpy as np
import matplotlib.font_manager
from sklearn import svm

In [2]:
from pandas.io.json import json_normalize

In [3]:
path_to_json = './RBA_DATA/vikram/'

In [4]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)  # for me this prints ['foo.json']

['35.json', '17.json', '5.json', '23.json', '10.json', '2.json', '37.json', '9.json', '24.json', '18.json', '36.json', '30.json', '15.json', '26.json', '1.json', '21.json', '4.json', '13.json', '22.json', '11.json', '7.json', '25.json', '14.json', '20.json', '33.json', '32.json', '12.json', '6.json', '8.json', '19.json', '27.json', '16.json', '34.json', '31.json', '3.json', '28.json']

In [5]:
abs=os.getcwd()

In [6]:
abs

'/home/bhrt/Documents/RBA/Risk-Based-Authetication'

In [7]:
with open(str(abs)+'/vikram/'+str(json_files[0])) as json_file: 
    data = json.load(json_file)

In [8]:
df = pd.DataFrame ( columns = data.keys())

In [9]:
for i in json_files:
    with open(str(abs)+'/vikram/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)
#         df=df.append(temp)
#         temp = temp.T
        df=df.append(temp)
#         df = df.T

/home/bhrt/.local/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [10]:
df['latitude']=32

In [11]:
df['longitude']=115

In [12]:
path_to_json = './RBA_DATA/mukunda/'

In [13]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)  # for me this prints ['foo.json']

['17.json', '5.json', '10.json', '2.json', '9.json', '18.json', '15.json', '1.json', '21.json', '4.json', '13.json', '11.json', '7.json', '14.json', '20.json', '12.json', '6.json', '8.json', '19.json', '16.json', '3.json']

In [14]:
for i in json_files:
    with open(str(abs)+'/mukunda/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)
#         df=df.append(temp)
#         temp = temp.T
        df=df.append(temp)
#         df = df.T

In [15]:
path_to_json = './RBA_DATA/raunak/'

In [16]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)  # for me this prints ['foo.json']

['17.json', '5.json', '23.json', '2.json', '9.json', '24.json', '18.json', '15.json', '26.json', '1.json', '21.json', '4.json', '13.json', '22.json', '11.json', '7.json', '29.json', '25.json', '14.json', '20.json', '12.json', '6.json', '8.json', '19.json', '27.json', '16.json', '3.json', '28.json']

In [17]:
for i in json_files:
    with open(str(abs)+'/RBA_DATA/raunak/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)
#         df=df.append(temp)
#         temp = temp.T
        df=df.append(temp)
#         df = df.T

In [18]:
df.shape

(85, 47)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 0
Data columns (total 47 columns):
Date and time             85 non-null object
Device ip                 85 non-null object
Device velocity           85 non-null object
Transaction ammount       85 non-null object
Typing speed              84 non-null object
Typing speed              1 non-null float64
User name                 84 non-null object
board                     73 non-null object
bootloader                73 non-null object
brand                     73 non-null object
device                    73 non-null object
display                   73 non-null object
fingerprint               73 non-null object
hardware                  73 non-null object
host                      73 non-null object
id                        73 non-null object
identifierForVendor       12 non-null object
inclication               84 non-null object
inclication,              1 non-null object
isPhysicalDevice          85 non-null object
latitude                  46 non-null object
localizedModel            12 non-null object
longitude                 46 non-null object
longitude and latitude    63 non-null object
manufacturer              73 non-null object
model                     85 non-null object
name                      12 non-null object
product                   73 non-null object
supported32BitAbis        73 non-null object
supported64BitAbis        21 non-null object
supportedAbis             73 non-null object
systemName                12 non-null object
systemVersion             12 non-null object
tags                      73 non-null object
type                      73 non-null object
utsname.machine:          12 non-null object
utsname.nodename:         12 non-null object
utsname.release:          12 non-null object
utsname.sysname:          12 non-null object
utsname.version:          12 non-null object
version.baseOS            73 non-null object
version.codename          73 non-null object
version.incremental       73 non-null object
version.previewSdkInt     73 non-null object
version.release           73 non-null object
version.sdkInt            73 non-null object
version.securityPatch     73 non-null object
dtypes: float64(1), object(46)
memory usage: 31.9+ KB

In [20]:
df.isna().sum()

Date and time              0
Device ip                  0
Device velocity            0
Transaction ammount        0
Typing speed               1
Typing speed              84
User name                  1
board                     12
bootloader                12
brand                     12
device                    12
display                   12
fingerprint               12
hardware                  12
host                      12
id                        12
identifierForVendor       73
inclication                1
inclication,              84
isPhysicalDevice           0
latitude                  39
localizedModel            73
longitude                 39
longitude and latitude    22
manufacturer              12
model                      0
name                      73
product                   12
supported32BitAbis        12
supported64BitAbis        64
supportedAbis             12
systemName                73
systemVersion             73
tags                      12
type                      12
utsname.machine:          73
utsname.nodename:         73
utsname.release:          73
utsname.sysname:          73
utsname.version:          73
version.baseOS            12
version.codename          12
version.incremental       12
version.previewSdkInt     12
version.release           12
version.sdkInt            12
version.securityPatch     12
dtype: int64

In [21]:
new_df=df.drop(labels=['identifierForVendor','inclication,','localizedModel','name','systemName','systemVersion','utsname.machine:','utsname.nodename:','utsname.release:','utsname.version:','utsname.sysname:','hardware'],axis=1)

In [22]:
new_df=new_df.drop([new_df.columns[5]],axis='columns')

In [23]:
new_df.isna().sum()

Date and time              0
Device ip                  0
Device velocity            0
Transaction ammount        0
Typing speed               1
User name                  1
board                     12
bootloader                12
brand                     12
device                    12
display                   12
fingerprint               12
host                      12
id                        12
inclication                1
isPhysicalDevice           0
latitude                  39
longitude                 39
longitude and latitude    22
manufacturer              12
model                      0
product                   12
supported32BitAbis        12
supported64BitAbis        64
supportedAbis             12
tags                      12
type                      12
version.baseOS            12
version.codename          12
version.incremental       12
version.previewSdkInt     12
version.release           12
version.sdkInt            12
version.securityPatch     12
dtype: int64

# Date and time

In [24]:
new_df['Date and time']= df["Date and time"].astype(str) 

start, stop, step = 0, -17, 1

new_df["Date and time"]= df["Date and time"].str.slice(start, stop, step)

In [25]:
new_df["Date and time"]= new_df["Date and time"].astype(int)

In [26]:
new_df["Date and time"]

0    22
0    16
0     8
0     1
0    11
     ..
0    12
0     0
0    13
0    13
0     9
Name: Date and time, Length: 85, dtype: int64

# Device ip

In [27]:
new_df['Device ip'].isnull().sum()

0

In [28]:
new_df['Device ip']

0    10.238.99.167
0             null
0       10.1.0.250
0             null
0       10.1.0.250
         ...
0    192.168.0.119
0    192.168.0.138
0     25.22.227.50
0     25.22.227.50
0     25.22.227.50
Name: Device ip, Length: 85, dtype: object

In [29]:
new_df['Device ip'] = df['Device ip'].replace(to_replace = "null", value = None, regex = True)

In [30]:
# new_df['Device ip'] = df['Device ip'].fillna(method = 'ffill')

In [31]:

# value  = df['Device ip'].mode()
# value

In [32]:

# new_df['Device ip'] = df['Device ip'].replace(to_replace ='null', value = value, regex = True)
new_df['Device ip'] = new_df['Device ip'].astype(str)

In [33]:
new_df['Device ip']

0    10.238.99.167
0    10.238.99.167
0       10.1.0.250
0       10.1.0.250
0       10.1.0.250
         ...
0    192.168.0.119
0    192.168.0.138
0     25.22.227.50
0     25.22.227.50
0     25.22.227.50
Name: Device ip, Length: 85, dtype: object

# Device velocity

In [34]:
new_df['Device velocity'].isnull().sum()

0

In [35]:
# new_df['Device velocity'].iloc[-1] = '0'

In [36]:
q = new_df['Device velocity']

In [37]:
new_df['Device velocity']=new_df['Device velocity'].replace(to_replace='-0.1-0.3-0.4',value='-0.1,-0.3,-0.4')

In [38]:

new_df['Device velocity']=new_df['Device velocity'].replace(to_replace='0.10.4',value='0.1,0,0.4')

In [39]:
q

0     -0.1,0.0,-0.7
0      -0.3,0.1,0.9
0    -0.1,-0.0,-0.5
0      -0.3,0.2,0.3
0      0.1,0.1,-1.0
          ...
0       0.0,0.0,0.0
0     0.0,-0.1,-0.3
0       0.1,0.2,0.1
0       0.6,0.6,1.0
0       0.1,0.2,0.9
Name: Device velocity, Length: 85, dtype: object

In [40]:
import re
my_list = [] 
import math


x = []
for i in q:
    a  = re.split(',',i)
    su = 0.0
    print(a)
    for z  in a :
        su = su + float(z)
    su  = math.floor(su)
    print(su)
    my_list.append(su)

['-0.1', '0.0', '-0.7']
-1
['-0.3', '0.1', '0.9']
0
['-0.1', '-0.0', '-0.5']
-1
['-0.3', '0.2', '0.3']
0
['0.1', '0.1', '-1.0']
-1
['0.1', '0.2', '0.2']
0
['-0.0', '-0.1', '-0.3']
-1
['-0.1', '-0.3', '-0.4']
-1
['0.2', '-0.1', '0.6']
0
['0.0', '-0.0', '-0.8']
-1
['-0.1', '-0.2', '-0.4']
-1
['-0.1', '-0.0', '-1.7']
-2
['-0.2', '0.3', '-0.1']
-1
['-0.3', '-0.1', '0.8']
0
['-0.1', '0.1', '0.3']
0
['-0.4', '0.1', '0.6']
0
['-0.2', '0.0', '-0.4']
-1
['-0.0', '-0.5', '1.0']
0
['-0.2', '0.6', '1.5']
1
['0.3', '-0.2', '-1.4']
-2
['-0.1', '0.1', '0.4']
0
['0.2', '0.2', '-0.1']
0
['-0.1', '0.1', '0.6']
0
['-2.4', '-1.0', '0.8']
-3
['-0.2', '-0.4', '.5']
-1
['-0.6', '0.5', '-0.3']
-1
['-0.1', '-0.4', '0.7']
0
['0.0', '-0.3', '-0.3']
-1
['0.2', '0.0', '-1.3']
-2
['0.2', '0.3', '-1.0']
-1
['-1.0', '1.0', '0.4']
0
['-0.2', '-0.0', '0.0']
-1
['-0.4', '0.3', '-0.5']
-1
['-0.0', '0.0', '0.3']
0
['-0.2', '-0.1', '-0.3']
-1
['0.1', '0.1', '0.5']
0
['0.2', '0.4', '-0.1']
0
['-0.2', '-0.0', '-0.0']
-1
['0.1', '0.1', '-0.1']
0
['-0.2', '0.1', '0.0']
-1
['0.2', '-0.1', '0.1']
0
['0.1', '0.0', '0.1']
0
['0.1', '-0.0', '-0.1']
0
['-0.2', '0.4', '-0.3']
-1
['-0.1', '0.0', '0.0']
-1
['-0.2', '0.2', '-0.2']
-1
['0.1', '0.0', '0.0']
0
['0.0', '0.0', '-0.0']
0
['0.1', '-0.1', '0.2']
0
['0.0', '0.1', '-0.2']
-1
['0.0', '-0.1', '-0.3']
-1
['0.0', '0.0', '0.0']
0
['0.2', '0.1', '-0.1']
0
['0.1', '-0.2', '0.2']
0
['0.0', '-0.0', '-0.0']
0
['0.1', '0.0', '-0.0']
0
['0.2', '0.1', '0.0']
0
['0.1', '0.2', '0.9']
1
['0.7', '0.0', '0.5']
1
['0.0', '0.2', '-0.1']
0
['-0.1', '0.0', '0.1']
0
['0.1', '0.1', '0.5']
0
['0.0', '0.2', '-0.2']
0
['0.3', '0.2', '0.4']
0
['0.0', '0.1', '0.1']
0
['0.1', '0.0', '0.2']
0
['0.5', '0.6', '1.1']
2
['0.0', '0.0', '0.2']
0
['0.0', '0.3', '0.8']
1
['0.2', '0.0', '1.3']
1
['-0.0', '0.1', '-0.4']
-1
[' 0.6', '0.0', '0.2']
0
['0.2', '0.2', '0.1']
0
['-0.1', '-0.1', '0.4']
0
['0.0', '0.1', '0.4']
0
['0.1', '0.0', '0.4']
0
['0.1', '0.0', '0.4']
0
['0.1', '0.2', '0.9']
1
['0.3', '0.0', '0.9']
1
['0.2', '0.2', '0.1']
0
['0.0', '0.0', '0.0']
0
['0.0', '-0.1', '-0.3']
-1
['0.1', '0.2', '0.1']
0
['0.6', '0.6', '1.0']
2
['0.1', '0.2', '0.9']
1

In [41]:
print(my_list)

[-1, 0, -1, 0, -1, 0, -1, -1, 0, -1, -1, -2, -1, 0, 0, 0, -1, 0, 1, -2, 0, 0, 0, -3, -1, -1, 0, -1, -2, -1, 0, -1, -1, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, -1, -1, -1, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 1, -1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, -1, 0, 2, 1]

In [42]:
df2  = new_df.assign(Device_velocity = my_list)

In [43]:
new_df = df2

In [44]:
del df['Device velocity']

# Transaction ammount

In [45]:
new_df['Transaction ammount'].isnull().sum()

0

In [46]:
new_df['Transaction ammount']

0     14
0     10
0     10
0     10
0      7
    ...
0    120
0    110
0    120
0    150
0    150
Name: Transaction ammount, Length: 85, dtype: object

# Typing speed

In [47]:
new_df['Typing speed'].isnull().sum()

1

In [48]:
new_df['Typing speed'] = new_df['Typing speed'].fillna(df['Typing speed'].mode())

In [49]:
new_df['Typing speed']

0               4.66667
0                   2.8
0                   2.8
0               4.66667
0               3.11111
            ...
0    2.3636363636363638
0    3.7142857142857144
0    2.3636363636363638
0    2.3636363636363638
0    2.1666666666666665
Name: Typing speed, Length: 85, dtype: object

# User name

In [50]:
new_df['User name'].isnull().sum()

1

In [51]:
# new_df= new_df.drop(labels='User name',axis=1)

In [52]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'Vikram@blue-bricks.com',
       'mukunda@mollatech.com', 'Mukunda@mollatech.com',
       'raunak@mollatech.com', nan], dtype=object)

In [53]:

new_df['User name']=new_df['User name'].replace(to_replace='Vikram@blue-bricks.com',value='vikram@blue-bricks.com')
new_df['User name']=new_df['User name'].replace(to_replace='Mukunda@mollatech.com',value='mukunda@mollatech.com')

In [54]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'mukunda@mollatech.com',
       'raunak@mollatech.com', nan], dtype=object)

# board

In [55]:
new_df['board'].isnull().sum()

12

In [56]:
new_df['board'] = df['board'].fillna(method = 'ffill')

In [57]:
# new_df['board'] = new_df['board'].fillna(df['board'].mode())

# bootloader

In [58]:
new_df['bootloader'].isnull().sum()

12

In [59]:
# new_df['bootloader'] = df['bootloader'].fillna(df['bootloader'].mode())
new_df['bootloader'] = df['bootloader'].fillna(method = 'ffill')

In [60]:
new_df['bootloader']

0           0xB106
0           0xB106
0           0xB106
0           0xB106
0           0xB106
         ...
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
Name: bootloader, Length: 85, dtype: object

# brand

In [61]:
new_df['brand'].isnull().sum()

12

In [62]:
new_df['brand'] = df['brand'].fillna(method = 'ffill')
# new_df['brand'] = df['brand'].fillna(df['brand'].mode())

In [63]:
new_df['brand']

0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
       ...
0     samsung
0     samsung
0     samsung
0     samsung
0     samsung
Name: brand, Length: 85, dtype: object

# device

In [64]:
new_df['device'].isnull().sum()

12

In [65]:
# new_df['device'] = df['device'].fillna(df['device'].mode())
new_df['device'] = df['device'].fillna(method = 'ffill')

In [66]:
new_df['device']

0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
       ...
0      m30lte
0      m30lte
0      m30lte
0      m30lte
0      m30lte
Name: device, Length: 85, dtype: object

# display

In [67]:
new_df['display'].isnull().sum()

12

In [68]:
# new_df['display'] = df['display'].fillna(df['display'].mode())
new_df['display'] = df['display'].fillna(method = 'ffill')

In [69]:
new_df['display']

0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
                 ...
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
Name: display, Length: 85, dtype: object

# fingerprint

In [70]:
# new_df['fingerprint'] = df['fingerprint'].fillna(df['fingerprint'].mode()) 
new_df['fingerprint'] = df['fingerprint'].fillna(method = 'ffill')

In [71]:
new_df['fingerprint']

0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
                           ...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
Name: fingerprint, Length: 85, dtype: object

# hardware

In [72]:
###########DROPPED

# host

In [73]:
# new_df['host'] = df['host'].fillna(df['host'].mode())
new_df['host'] = df['host'].fillna(method = 'ffill')

In [74]:
new_df['host']

0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
       ...
0     21HHAF01
0     21HHAF01
0     21HHAF01
0     21HHAF01
0     21HHAF01
Name: host, Length: 85, dtype: object

# id

In [75]:
new_df['id'].isna().sum()

12

In [76]:
# new_df['id'] = df['id'].fillna(df['id'].mode())
new_df['id'] = df['id'].fillna(method = 'ffill')

In [77]:
new_df['id']

0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
          ...
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
Name: id, Length: 85, dtype: object

# inclication

In [78]:
new_df['inclication'].isna().sum()

1

In [79]:
new_df['inclication'] = df['inclication'].fillna(method = 'ffill')



# new_df['inclication']=new_df['inclication'].replace(to_replace='-1.0 ,9.2-3.9',value='-1.0, 9.2,-3.9')

In [80]:
import re
my_list = [] 
import math



x = []
for i in new_df['inclication']:
    a  = re.split(',',i)
    su = 0.0
    print(a)
    for z  in a :
        su = su + float(z)
    su  = math.floor(su)
    print(su)
    my_list.append(su)

['0.5', '6.0', '7.0']
13
['-2.1', '6.3', '8.2']
12
['-0.1', '7.2', '6.1']
13
['-1.6', '9.0', '3.4']
10
['2.7', '5.9', '6.6']
15
['1.2', '3.5', '9.4']
14
['1.5', '5.9', '7.3']
14
['-0.1', '6.7', '6.4']
13
['0.6', '8.8', '4.5']
13
['-0.8', '8.6', '3.7']
11
['2.1', '5.9', '6.9']
14
['0.3', '5.6', '6.3']
12
['0.9', '6.6', '7.2']
14
['-1.5', '8.2', '5.9']
12
['-0.1', '5.3', '8.7']
13
['1.4', '8.5', '5.4']
15
['-0.3', '4.6', '8.2']
12
['-1.5', '6.7', '7.5']
12
['-1.2', '7.9', '8.0']
14
['1.0', '6.7', '5.6']
13
['1.6', '6.7', '7.1']
15
['-1.3', '6.2', '7.6']
12
['-0.5', '5.5', '8.8']
13
['-3.4', '6.1', '7.5']
10
['-3.4', '6.1', '7.5']
10
['-3.3', '5.3', '7.8']
9
['-0.4', '6.6', '7.6']
13
['0.6', '6.4', '6.8']
13
['0.2', '6.2', '6.4']
12
['1.4', '8.1', '4.8']
14
['-1.8', '6.3', '8.6']
13
['0.5', '7.5', '6.2']
14
['-1.9', '7.9', '5.5']
11
['-0.2', '6.6', '7.5']
13
['0.7', '4.5', '8.2']
13
['0.5', '5.2', '8.6']
14
['0.7', '3.1', '9.2']
13
['1.6', '8.6', '4.3']
14
['2.9', '7.0', '7.7']
17
['-0.5', '5.4', '8.2']
13
['-0.2', '6.7', '7.2']
13
['1.5', '9.1', '4.7']
15
['-2.5', '8.2', '6.1']
11
['-2.3', '3.9', '7.9']
9
['3.1', '5.2', '7.9']
16
['-1.9', '5.8', '8.1']
12
['-0.5', '6.9', '7.8']
14
['-1.6', '8.4', '4.6']
11
['-0.2', '8.5', '4.7']
13
['-0.4', '8.4', '6.3']
14
['1.1', '9.2', '4.8']
15
['-2.4', '2.3', '9.0']
8
['-1.4', '5.8', '7.2']
11
['-1.9', '5.6', '8.1']
11
['0.1', '0.1', '9.8']
10
['-1.9', '8.6', '5.8']
12
['-3.5', '4.5', '8.0']
9
['0.5', '4.2', '9.8']
14
['3.6', '1.5', '9.3']
14
['0.6', '9.4', '-3.3']
6
['-1.1', '4.6', '8.6']
12
['0.6', '7.4', '6.7']
14
['-1.4', '9.1', '-4.0']
3
['0.2', '6.5', '7.8']
14
['0.4', '6.2', '7.3']
13
['1.8', '6.1', '7.7']
15
['-1.0', '5.9', '9.2']
14
['1.3', '3.5', '9.2']
14
['-1.7', '4.3', '9.3']
11
['0.7', '9.1', '4.9']
14
['-1.0', '9.2', '-3.9']
4
['1.4', '5.1', '8.1']
14
['3.4', '4.4', '8.1']
15
['-0.2', '7.3', '6.8']
13
['1.5', '5.4', '8.5']
15
['2.0', '7.0', '6.2']
15
['2.0', '7.0', '6.2']
15
['1.6', '4.2', '8.0']
13
['0.8', '7.0', '7.7']
15
['3.4', '4.4', '8.1']
15
['0.8', '5.3', '8.2']
14
['1.2', '6.1', '7.2']
14
['0.3', '3.7', '8.9']
12
['1.0', '3.7', '9.7']
14
['0.5', '4.2', '9.8']
14

In [81]:
df2  = new_df.assign(inclined = my_list)


new_df = df2

del new_df['inclication']
new_df['inclined']

0    13
0    12
0    13
0    10
0    15
     ..
0    14
0    14
0    12
0    14
0    14
Name: inclined, Length: 85, dtype: int64

# isPhysicalDevice

In [82]:
# new_df=new_df.drop(labels='isPhysicalDevice',axis=1)

del new_df['isPhysicalDevice']

# latitude

In [83]:
new_df['latitude'].unique()

array([32.0, nan, '18.5224725', '18.5228256', '18.5228576', '18.5233773',
       '18.518282594269014', '18.5225303'], dtype=object)

In [84]:
# df['latitude'] = df['latitude'].fillna(0)
# value = 0
# new_df['latitude'] = df['latitude'].replace(to_replace ='null', value = value, regex = True)
# new_df['latitude'] = new_df['latitude'].astype(float)
# # new_df['latitude'] = new_df['latitude'].fillna(new_df['latitude'].mode())
# new_df['latitude'] = new_df['latitude'].replace(to_replace =0.000000, value = -32.060216, regex = True)
# new_df['latitude']

In [85]:
# new_df['latitude'] = df['latitude'].replace(to_replace ="null", value = None, regex = True)

In [86]:
new_df['latitude'] = df['latitude'].fillna(method = 'ffill')

In [87]:
new_df['latitude']=new_df['latitude'].astype(float)

# longitude

In [88]:
new_df['longitude']= df["longitude"]

In [89]:
# new_df['longitude'].fillna(115, inplace=True)

In [90]:
# new_df['longitude'] = new_df['longitude'].replace(to_replace="null",value=115)

In [91]:
# new_df['longitude'] = new_df['longitude'].replace(to_replace='NaN',value=73)
new_df['longitude'] = new_df['longitude'].fillna(73)

In [92]:
new_df['longitude']

0           115
0           115
0           115
0           115
0           115
        ...
0            73
0            73
0    73.9084453
0    73.9086092
0      73.90804
Name: longitude, Length: 85, dtype: object

In [93]:
new_df['longitude']=new_df['longitude'].astype(float)

In [94]:
# import math
# my_list = []
# for i in new_df['longitude']:
#     p = math.floor(float(i))
#     print(p)
#     my_list.append(p)

In [95]:
# df2  = new_df.assign(long = my_list)


# new_df = df2

# del new_df['longitude']
# new_df['long']

In [96]:
new_df

,Date and time,Device ip,Device velocity,Transaction ammount,Typing speed,User name,board,bootloader,brand,device,...,type,version.baseOS,version.codename,version.incremental,version.previewSdkInt,version.release,version.sdkInt,version.securityPatch,Device_velocity,inclined
0,22,10.238.99.167,"-0.1,0.0,-0.7",14,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,13
0,16,10.238.99.167,"-0.3,0.1,0.9",10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,12
0,8,10.1.0.250,"-0.1,-0.0,-0.5",10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,13
0,1,10.1.0.250,"-0.3,0.2,0.3",10,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10
0,11,10.1.0.250,"0.1,0.1,-1.0",7,3.11111,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12,192.168.0.119,"0.0,0.0,0.0",120,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,0,14
0,0,192.168.0.138,"0.0,-0.1,-0.3",110,3.7142857142857144,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,-1,14
0,13,25.22.227.50,"0.1,0.2,0.1",120,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,0,12
0,13,25.22.227.50,"0.6,0.6,1.0",150,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,2,14
0,9,25.22.227.50,"0.1,0.2,0.9",150,2.1666666666666665,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,1,14

# longitude and latitude

In [97]:
new_df=new_df.drop(labels=['longitude and latitude'],axis=1)

In [98]:
new_df = new_df.drop(labels=['product','supported32BitAbis','supportedAbis','supported64BitAbis','tags','type','version.baseOS','version.codename','version.incremental','version.previewSdkInt','version.release','version.sdkInt','version.securityPatch'],axis=1)

In [99]:
new_df =  new_df.drop(labels='Device velocity',axis=1)

In [100]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 0
Data columns (total 19 columns):
Date and time          85 non-null int64
Device ip              85 non-null object
Transaction ammount    85 non-null object
Typing speed           85 non-null object
User name              84 non-null object
board                  85 non-null object
bootloader             85 non-null object
brand                  85 non-null object
device                 85 non-null object
display                85 non-null object
fingerprint            85 non-null object
host                   85 non-null object
id                     85 non-null object
latitude               85 non-null float64
longitude              85 non-null float64
manufacturer           73 non-null object
model                  85 non-null object
Device_velocity        85 non-null int64
inclined               85 non-null int64
dtypes: float64(2), int64(3), object(14)
memory usage: 13.3+ KB

In [101]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
################################################################################################################
new_df['Device ip'] = le.fit_transform(new_df['Device ip'])
new_df['Device ip'].value_counts()

14    18
16    13
1      8
12     8
9      7
13     5
20     3
3      3
11     3
7      3
6      2
10     2
0      2
8      1
19     1
15     1
5      1
4      1
17     1
2      1
18     1
Name: Device ip, dtype: int64

In [102]:
################################################################################################################

new_df['Transaction ammount']=new_df['Transaction ammount'].astype(str)
new_df['Transaction ammount']=new_df['Transaction ammount'].astype(float)
new_df['Transaction ammount']

0     14.0
0     10.0
0     10.0
0     10.0
0      7.0
     ...
0    120.0
0    110.0
0    120.0
0    150.0
0    150.0
Name: Transaction ammount, Length: 85, dtype: float64

In [103]:
################################################################################################################
new_df['Typing speed']=new_df['Typing speed'].astype(str)
new_df['Typing speed']=new_df['Typing speed'].astype(float)
new_df['Typing speed']

0    4.666667
0    2.800000
0    2.800000
0    4.666667
0    3.111111
       ...
0    2.363636
0    3.714286
0    2.363636
0    2.363636
0    2.166667
Name: Typing speed, Length: 85, dtype: float64

In [104]:
################################################################################################################
new_df['board']=new_df['board'].astype(str)
new_df['board'] = le.fit_transform(new_df['board'])
new_df['board']

0    2
0    2
0    2
0    2
0    2
    ..
0    1
0    1
0    1
0    1
0    1
Name: board, Length: 85, dtype: int64

In [105]:
################################################################################################################
new_df['bootloader']=new_df['bootloader'].astype(str)
new_df['bootloader'] = le.fit_transform(new_df['bootloader'])
new_df['bootloader']

0    0
0    0
0    0
0    0
0    0
    ..
0    1
0    1
0    1
0    1
0    1
Name: bootloader, Length: 85, dtype: int64

In [106]:
################################################################################################################
new_df['brand']=new_df['brand'].astype(str)
new_df['brand'] = le.fit_transform(new_df['brand'])
new_df['brand']

0    1
0    1
0    1
0    1
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: brand, Length: 85, dtype: int64

In [107]:
################################################################################################################
new_df['device']=new_df['device'].astype(str)
new_df['device'] = le.fit_transform(new_df['device'])
new_df['device']

0    1
0    1
0    1
0    1
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: device, Length: 85, dtype: int64

In [108]:
################################################################################################################
new_df['display']=new_df['display'].astype(str)
new_df['display'] = le.fit_transform(new_df['display'])
new_df['display']

0    1
0    1
0    1
0    1
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: display, Length: 85, dtype: int64

In [109]:
################################################################################################################
new_df['fingerprint']=new_df['fingerprint'].astype(str)
new_df['fingerprint'] = le.fit_transform(new_df['fingerprint'])
new_df['fingerprint']

0    1
0    1
0    1
0    1
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: fingerprint, Length: 85, dtype: int64

In [110]:
################################################################################################################
new_df['host']=new_df['host'].astype(str)
new_df['host'] = le.fit_transform(new_df['host'])
new_df['host']

0    2
0    2
0    2
0    2
0    2
    ..
0    0
0    0
0    0
0    0
0    0
Name: host, Length: 85, dtype: int64

In [111]:
################################################################################################################
new_df['id']=new_df['id'].astype(str)
new_df['id'] = le.fit_transform(new_df['id'])
new_df['id']

0    0
0    0
0    0
0    0
0    0
    ..
0    2
0    2
0    2
0    2
0    2
Name: id, Length: 85, dtype: int64

In [112]:
################################################################################################################
# new_df['manufacturer'].isna().sum()
new_df['manufacturer'] = new_df['manufacturer'].fillna(df['manufacturer'].mode())
new_df['manufacturer']=new_df['manufacturer'].astype(str)
new_df['manufacturer'] = le.fit_transform(new_df['manufacturer'])

In [113]:
new_df['manufacturer']

0    1
0    2
0    1
0    2
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: manufacturer, Length: 85, dtype: int64

In [114]:
################################################################################################################

# new_df['model'] = new_df['model'].fillna(df['model'].mode())
new_df['model']=new_df['model'].astype(str)
new_df['model'] = le.fit_transform(new_df['model'])
new_df['model']

0    0
0    3
0    0
0    3
0    0
    ..
0    2
0    2
0    2
0    2
0    2
Name: model, Length: 85, dtype: int64

In [115]:
################################################################################################################
# new_df['Device velocity']=new_df['Device velocity'].astype(str)
new_df['Device_velocity']

0   -1
0    0
0   -1
0    0
0   -1
    ..
0    0
0   -1
0    0
0    2
0    1
Name: Device_velocity, Length: 85, dtype: int64

In [116]:
################################################################################################################
new_df['User name'] = new_df['User name'].fillna('raunak@mollatech.com')
new_df['User name']=new_df['User name'].astype(str)

In [117]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'mukunda@mollatech.com',
       'raunak@mollatech.com'], dtype=object)

In [118]:
# data = pd.read_csv('./Rekita.csv', header=None)
# y = data.iloc[:, 0].astype('category').cat.codes
y = new_df.iloc[:, 4]
y

0    vikram@blue-bricks.com
0    vikram@blue-bricks.com
0    vikram@blue-bricks.com
0    vikram@blue-bricks.com
0    vikram@blue-bricks.com
              ...
0      raunak@mollatech.com
0      raunak@mollatech.com
0      raunak@mollatech.com
0      raunak@mollatech.com
0      raunak@mollatech.com
Name: User name, Length: 85, dtype: object

In [119]:
Y= []

In [120]:
for index, value in y.items():
    if value !="vikram@blue-bricks.com":
        Y.append("others")
    else:
        Y.append("vikram@blue-bricks.com")

In [121]:
Y= pd.Series(Y)

In [122]:
Y

0     vikram@blue-bricks.com
1     vikram@blue-bricks.com
2     vikram@blue-bricks.com
3     vikram@blue-bricks.com
4     vikram@blue-bricks.com
               ...
80                    others
81                    others
82                    others
83                    others
84                    others
Length: 85, dtype: object

In [123]:
y = y.astype('category').cat.codes
tttrain_y = y.to_numpy()

In [124]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 0
Data columns (total 19 columns):
Date and time          85 non-null int64
Device ip              85 non-null int64
Transaction ammount    85 non-null float64
Typing speed           85 non-null float64
User name              85 non-null object
board                  85 non-null int64
bootloader             85 non-null int64
brand                  85 non-null int64
device                 85 non-null int64
display                85 non-null int64
fingerprint            85 non-null int64
host                   85 non-null int64
id                     85 non-null int64
latitude               85 non-null float64
longitude              85 non-null float64
manufacturer           85 non-null int64
model                  85 non-null int64
Device_velocity        85 non-null int64
inclined               85 non-null int64
dtypes: float64(4), int64(14), object(1)
memory usage: 13.3+ KB

In [125]:
new_df=new_df.drop(labels="User name",axis=1)

In [126]:
for ind,column in enumerate(new_df.columns):
    print(ind,column)

0 Date and time
1 Device ip
2 Transaction ammount
3 Typing speed
4 board
5 bootloader
6 brand
7 device
8 display
9 fingerprint
10 host
11 id
12 latitude
13 longitude
14 manufacturer
15 model
16 Device_velocity
17 inclined

# MODELLING

In [127]:
from sklearn.externals import joblib

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(new_df)

/home/bhrt/.local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [128]:
scaler_filename = "scaler.save"
joblib.dump(sc, scaler_filename)

['scaler.save']

In [130]:
scc = joblib.load("scaler.save")

In [131]:
X_train = pd.DataFrame(X_train)
type(X_train)

pandas.core.frame.DataFrame

In [132]:
X_train.shape

(85, 18)

# Saving the X_Train as csv

In [133]:
X_train.to_csv('new_rba.csv', index=False)

In [134]:
df=pd.read_csv('new_rba.csv')

In [138]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.549804,-0.929420,-0.328636,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632
1,0.674499,-0.929420,-0.332797,-0.281260,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,0.950255,1.616562,0.318007,-0.296434
2,-0.492573,-1.858840,-0.332797,-0.281260,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632
3,-1.513762,-1.858840,-0.332797,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,0.950255,1.616562,0.318007,-1.150565
4,-0.054921,-1.858840,-0.335918,-0.145879,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.984763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,0.090963,0.000000,-0.218362,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.427256,-0.866057,0.950255,0.648901,0.318007,0.557697
81,-1.659646,0.185884,-0.228765,0.116596,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.427256,-0.866057,0.950255,0.648901,-0.910656,0.557697
82,0.236847,0.929420,-0.218362,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426586,-0.822092,0.950255,0.648901,0.318007,-0.296434
83,0.236847,0.929420,-0.187152,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426452,-0.822084,0.950255,0.648901,2.775332,0.557697
84,-0.346689,0.929420,-0.187152,-0.556859,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426595,-0.822112,0.950255,0.648901,1.546669,0.557697

# user new input

In [139]:
# 22	6	14.0	4.666667	2	0	1	1	1	1	2	0	32.000000	115.000000	1	0	-1	13
data = [[22,6,14.00,4.666667,2,0,1,1,1,1,2,0,-32.060216,115,1,0,-1,13]]
X_test = pd.DataFrame(data)

# # Feature Scaling
X_test = sc.transform(X_test)

X_test

array([[ 1.54980414, -0.92941979, -0.32863565,  0.53103046,  1.0298573 ,
        -1.0298573 , -0.10910895, -0.10910895, -0.10910895, -0.10910895,
         1.0501736 , -1.0501736 , -9.41123631,  1.16656061, -0.27355833,
        -1.28641867, -0.91065568,  0.13063183]])

# fit the model

In [140]:

# clf = svm.OneClassSVM(kernel='rbf',
#     degree=3,
#     gamma='scale',
#     coef0=0.0,
#     tol=0.001,
#     nu=0.01,
#     shrinking=True,
#     cache_size=200,
#     verbose=False,
#     max_iter=-1)

In [141]:
# clf.fit(X_train)

# Predicting within the Train dataframe

In [142]:
# y_pred_train = clf.predict(X_train)

In [143]:
# unique, counts = np.unique(y_pred_train, return_counts=True)
# dict(zip(unique, counts))

In [144]:
# y_pred_train.shape

# Predicting the New Test Data dataframe

In [145]:
# y_pred_test = clf.predict(X_test)

In [146]:
# if(y_pred_test == -1):
#     print("It's a Anomoly")
# else:
#     print("It's a regular observation")

# Saving the model

In [147]:
# import pickle
# c= str(id)+'.pkl' 
# output = open(c, 'wb')
# pickle.dump(clf, output)
# output.close()

In [148]:
# import os
 
# dirpath = os.getcwd()

# Using AutoEncoder

In [163]:
import keras
from keras.layers import Input, Dense
from keras.models import Model
from keras.callbacks import TensorBoard
import numpy as np 
import tensorflow
import os

In [164]:
class Models():

    def __init__(self, h, w):
        self.h = h
        self.w = w
        
    def _encoder(self):
        inputs = Input(shape=(self.w, ))
        encoded = Dense(6, activation = 'relu')(inputs)
        encoded = Dense(5, activation = 'relu')(encoded)
        encoded = Dense(4, activation = 'relu')(encoded)
        model = Model(inputs, encoded)
        self.encoder = model
        return model
    
    def _decoder(self):
        inputs = Input(shape=(4,))
        decoded = Dense(5, activation = 'relu')(inputs)
        decoded = Dense(6, activation = 'relu')(decoded)
        decoded = Dense(self.w, activation = 'relu')(decoded)
        model = Model(inputs, decoded)
        self.decoder = model
        return model
    
    def encode_decoder(self):
        ec = self._encoder()
        dc = self._decoder()
        
        inputs = Input(shape=(self.w, ))
        ec_out = ec(inputs)
        dc_out = dc(ec_out)
        model = Model(inputs, dc_out)
        
        self.model = model
        return model

    def fit(self, train_x, train_y, test_x, test_y):
        self.model.compile(optimizer='sgd', loss='mse')
        self.model.fit(train_x,train_y,batch_size=32,shuffle='true',epochs=200,validation_data=(test_x,test_y),verbose=1)
    
    def save(self):
        if not os.path.exists(r'./weights'):
            os.mkdir(r'./weights')
        else:
            self.encoder.save(r'./weights/encoder_weights.h5')
            self.decoder.save(r'./weights/decoder_weights.h5')
            self.model.save(r'./weights/ae_weights.h5')

In [165]:
class loader():

    def __init__(self):
        data = pd.read_csv('new_rba.csv', header=None)
        X = data.iloc[:, :]
        self.train_x = X.to_numpy()

    def load(self):
        return self.train_x, self.train_x

In [166]:
# from model import Models
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from keras.optimizers import Adam
import numpy as np
import sys

In [168]:
w = int(18)
h = 1
model = Models(h, w)
auto_encoder = model.encode_decoder()
model.encode_decoder()

In [161]:
# from data_loader import loader

In [169]:
load_data = loader()    
print(model.encode_decoder().summary())

Model: "model_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_9 (InputLayer)         (None, 18)                0
_________________________________________________________________
model_7 (Model)              (None, 4)                 173
_________________________________________________________________
model_8 (Model)              (None, 18)                187
=================================================================
Total params: 360
Trainable params: 360
Non-trainable params: 0
_________________________________________________________________
None

In [170]:
x_data, y_data = load_data.load()

In [171]:
print(x_data.shape)

(86, 18)

In [154]:
# test_x.shape

In [172]:
train_x,test_x,train_y,test_y=train_test_split(x_data,y_data,test_size=0.2,random_state=30)

In [175]:
model.fit(train_x, train_y, test_x, test_y)

Train on 68 samples, validate on 18 samples
Epoch 1/200
68/68 [==============================] - 0s 2ms/step - loss: 1.0598 - val_loss: 0.9892
Epoch 2/200
68/68 [==============================] - 0s 216us/step - loss: 1.0593 - val_loss: 0.9886
Epoch 3/200
68/68 [==============================] - 0s 273us/step - loss: 1.0589 - val_loss: 0.9886
Epoch 4/200
68/68 [==============================] - 0s 215us/step - loss: 1.0589 - val_loss: 0.9882
Epoch 5/200
68/68 [==============================] - 0s 153us/step - loss: 1.0586 - val_loss: 0.9880
Epoch 6/200
68/68 [==============================] - 0s 144us/step - loss: 1.0585 - val_loss: 0.9877
Epoch 7/200
68/68 [==============================] - 0s 211us/step - loss: 1.0584 - val_loss: 0.9875
Epoch 8/200
68/68 [==============================] - 0s 177us/step - loss: 1.0582 - val_loss: 0.9870
Epoch 9/200
68/68 [==============================] - 0s 145us/step - loss: 1.0580 - val_loss: 0.9868
Epoch 10/200
68/68 [==============================] - 0s 150us/step - loss: 1.0578 - val_loss: 0.9867
Epoch 11/200
68/68 [==============================] - 0s 274us/step - loss: 1.0577 - val_loss: 0.9862
Epoch 12/200
68/68 [==============================] - 0s 125us/step - loss: 1.0575 - val_loss: 0.9861
Epoch 13/200
68/68 [==============================] - 0s 123us/step - loss: 1.0574 - val_loss: 0.9860
Epoch 14/200
68/68 [==============================] - 0s 106us/step - loss: 1.0572 - val_loss: 0.9858
Epoch 15/200
68/68 [==============================] - 0s 132us/step - loss: 1.0571 - val_loss: 0.9856
Epoch 16/200
68/68 [==============================] - 0s 230us/step - loss: 1.0569 - val_loss: 0.9854
Epoch 17/200
68/68 [==============================] - 0s 187us/step - loss: 1.0567 - val_loss: 0.9851
Epoch 18/200
68/68 [==============================] - 0s 126us/step - loss: 1.0566 - val_loss: 0.9849
Epoch 19/200
68/68 [==============================] - 0s 127us/step - loss: 1.0565 - val_loss: 0.9850
Epoch 20/200
68/68 [==============================] - 0s 126us/step - loss: 1.0563 - val_loss: 0.9846
Epoch 21/200
68/68 [==============================] - 0s 201us/step - loss: 1.0562 - val_loss: 0.9846
Epoch 22/200
68/68 [==============================] - 0s 154us/step - loss: 1.0561 - val_loss: 0.9865
Epoch 23/200
68/68 [==============================] - 0s 173us/step - loss: 1.0561 - val_loss: 0.9862
Epoch 24/200
68/68 [==============================] - 0s 200us/step - loss: 1.0559 - val_loss: 0.9858
Epoch 25/200
68/68 [==============================] - 0s 184us/step - loss: 1.0557 - val_loss: 0.9855
Epoch 26/200
68/68 [==============================] - 0s 216us/step - loss: 1.0554 - val_loss: 0.9849
Epoch 27/200
68/68 [==============================] - 0s 118us/step - loss: 1.0551 - val_loss: 0.9845
Epoch 28/200
68/68 [==============================] - 0s 104us/step - loss: 1.0550 - val_loss: 0.9842
Epoch 29/200
68/68 [==============================] - 0s 137us/step - loss: 1.0548 - val_loss: 0.9839
Epoch 30/200
68/68 [==============================] - 0s 241us/step - loss: 1.0546 - val_loss: 0.9839
Epoch 31/200
68/68 [==============================] - 0s 180us/step - loss: 1.0544 - val_loss: 0.9833
Epoch 32/200
68/68 [==============================] - 0s 151us/step - loss: 1.0543 - val_loss: 0.9827
Epoch 33/200
68/68 [==============================] - 0s 152us/step - loss: 1.0541 - val_loss: 0.9822
Epoch 34/200
68/68 [==============================] - 0s 144us/step - loss: 1.0539 - val_loss: 0.9820
Epoch 35/200
68/68 [==============================] - ETA: 0s - loss: 0.956 - 0s 261us/step - loss: 1.0537 - val_loss: 0.9820
Epoch 36/200
68/68 [==============================] - 0s 180us/step - loss: 1.0536 - val_loss: 0.9816
Epoch 37/200
68/68 [==============================] - 0s 126us/step - loss: 1.0534 - val_loss: 0.9814
Epoch 38/200
68/68 [==============================] - 0s 108us/step - loss: 1.0532 - val_loss: 0.9810
Epoch 39/200
68/68 [==============================] - 0s 121us/step - loss: 1.0531 - val_loss: 0.9807
Epoch 40/200
68/68 [==============================] - 0s 117us/step - loss: 1.0529 - val_loss: 0.9804
Epoch 41/200
68/68 [==============================] - 0s 154us/step - loss: 1.0528 - val_loss: 0.9803
Epoch 42/200
68/68 [==============================] - 0s 166us/step - loss: 1.0525 - val_loss: 0.9803
Epoch 43/200
68/68 [==============================] - 0s 140us/step - loss: 1.0523 - val_loss: 0.9801
Epoch 44/200
68/68 [==============================] - 0s 153us/step - loss: 1.0522 - val_loss: 0.9800
Epoch 45/200
68/68 [==============================] - 0s 107us/step - loss: 1.0520 - val_loss: 0.9798
Epoch 46/200
68/68 [==============================] - 0s 274us/step - loss: 1.0518 - val_loss: 0.9794
Epoch 47/200
68/68 [==============================] - 0s 200us/step - loss: 1.0517 - val_loss: 0.9792
Epoch 48/200
68/68 [==============================] - 0s 128us/step - loss: 1.0515 - val_loss: 0.9787
Epoch 49/200
68/68 [==============================] - 0s 103us/step - loss: 1.0513 - val_loss: 0.9786
Epoch 50/200
68/68 [==============================] - 0s 106us/step - loss: 1.0512 - val_loss: 0.9783
Epoch 51/200
68/68 [==============================] - 0s 112us/step - loss: 1.0510 - val_loss: 0.9781
Epoch 52/200
68/68 [==============================] - 0s 112us/step - loss: 1.0509 - val_loss: 0.9779
Epoch 53/200
68/68 [==============================] - 0s 145us/step - loss: 1.0507 - val_loss: 0.9777
Epoch 54/200
68/68 [==============================] - 0s 159us/step - loss: 1.0505 - val_loss: 0.9774
Epoch 55/200
68/68 [==============================] - 0s 191us/step - loss: 1.0503 - val_loss: 0.9772
Epoch 56/200
68/68 [==============================] - 0s 113us/step - loss: 1.0502 - val_loss: 0.9771
Epoch 57/200
68/68 [==============================] - 0s 117us/step - loss: 1.0499 - val_loss: 0.9770
Epoch 58/200
68/68 [==============================] - 0s 104us/step - loss: 1.0498 - val_loss: 0.9769
Epoch 59/200
68/68 [==============================] - 0s 103us/step - loss: 1.0496 - val_loss: 0.9769
Epoch 60/200
68/68 [==============================] - 0s 242us/step - loss: 1.0494 - val_loss: 0.9766
Epoch 61/200
68/68 [==============================] - 0s 151us/step - loss: 1.0492 - val_loss: 0.9763
Epoch 62/200
68/68 [==============================] - 0s 124us/step - loss: 1.0493 - val_loss: 0.9786
Epoch 63/200
68/68 [==============================] - 0s 128us/step - loss: 1.0488 - val_loss: 0.9782
Epoch 64/200
68/68 [==============================] - 0s 124us/step - loss: 1.0485 - val_loss: 0.9779
Epoch 65/200
68/68 [==============================] - 0s 126us/step - loss: 1.0483 - val_loss: 0.9778
Epoch 66/200
68/68 [==============================] - 0s 189us/step - loss: 1.0481 - val_loss: 0.9776
Epoch 67/200
68/68 [==============================] - 0s 154us/step - loss: 1.0480 - val_loss: 0.9774
Epoch 68/200
68/68 [==============================] - 0s 144us/step - loss: 1.0477 - val_loss: 0.9768
Epoch 69/200
68/68 [==============================] - 0s 149us/step - loss: 1.0475 - val_loss: 0.9766
Epoch 70/200
68/68 [==============================] - 0s 136us/step - loss: 1.0474 - val_loss: 0.9764
Epoch 71/200
68/68 [==============================] - 0s 130us/step - loss: 1.0472 - val_loss: 0.9762
Epoch 72/200
68/68 [==============================] - 0s 261us/step - loss: 1.0471 - val_loss: 0.9760
Epoch 73/200
68/68 [==============================] - 0s 207us/step - loss: 1.0469 - val_loss: 0.9755
Epoch 74/200
68/68 [==============================] - 0s 274us/step - loss: 1.0468 - val_loss: 0.9752
Epoch 75/200
68/68 [==============================] - 0s 197us/step - loss: 1.0466 - val_loss: 0.9750
Epoch 76/200
68/68 [==============================] - 0s 219us/step - loss: 1.0464 - val_loss: 0.9746
Epoch 77/200
68/68 [==============================] - 0s 243us/step - loss: 1.0463 - val_loss: 0.9742
Epoch 78/200
68/68 [==============================] - 0s 217us/step - loss: 1.0461 - val_loss: 0.9739
Epoch 79/200
68/68 [==============================] - 0s 156us/step - loss: 1.0461 - val_loss: 0.9762
Epoch 80/200
68/68 [==============================] - 0s 183us/step - loss: 1.0459 - val_loss: 0.9757

Epoch 81/200
68/68 [==============================] - 0s 123us/step - loss: 1.0455 - val_loss: 0.9756
Epoch 82/200
68/68 [==============================] - 0s 251us/step - loss: 1.0453 - val_loss: 0.9751
Epoch 83/200
68/68 [==============================] - 0s 152us/step - loss: 1.0450 - val_loss: 0.9749
Epoch 84/200
68/68 [==============================] - 0s 184us/step - loss: 1.0449 - val_loss: 0.9744
Epoch 85/200
68/68 [==============================] - 0s 185us/step - loss: 1.0445 - val_loss: 0.9743
Epoch 86/200
68/68 [==============================] - 0s 211us/step - loss: 1.0444 - val_loss: 0.9739
Epoch 87/200
68/68 [==============================] - 0s 215us/step - loss: 1.0442 - val_loss: 0.9735
Epoch 88/200
68/68 [==============================] - 0s 298us/step - loss: 1.0441 - val_loss: 0.9733
Epoch 89/200
68/68 [==============================] - 0s 184us/step - loss: 1.0438 - val_loss: 0.9731
Epoch 90/200
68/68 [==============================] - 0s 188us/step - loss: 1.0436 - val_loss: 0.9728
Epoch 91/200
68/68 [==============================] - 0s 180us/step - loss: 1.0435 - val_loss: 0.9724
Epoch 92/200
68/68 [==============================] - 0s 244us/step - loss: 1.0433 - val_loss: 0.9721
Epoch 93/200
68/68 [==============================] - 0s 185us/step - loss: 1.0431 - val_loss: 0.9717
Epoch 94/200
68/68 [==============================] - 0s 216us/step - loss: 1.0429 - val_loss: 0.9714
Epoch 95/200
68/68 [==============================] - 0s 162us/step - loss: 1.0427 - val_loss: 0.9711
Epoch 96/200
68/68 [==============================] - 0s 267us/step - loss: 1.0426 - val_loss: 0.9711
Epoch 97/200
68/68 [==============================] - 0s 206us/step - loss: 1.0424 - val_loss: 0.9706
Epoch 98/200
68/68 [==============================] - 0s 137us/step - loss: 1.0422 - val_loss: 0.9704
Epoch 99/200
68/68 [==============================] - 0s 160us/step - loss: 1.0420 - val_loss: 0.9704
Epoch 100/200
68/68 [==============================] - 0s 184us/step - loss: 1.0418 - val_loss: 0.9702
Epoch 101/200
68/68 [==============================] - 0s 148us/step - loss: 1.0417 - val_loss: 0.9699
Epoch 102/200
68/68 [==============================] - 0s 187us/step - loss: 1.0415 - val_loss: 0.9697
Epoch 103/200
68/68 [==============================] - 0s 124us/step - loss: 1.0412 - val_loss: 0.9697
Epoch 104/200
68/68 [==============================] - 0s 237us/step - loss: 1.0411 - val_loss: 0.9695
Epoch 105/200
68/68 [==============================] - 0s 186us/step - loss: 1.0409 - val_loss: 0.9693
Epoch 106/200
68/68 [==============================] - 0s 114us/step - loss: 1.0407 - val_loss: 0.9691
Epoch 107/200
68/68 [==============================] - 0s 208us/step - loss: 1.0406 - val_loss: 0.9688
Epoch 108/200
68/68 [==============================] - 0s 165us/step - loss: 1.0404 - val_loss: 0.9686
Epoch 109/200
68/68 [==============================] - 0s 158us/step - loss: 1.0403 - val_loss: 0.9710
Epoch 110/200
68/68 [==============================] - 0s 171us/step - loss: 1.0400 - val_loss: 0.9706
Epoch 111/200
68/68 [==============================] - 0s 167us/step - loss: 1.0397 - val_loss: 0.9702
Epoch 112/200
68/68 [==============================] - 0s 195us/step - loss: 1.0394 - val_loss: 0.9698
Epoch 113/200
68/68 [==============================] - 0s 150us/step - loss: 1.0392 - val_loss: 0.9693
Epoch 114/200
68/68 [==============================] - 0s 192us/step - loss: 1.0390 - val_loss: 0.9691
Epoch 115/200
68/68 [==============================] - 0s 173us/step - loss: 1.0388 - val_loss: 0.9688
Epoch 116/200
68/68 [==============================] - 0s 141us/step - loss: 1.0385 - val_loss: 0.9688
Epoch 117/200
68/68 [==============================] - 0s 158us/step - loss: 1.0384 - val_loss: 0.9683
Epoch 118/200
68/68 [==============================] - 0s 127us/step - loss: 1.0383 - val_loss: 0.9680
Epoch 119/200
68/68 [==============================] - 0s 166us/step - loss: 1.0381 - val_loss: 0.9678
Epoch 120/200
68/68 [==============================] - 0s 174us/step - loss: 1.0379 - val_loss: 0.9676
Epoch 121/200
68/68 [==============================] - 0s 160us/step - loss: 1.0376 - val_loss: 0.9674
Epoch 122/200
68/68 [==============================] - 0s 213us/step - loss: 1.0374 - val_loss: 0.9672
Epoch 123/200
68/68 [==============================] - 0s 177us/step - loss: 1.0372 - val_loss: 0.9668
Epoch 124/200
68/68 [==============================] - 0s 199us/step - loss: 1.0371 - val_loss: 0.9684
Epoch 125/200
68/68 [==============================] - 0s 156us/step - loss: 1.0369 - val_loss: 0.9679
Epoch 126/200
68/68 [==============================] - 0s 161us/step - loss: 1.0367 - val_loss: 0.9690
Epoch 127/200
68/68 [==============================] - 0s 257us/step - loss: 1.0368 - val_loss: 0.9688
Epoch 128/200
68/68 [==============================] - 0s 143us/step - loss: 1.0365 - val_loss: 0.9684
Epoch 129/200
68/68 [==============================] - 0s 190us/step - loss: 1.0363 - val_loss: 0.9680
Epoch 130/200
68/68 [==============================] - 0s 155us/step - loss: 1.0361 - val_loss: 0.9676
Epoch 131/200
68/68 [==============================] - 0s 151us/step - loss: 1.0357 - val_loss: 0.9670
Epoch 132/200
68/68 [==============================] - 0s 188us/step - loss: 1.0353 - val_loss: 0.9666
Epoch 133/200
68/68 [==============================] - 0s 164us/step - loss: 1.0351 - val_loss: 0.9664
Epoch 134/200
68/68 [==============================] - 0s 241us/step - loss: 1.0349 - val_loss: 0.9660
Epoch 135/200
68/68 [==============================] - 0s 133us/step - loss: 1.0346 - val_loss: 0.9657
Epoch 136/200
68/68 [==============================] - 0s 116us/step - loss: 1.0344 - val_loss: 0.9655
Epoch 137/200
68/68 [==============================] - 0s 190us/step - loss: 1.0344 - val_loss: 0.9651
Epoch 138/200
68/68 [==============================] - 0s 149us/step - loss: 1.0341 - val_loss: 0.9648
Epoch 139/200
68/68 [==============================] - 0s 158us/step - loss: 1.0338 - val_loss: 0.9646
Epoch 140/200
68/68 [==============================] - 0s 240us/step - loss: 1.0337 - val_loss: 0.9642
Epoch 141/200
68/68 [==============================] - 0s 185us/step - loss: 1.0335 - val_loss: 0.9641
Epoch 142/200
68/68 [==============================] - 0s 177us/step - loss: 1.0333 - val_loss: 0.9641
Epoch 143/200
68/68 [==============================] - 0s 183us/step - loss: 1.0332 - val_loss: 0.9638
Epoch 144/200
68/68 [==============================] - 0s 122us/step - loss: 1.0331 - val_loss: 0.9632
Epoch 145/200
68/68 [==============================] - 0s 199us/step - loss: 1.0327 - val_loss: 0.9630
Epoch 146/200
68/68 [==============================] - 0s 123us/step - loss: 1.0326 - val_loss: 0.9629
Epoch 147/200
68/68 [==============================] - 0s 196us/step - loss: 1.0324 - val_loss: 0.9627
Epoch 148/200
68/68 [==============================] - 0s 202us/step - loss: 1.0323 - val_loss: 0.9626
Epoch 149/200
68/68 [==============================] - 0s 153us/step - loss: 1.0321 - val_loss: 0.9625
Epoch 150/200
68/68 [==============================] - 0s 224us/step - loss: 1.0320 - val_loss: 0.9622
Epoch 151/200
68/68 [==============================] - 0s 182us/step - loss: 1.0318 - val_loss: 0.9620
Epoch 152/200
68/68 [==============================] - 0s 225us/step - loss: 1.0316 - val_loss: 0.9617
Epoch 153/200
68/68 [==============================] - 0s 121us/step - loss: 1.0314 - val_loss: 0.9615
Epoch 154/200
68/68 [==============================] - 0s 129us/step - loss: 1.0312 - val_loss: 0.9614
Epoch 155/200
68/68 [==============================] - 0s 183us/step - loss: 1.0311 - val_loss: 0.9611
Epoch 156/200
68/68 [==============================] - 0s 142us/step - loss: 1.0309 - val_loss: 0.9610
Epoch 157/200
68/68 [==============================] - 0s 153us/step - loss: 1.0308 - val_loss: 0.9607
Epoch 158/200
68/68 [==============================] - 0s 192us/step - loss: 1.0305 - val_loss: 0.9606
Epoch 159/200
68/68 [==============================] - 0s 177us/step - loss: 1.0304 - val_loss: 0.9603
Epoch 160/200

68/68 [==============================] - 0s 136us/step - loss: 1.0302 - val_loss: 0.9602
Epoch 161/200
68/68 [==============================] - 0s 148us/step - loss: 1.0300 - val_loss: 0.9598
Epoch 162/200
68/68 [==============================] - 0s 221us/step - loss: 1.0298 - val_loss: 0.9595
Epoch 163/200
68/68 [==============================] - 0s 124us/step - loss: 1.0296 - val_loss: 0.9593
Epoch 164/200
68/68 [==============================] - 0s 108us/step - loss: 1.0295 - val_loss: 0.9593
Epoch 165/200
68/68 [==============================] - 0s 196us/step - loss: 1.0293 - val_loss: 0.9589
Epoch 166/200
68/68 [==============================] - 0s 112us/step - loss: 1.0291 - val_loss: 0.9588
Epoch 167/200
68/68 [==============================] - 0s 134us/step - loss: 1.0289 - val_loss: 0.9586
Epoch 168/200
68/68 [==============================] - 0s 142us/step - loss: 1.0287 - val_loss: 0.9584
Epoch 169/200
68/68 [==============================] - 0s 194us/step - loss: 1.0284 - val_loss: 0.9583
Epoch 170/200
68/68 [==============================] - 0s 127us/step - loss: 1.0283 - val_loss: 0.9583
Epoch 171/200
68/68 [==============================] - 0s 152us/step - loss: 1.0282 - val_loss: 0.9580
Epoch 172/200
68/68 [==============================] - 0s 202us/step - loss: 1.0279 - val_loss: 0.9579
Epoch 173/200
68/68 [==============================] - 0s 157us/step - loss: 1.0277 - val_loss: 0.9578
Epoch 174/200
68/68 [==============================] - 0s 183us/step - loss: 1.0275 - val_loss: 0.9577
Epoch 175/200
68/68 [==============================] - 0s 179us/step - loss: 1.0273 - val_loss: 0.9574
Epoch 176/200
68/68 [==============================] - 0s 204us/step - loss: 1.0272 - val_loss: 0.9573
Epoch 177/200
68/68 [==============================] - 0s 168us/step - loss: 1.0270 - val_loss: 0.9569
Epoch 178/200
68/68 [==============================] - 0s 149us/step - loss: 1.0268 - val_loss: 0.9569
Epoch 179/200
68/68 [==============================] - 0s 158us/step - loss: 1.0266 - val_loss: 0.9568
Epoch 180/200
68/68 [==============================] - 0s 190us/step - loss: 1.0265 - val_loss: 0.9565
Epoch 181/200
68/68 [==============================] - 0s 188us/step - loss: 1.0262 - val_loss: 0.9563
Epoch 182/200
68/68 [==============================] - 0s 188us/step - loss: 1.0262 - val_loss: 0.9563
Epoch 183/200
68/68 [==============================] - 0s 151us/step - loss: 1.0259 - val_loss: 0.9561
Epoch 184/200
68/68 [==============================] - 0s 258us/step - loss: 1.0257 - val_loss: 0.9560
Epoch 185/200
68/68 [==============================] - 0s 155us/step - loss: 1.0255 - val_loss: 0.9558
Epoch 186/200
68/68 [==============================] - 0s 107us/step - loss: 1.0253 - val_loss: 0.9556
Epoch 187/200
68/68 [==============================] - 0s 231us/step - loss: 1.0251 - val_loss: 0.9554
Epoch 188/200
68/68 [==============================] - 0s 115us/step - loss: 1.0249 - val_loss: 0.9553
Epoch 189/200
68/68 [==============================] - 0s 160us/step - loss: 1.0247 - val_loss: 0.9552
Epoch 190/200
68/68 [==============================] - 0s 200us/step - loss: 1.0244 - val_loss: 0.9550
Epoch 191/200
68/68 [==============================] - 0s 140us/step - loss: 1.0244 - val_loss: 0.9565
Epoch 192/200
68/68 [==============================] - 0s 110us/step - loss: 1.0241 - val_loss: 0.9562
Epoch 193/200
68/68 [==============================] - 0s 181us/step - loss: 1.0237 - val_loss: 0.9561
Epoch 194/200
68/68 [==============================] - 0s 151us/step - loss: 1.0235 - val_loss: 0.9558
Epoch 195/200
68/68 [==============================] - 0s 102us/step - loss: 1.0233 - val_loss: 0.9555
Epoch 196/200
68/68 [==============================] - 0s 199us/step - loss: 1.0230 - val_loss: 0.9551
Epoch 197/200
68/68 [==============================] - 0s 144us/step - loss: 1.0228 - val_loss: 0.9549
Epoch 198/200
68/68 [==============================] - 0s 201us/step - loss: 1.0226 - val_loss: 0.9547
Epoch 199/200
68/68 [==============================] - 0s 213us/step - loss: 1.0224 - val_loss: 0.9545
Epoch 200/200
68/68 [==============================] - 0s 162us/step - loss: 1.0222 - val_loss: 0.9544

In [176]:
model.save()

In [177]:
from keras.models import load_model
import numpy as np

encoder = load_model('./weights/encoder_weights.h5')
decoder = load_model('./weights/decoder_weights.h5')

/usr/local/lib/python3.6/dist-packages/keras/engine/saving.py:341: UserWarning: No training configuration found in save file: the model was *not* compiled. Compile it manually.
  warnings.warn('No training configuration found in save file: '

In [178]:
inputs = np.array([[ 1.16622237, -0.22011332,  0.16416866,  0.38212292,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        , -0.16933343,  0.        , -0.70710678,
        -0.42640143,  0.19216561,  0.        ]])

In [179]:
x = encoder.predict(inputs)

In [180]:
y = decoder.predict(x)

In [181]:
print('Input: {}'.format(inputs))

Input: [[ 1.16622237 -0.22011332  0.16416866  0.38212292  0.          0.
   0.          0.          0.          0.          0.          0.
  -0.16933343  0.         -0.70710678 -0.42640143  0.19216561  0.        ]]

In [182]:
print('Encoded: {}'.format(x))

Encoded: [[0.46204504 0.         0.6572818  0.15383524]]

In [183]:
print('Decoded: {}'.format(y))

Decoded: [[0.         0.07594256 0.         0.         0.         0.
  0.02245156 0.12537555 0.10887341 0.01017563 0.1911826  0.
  0.         0.         0.13163379 0.03721754 0.         0.        ]]

In [184]:
X_train.shape

(85, 18)

In [185]:
X_train.to_numpy()

array([[ 1.54980414, -0.92941979, -0.32863565, ..., -1.28641867,
        -0.91065568,  0.13063183],
       [ 0.67449947, -0.92941979, -0.33279692, ...,  1.61656151,
         0.31800675, -0.29643376],
       [-0.49257341, -1.85883957, -0.33279692, ..., -1.28641867,
        -0.91065568,  0.13063183],
       ...,
       [ 0.23684714,  0.92941979, -0.21836201, ...,  0.64890145,
         0.31800675, -0.29643376],
       [ 0.23684714,  0.92941979, -0.18715249, ...,  0.64890145,
         2.77533161,  0.55769741],
       [-0.3466893 ,  0.92941979, -0.18715249, ...,  0.64890145,
         1.54666918,  0.55769741]])

In [186]:
x_train = X_train[:60]
y_train = tttrain_y[:60]

In [187]:
x_train.shape , y_train.shape

((60, 18), (60,))

In [188]:
x_test = X_train[60:]
y_test = tttrain_y[60:]

In [189]:
x_test.shape ,y_test.shape

((25, 18), (25,))

In [190]:
#All classifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [191]:
# Logistic Regression
model = LogisticRegression()
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [192]:
#decision Tree Classifier
model = DecisionTreeClassifier(max_depth=3)
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [193]:
model = RandomForestClassifier()
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [194]:
# SVC 

model = SVC(kernel='rbf', C=1E10, class_weight='balanced', verbose=1, gamma=0.05)
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

[LibSVM]Train ACC : 1.0
Test ACC : 1.0

In [195]:
new_df

,Date and time,Device ip,Transaction ammount,Typing speed,board,bootloader,brand,device,display,fingerprint,host,id,latitude,longitude,manufacturer,model,Device_velocity,inclined
0,22,6,14.0,4.666667,2,0,1,1,1,1,2,0,32.000000,115.000000,1,0,-1,13
0,16,6,10.0,2.800000,2,0,1,1,1,1,2,0,32.000000,115.000000,2,3,0,12
0,8,1,10.0,2.800000,2,0,1,1,1,1,2,0,32.000000,115.000000,1,0,-1,13
0,1,1,10.0,4.666667,2,0,1,1,1,1,2,0,32.000000,115.000000,2,3,0,10
0,11,1,7.0,3.111111,2,0,1,1,1,1,2,0,32.000000,115.000000,1,0,-1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12,11,120.0,2.363636,1,1,2,2,2,2,0,2,18.518283,73.000000,2,2,0,14
0,0,12,110.0,3.714286,1,1,2,2,2,2,0,2,18.518283,73.000000,2,2,-1,14
0,13,16,120.0,2.363636,1,1,2,2,2,2,0,2,18.522530,73.908445,2,2,0,12
0,13,16,150.0,2.363636,1,1,2,2,2,2,0,2,18.523377,73.908609,2,2,2,14
0,9,16,150.0,2.166667,1,1,2,2,2,2,0,2,18.522472,73.908040,2,2,1,14

In [226]:
X_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.549804,-0.929420,-0.328636,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632
1,0.674499,-0.929420,-0.332797,-0.281260,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,0.950255,1.616562,0.318007,-0.296434
2,-0.492573,-1.858840,-0.332797,-0.281260,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632
3,-1.513762,-1.858840,-0.332797,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,0.950255,1.616562,0.318007,-1.150565
4,-0.054921,-1.858840,-0.335918,-0.145879,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.984763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,0.090963,0.000000,-0.218362,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.427256,-0.866057,0.950255,0.648901,0.318007,0.557697
81,-1.659646,0.185884,-0.228765,0.116596,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.427256,-0.866057,0.950255,0.648901,-0.910656,0.557697
82,0.236847,0.929420,-0.218362,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426586,-0.822092,0.950255,0.648901,0.318007,-0.296434
83,0.236847,0.929420,-0.187152,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426452,-0.822084,0.950255,0.648901,2.775332,0.557697
84,-0.346689,0.929420,-0.187152,-0.556859,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426595,-0.822112,0.950255,0.648901,1.546669,0.557697

In [227]:
1.549804,-0.929420,-0.328636,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632

# data = [[22,6,14.0,4.666667,2,0,1,1,1,1,2,0,32.000000,115.000000,1,0,-1,13]]
data = [[22,6,14.00,4.666667,2,0,1,1,1,1,2,0,-32.060216,115,1,0,-1,13]]
X_test = pd.DataFrame(data)

# # Feature Scaling
X_test = sc.transform(X_test)

X_test

array([[ 1.54980414, -0.92941979, -0.32863565,  0.53103046,  1.0298573 ,
        -1.0298573 , -0.10910895, -0.10910895, -0.10910895, -0.10910895,
         1.0501736 , -1.0501736 , -9.41123631,  1.16656061, -0.27355833,
        -1.28641867, -0.91065568,  0.13063183]])

In [228]:
bharat_test = pd.DataFrame(X_test)
bharat_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.549804,-0.92942,-0.328636,0.53103,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,-9.411236,1.166561,-0.273558,-1.286419,-0.910656,0.130632

In [229]:
bharat_test_series = bharat_test.ix[:,:]

/home/bhrt/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [230]:
bharat_test_series

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.549804,-0.92942,-0.328636,0.53103,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,-9.411236,1.166561,-0.273558,-1.286419,-0.910656,0.130632

In [231]:
# y_pred_train = model.predict([[1.549804,-0.929420,-0.328636,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632]])

In [232]:
y_pred_train = model.predict(bharat_test_series)

In [233]:
y_pred_train

array([0], dtype=int8)

In [234]:
if(y_pred_train == 2):
    print("It's a regular observation")
else:
    print("It's a Anomoly")

It's a Anomoly

# Risk Calculation using the Hard Code

In [ ]:
an=X_train
an.shape

In [ ]:
columns = an.columns

In [ ]:
columns

In [ ]:
X_train[0][1]

In [ ]:
col = columns[0]

In [ ]:
an[0][1]

In [ ]:
X_train[0][1]

In [ ]:
an[0].unique()

In [ ]:

count=0
nott=0

for i in range(0,18):
    col = columns[i]
    if X_train[0][i] in an[col]:
#         print(data[0][i])
        count=count+1
        
    else:    
        nott=nott+1
#         print(data[0][i])
        print("here data is  "+str(X_train[0][i]) + "   and the dataframe is   "+str(an.iloc[i].unique())  )
        print("\n\n\n")

In [ ]:
count

In [ ]:
nott