In [1]:
import os,json
import pandas as pd
import csv 
import numpy as np
import matplotlib.font_manager
from sklearn import svm

In [2]:
from pandas.io.json import json_normalize

In [3]:
path_to_json = './vikram/'

In [4]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)  # for me this prints ['foo.json']

['35.json', '17.json', '5.json', '23.json', '10.json', '2.json', '37.json', '9.json', '24.json', '18.json', '36.json', '30.json', '15.json', '26.json', '1.json', '21.json', '4.json', '13.json', '22.json', '11.json', '7.json', '25.json', '14.json', '20.json', '33.json', '32.json', '12.json', '6.json', '8.json', '19.json', '27.json', '16.json', '34.json', '31.json', '3.json', '28.json']

In [5]:
abs=os.getcwd()

In [6]:
abs

'/home/bhrt/Documents/RBA'

In [7]:
with open(str(abs)+'/vikram/'+str(json_files[0])) as json_file: 
    data = json.load(json_file)

In [8]:
df = pd.DataFrame ( columns = data.keys())

In [9]:
for i in json_files:
    with open(str(abs)+'/vikram/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)
#         df=df.append(temp)
#         temp = temp.T
        df=df.append(temp)
#         df = df.T

/home/bhrt/.local/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [10]:
df['latitude']=32

In [11]:
df['longitude']=115

In [12]:
path_to_json = './mukunda/'

In [13]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)  # for me this prints ['foo.json']

['17.json', '5.json', '10.json', '2.json', '9.json', '18.json', '15.json', '1.json', '21.json', '4.json', '13.json', '11.json', '7.json', '14.json', '20.json', '12.json', '6.json', '8.json', '19.json', '16.json', '3.json']

In [14]:
for i in json_files:
    with open(str(abs)+'/mukunda/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)
#         df=df.append(temp)
#         temp = temp.T
        df=df.append(temp)
#         df = df.T

In [15]:
path_to_json = './raunak/'

In [16]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)  # for me this prints ['foo.json']

['17.json', '5.json', '23.json', '2.json', '9.json', '24.json', '18.json', '15.json', '26.json', '1.json', '21.json', '4.json', '13.json', '22.json', '11.json', '7.json', '29.json', '25.json', '14.json', '20.json', '12.json', '6.json', '8.json', '19.json', '27.json', '16.json', '3.json', '28.json']

In [17]:
for i in json_files:
    with open(str(abs)+'/raunak/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)
#         df=df.append(temp)
#         temp = temp.T
        df=df.append(temp)
#         df = df.T

In [18]:
df.shape

(85, 47)

In [19]:
df.to_csv('unprocessed_rba.csv', index=False)

In [20]:
df.columns

Index(['Date and time', 'Device ip', 'Device velocity', 'Transaction ammount',
       'Typing speed', 'Typing speed ', 'User name', 'board', 'bootloader',
       'brand', 'device', 'display', 'fingerprint', 'hardware', 'host', 'id',
       'identifierForVendor', 'inclication', 'inclication,',
       'isPhysicalDevice', 'latitude', 'localizedModel', 'longitude',
       'longitude and latitude', 'manufacturer', 'model', 'name', 'product',
       'supported32BitAbis', 'supported64BitAbis', 'supportedAbis',
       'systemName', 'systemVersion', 'tags', 'type', 'utsname.machine:',
       'utsname.nodename:', 'utsname.release:', 'utsname.sysname:',
       'utsname.version:', 'version.baseOS', 'version.codename',
       'version.incremental', 'version.previewSdkInt', 'version.release',
       'version.sdkInt', 'version.securityPatch'],
      dtype='object')

In [21]:
df.isna().sum()

Date and time              0
Device ip                  0
Device velocity            0
Transaction ammount        0
Typing speed               1
Typing speed              84
User name                  1
board                     12
bootloader                12
brand                     12
device                    12
display                   12
fingerprint               12
hardware                  12
host                      12
id                        12
identifierForVendor       73
inclication                1
inclication,              84
isPhysicalDevice           0
latitude                  39
localizedModel            73
longitude                 39
longitude and latitude    22
manufacturer              12
model                      0
name                      73
product                   12
supported32BitAbis        12
supported64BitAbis        64
supportedAbis             12
systemName                73
systemVersion             73
tags                      12
type                      12
utsname.machine:          73
utsname.nodename:         73
utsname.release:          73
utsname.sysname:          73
utsname.version:          73
version.baseOS            12
version.codename          12
version.incremental       12
version.previewSdkInt     12
version.release           12
version.sdkInt            12
version.securityPatch     12
dtype: int64

In [22]:
new_df=df.drop(labels=['identifierForVendor','inclication,','localizedModel','name','systemName','systemVersion','utsname.machine:','utsname.nodename:','utsname.release:','utsname.version:','utsname.sysname:','hardware'],axis=1)

In [23]:
new_df=new_df.drop([new_df.columns[5]],axis='columns')

In [24]:
new_df.isna().sum()

Date and time              0
Device ip                  0
Device velocity            0
Transaction ammount        0
Typing speed               1
User name                  1
board                     12
bootloader                12
brand                     12
device                    12
display                   12
fingerprint               12
host                      12
id                        12
inclication                1
isPhysicalDevice           0
latitude                  39
longitude                 39
longitude and latitude    22
manufacturer              12
model                      0
product                   12
supported32BitAbis        12
supported64BitAbis        64
supportedAbis             12
tags                      12
type                      12
version.baseOS            12
version.codename          12
version.incremental       12
version.previewSdkInt     12
version.release           12
version.sdkInt            12
version.securityPatch     12
dtype: int64

# Date and time

In [25]:
new_df['Date and time']= df["Date and time"].astype(str) 

start, stop, step = 0, -17, 1

new_df["Date and time"]= df["Date and time"].str.slice(start, stop, step)

In [26]:
new_df["Date and time"]= new_df["Date and time"].astype(int)

In [27]:
new_df["Date and time"]

0    22
0    16
0     8
0     1
0    11
     ..
0    12
0     0
0    13
0    13
0     9
Name: Date and time, Length: 85, dtype: int64

# Device ip

In [28]:
new_df['Device ip'].isnull().sum()

0

In [29]:
new_df['Device ip']

0    10.238.99.167
0             null
0       10.1.0.250
0             null
0       10.1.0.250
         ...
0    192.168.0.119
0    192.168.0.138
0     25.22.227.50
0     25.22.227.50
0     25.22.227.50
Name: Device ip, Length: 85, dtype: object

In [30]:
new_df['Device ip'] = df['Device ip'].replace(to_replace = "null", value = None, regex = True)

In [31]:
# new_df['Device ip'] = df['Device ip'].fillna(method = 'ffill')

In [32]:

# value  = df['Device ip'].mode()
# value

In [33]:

# new_df['Device ip'] = df['Device ip'].replace(to_replace ='null', value = value, regex = True)
new_df['Device ip'] = new_df['Device ip'].astype(str)

In [34]:
new_df['Device ip']

0    10.238.99.167
0    10.238.99.167
0       10.1.0.250
0       10.1.0.250
0       10.1.0.250
         ...
0    192.168.0.119
0    192.168.0.138
0     25.22.227.50
0     25.22.227.50
0     25.22.227.50
Name: Device ip, Length: 85, dtype: object

# Device velocity

In [35]:
new_df['Device velocity'].isnull().sum()

0

In [36]:
# new_df['Device velocity'].iloc[-1] = '0'

In [37]:
q = new_df['Device velocity']

In [38]:
new_df['Device velocity']=new_df['Device velocity'].replace(to_replace='-0.1-0.3-0.4',value='-0.1,-0.3,-0.4')

In [39]:

new_df['Device velocity']=new_df['Device velocity'].replace(to_replace='0.10.4',value='0.1,0,0.4')

In [40]:
q

0     -0.1,0.0,-0.7
0      -0.3,0.1,0.9
0    -0.1,-0.0,-0.5
0      -0.3,0.2,0.3
0      0.1,0.1,-1.0
          ...
0       0.0,0.0,0.0
0     0.0,-0.1,-0.3
0       0.1,0.2,0.1
0       0.6,0.6,1.0
0       0.1,0.2,0.9
Name: Device velocity, Length: 85, dtype: object

In [41]:
import re
my_list = [] 
import math


x = []
for i in q:
    a  = re.split(',',i)
    su = 0.0
    print(a)
    for z  in a :
        su = su + float(z)
    su  = math.floor(su)
    print(su)
    my_list.append(su)

['-0.1', '0.0', '-0.7']
-1
['-0.3', '0.1', '0.9']
0
['-0.1', '-0.0', '-0.5']
-1
['-0.3', '0.2', '0.3']
0
['0.1', '0.1', '-1.0']
-1
['0.1', '0.2', '0.2']
0
['-0.0', '-0.1', '-0.3']
-1
['-0.1', '-0.3', '-0.4']
-1
['0.2', '-0.1', '0.6']
0
['0.0', '-0.0', '-0.8']
-1
['-0.1', '-0.2', '-0.4']
-1
['-0.1', '-0.0', '-1.7']
-2
['-0.2', '0.3', '-0.1']
-1
['-0.3', '-0.1', '0.8']
0
['-0.1', '0.1', '0.3']
0
['-0.4', '0.1', '0.6']
0
['-0.2', '0.0', '-0.4']
-1
['-0.0', '-0.5', '1.0']
0
['-0.2', '0.6', '1.5']
1
['0.3', '-0.2', '-1.4']
-2
['-0.1', '0.1', '0.4']
0
['0.2', '0.2', '-0.1']
0
['-0.1', '0.1', '0.6']
0
['-2.4', '-1.0', '0.8']
-3
['-0.2', '-0.4', '.5']
-1
['-0.6', '0.5', '-0.3']
-1
['-0.1', '-0.4', '0.7']
0
['0.0', '-0.3', '-0.3']
-1
['0.2', '0.0', '-1.3']
-2
['0.2', '0.3', '-1.0']
-1
['-1.0', '1.0', '0.4']
0
['-0.2', '-0.0', '0.0']
-1
['-0.4', '0.3', '-0.5']
-1
['-0.0', '0.0', '0.3']
0
['-0.2', '-0.1', '-0.3']
-1
['0.1', '0.1', '0.5']
0
['0.2', '0.4', '-0.1']
0
['-0.2', '-0.0', '-0.0']
-1
['0.1', '0.1', '-0.1']
0
['-0.2', '0.1', '0.0']
-1
['0.2', '-0.1', '0.1']
0
['0.1', '0.0', '0.1']
0
['0.1', '-0.0', '-0.1']
0
['-0.2', '0.4', '-0.3']
-1
['-0.1', '0.0', '0.0']
-1
['-0.2', '0.2', '-0.2']
-1
['0.1', '0.0', '0.0']
0
['0.0', '0.0', '-0.0']
0
['0.1', '-0.1', '0.2']
0
['0.0', '0.1', '-0.2']
-1
['0.0', '-0.1', '-0.3']
-1
['0.0', '0.0', '0.0']
0
['0.2', '0.1', '-0.1']
0
['0.1', '-0.2', '0.2']
0
['0.0', '-0.0', '-0.0']
0
['0.1', '0.0', '-0.0']
0
['0.2', '0.1', '0.0']
0
['0.1', '0.2', '0.9']
1
['0.7', '0.0', '0.5']
1
['0.0', '0.2', '-0.1']
0
['-0.1', '0.0', '0.1']
0
['0.1', '0.1', '0.5']
0
['0.0', '0.2', '-0.2']
0
['0.3', '0.2', '0.4']
0
['0.0', '0.1', '0.1']
0
['0.1', '0.0', '0.2']
0
['0.5', '0.6', '1.1']
2
['0.0', '0.0', '0.2']
0
['0.0', '0.3', '0.8']
1
['0.2', '0.0', '1.3']
1
['-0.0', '0.1', '-0.4']
-1
[' 0.6', '0.0', '0.2']
0
['0.2', '0.2', '0.1']
0
['-0.1', '-0.1', '0.4']
0
['0.0', '0.1', '0.4']
0
['0.1', '0.0', '0.4']
0
['0.1', '0.0', '0.4']
0
['0.1', '0.2', '0.9']
1
['0.3', '0.0', '0.9']
1
['0.2', '0.2', '0.1']
0
['0.0', '0.0', '0.0']
0
['0.0', '-0.1', '-0.3']
-1
['0.1', '0.2', '0.1']
0
['0.6', '0.6', '1.0']
2
['0.1', '0.2', '0.9']
1

In [42]:
print(my_list)

[-1, 0, -1, 0, -1, 0, -1, -1, 0, -1, -1, -2, -1, 0, 0, 0, -1, 0, 1, -2, 0, 0, 0, -3, -1, -1, 0, -1, -2, -1, 0, -1, -1, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, -1, -1, -1, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 1, -1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, -1, 0, 2, 1]

In [43]:
df2  = new_df.assign(Device_velocity = my_list)

In [44]:
new_df = df2

In [45]:
del df['Device velocity']

# Transaction ammount

In [46]:
new_df['Transaction ammount'].isnull().sum()

0

In [47]:
new_df['Transaction ammount']

0     14
0     10
0     10
0     10
0      7
    ...
0    120
0    110
0    120
0    150
0    150
Name: Transaction ammount, Length: 85, dtype: object

# Typing speed

In [48]:
new_df['Typing speed'].isnull().sum()

1

In [49]:
new_df['Typing speed'] = new_df['Typing speed'].fillna(df['Typing speed'].mode())

In [50]:
new_df['Typing speed']

0               4.66667
0                   2.8
0                   2.8
0               4.66667
0               3.11111
            ...
0    2.3636363636363638
0    3.7142857142857144
0    2.3636363636363638
0    2.3636363636363638
0    2.1666666666666665
Name: Typing speed, Length: 85, dtype: object

# User name

In [51]:
new_df['User name'].isnull().sum()

1

In [52]:
# new_df= new_df.drop(labels='User name',axis=1)

In [53]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'Vikram@blue-bricks.com',
       'mukunda@mollatech.com', 'Mukunda@mollatech.com',
       'raunak@mollatech.com', nan], dtype=object)

In [54]:

new_df['User name']=new_df['User name'].replace(to_replace='Vikram@blue-bricks.com',value='vikram@blue-bricks.com')
new_df['User name']=new_df['User name'].replace(to_replace='Mukunda@mollatech.com',value='mukunda@mollatech.com')

In [55]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'mukunda@mollatech.com',
       'raunak@mollatech.com', nan], dtype=object)

# board

In [56]:
new_df['board'].isnull().sum()

12

In [57]:
new_df['board'] = df['board'].fillna(method = 'ffill')

In [58]:
# new_df['board'] = new_df['board'].fillna(df['board'].mode())

# bootloader

In [59]:
new_df['bootloader'].isnull().sum()

12

In [60]:
# new_df['bootloader'] = df['bootloader'].fillna(df['bootloader'].mode())
new_df['bootloader'] = df['bootloader'].fillna(method = 'ffill')

In [61]:
new_df['bootloader']

0           0xB106
0           0xB106
0           0xB106
0           0xB106
0           0xB106
         ...
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
Name: bootloader, Length: 85, dtype: object

# brand

In [62]:
new_df['brand'].isnull().sum()

12

In [63]:
new_df['brand'] = df['brand'].fillna(method = 'ffill')
# new_df['brand'] = df['brand'].fillna(df['brand'].mode())

In [64]:
new_df['brand']

0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
       ...
0     samsung
0     samsung
0     samsung
0     samsung
0     samsung
Name: brand, Length: 85, dtype: object

# device

In [65]:
new_df['device'].isnull().sum()

12

In [66]:
# new_df['device'] = df['device'].fillna(df['device'].mode())
new_df['device'] = df['device'].fillna(method = 'ffill')

In [67]:
new_df['device']

0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
       ...
0      m30lte
0      m30lte
0      m30lte
0      m30lte
0      m30lte
Name: device, Length: 85, dtype: object

# display

In [68]:
new_df['display'].isnull().sum()

12

In [69]:
# new_df['display'] = df['display'].fillna(df['display'].mode())
new_df['display'] = df['display'].fillna(method = 'ffill')

In [70]:
new_df['display']

0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
                 ...
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
Name: display, Length: 85, dtype: object

# fingerprint

In [71]:
# new_df['fingerprint'] = df['fingerprint'].fillna(df['fingerprint'].mode()) 
new_df['fingerprint'] = df['fingerprint'].fillna(method = 'ffill')

In [72]:
new_df['fingerprint']

0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
                           ...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
Name: fingerprint, Length: 85, dtype: object

# hardware

In [73]:
###########DROPPED

# host

In [74]:
# new_df['host'] = df['host'].fillna(df['host'].mode())
new_df['host'] = df['host'].fillna(method = 'ffill')

In [75]:
new_df['host']

0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
0    ilclbld26
       ...
0     21HHAF01
0     21HHAF01
0     21HHAF01
0     21HHAF01
0     21HHAF01
Name: host, Length: 85, dtype: object

# id

In [76]:
new_df['id'].isna().sum()

12

In [77]:
# new_df['id'] = df['id'].fillna(df['id'].mode())
new_df['id'] = df['id'].fillna(method = 'ffill')

In [78]:
new_df['id']

0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
          ...
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
Name: id, Length: 85, dtype: object

# inclication

In [79]:
new_df['inclication'].isna().sum()

1

In [80]:
new_df['inclication'] = df['inclication'].fillna(method = 'ffill')



# new_df['inclication']=new_df['inclication'].replace(to_replace='-1.0 ,9.2-3.9',value='-1.0, 9.2,-3.9')

In [81]:
import re
my_list = [] 
import math



x = []
for i in new_df['inclication']:
    a  = re.split(',',i)
    su = 0.0
    print(a)
    for z  in a :
        su = su + float(z)
    su  = math.floor(su)
    print(su)
    my_list.append(su)

['0.5', '6.0', '7.0']
13
['-2.1', '6.3', '8.2']
12
['-0.1', '7.2', '6.1']
13
['-1.6', '9.0', '3.4']
10
['2.7', '5.9', '6.6']
15
['1.2', '3.5', '9.4']
14
['1.5', '5.9', '7.3']
14
['-0.1', '6.7', '6.4']
13
['0.6', '8.8', '4.5']
13
['-0.8', '8.6', '3.7']
11
['2.1', '5.9', '6.9']
14
['0.3', '5.6', '6.3']
12
['0.9', '6.6', '7.2']
14
['-1.5', '8.2', '5.9']
12
['-0.1', '5.3', '8.7']
13
['1.4', '8.5', '5.4']
15
['-0.3', '4.6', '8.2']
12
['-1.5', '6.7', '7.5']
12
['-1.2', '7.9', '8.0']
14
['1.0', '6.7', '5.6']
13
['1.6', '6.7', '7.1']
15
['-1.3', '6.2', '7.6']
12
['-0.5', '5.5', '8.8']
13
['-3.4', '6.1', '7.5']
10
['-3.4', '6.1', '7.5']
10
['-3.3', '5.3', '7.8']
9
['-0.4', '6.6', '7.6']
13
['0.6', '6.4', '6.8']
13
['0.2', '6.2', '6.4']
12
['1.4', '8.1', '4.8']
14
['-1.8', '6.3', '8.6']
13
['0.5', '7.5', '6.2']
14
['-1.9', '7.9', '5.5']
11
['-0.2', '6.6', '7.5']
13
['0.7', '4.5', '8.2']
13
['0.5', '5.2', '8.6']
14
['0.7', '3.1', '9.2']
13
['1.6', '8.6', '4.3']
14
['2.9', '7.0', '7.7']
17
['-0.5', '5.4', '8.2']
13
['-0.2', '6.7', '7.2']
13
['1.5', '9.1', '4.7']
15
['-2.5', '8.2', '6.1']
11
['-2.3', '3.9', '7.9']
9
['3.1', '5.2', '7.9']
16
['-1.9', '5.8', '8.1']
12
['-0.5', '6.9', '7.8']
14
['-1.6', '8.4', '4.6']
11
['-0.2', '8.5', '4.7']
13
['-0.4', '8.4', '6.3']
14
['1.1', '9.2', '4.8']
15
['-2.4', '2.3', '9.0']
8
['-1.4', '5.8', '7.2']
11
['-1.9', '5.6', '8.1']
11
['0.1', '0.1', '9.8']
10
['-1.9', '8.6', '5.8']
12
['-3.5', '4.5', '8.0']
9
['0.5', '4.2', '9.8']
14
['3.6', '1.5', '9.3']
14
['0.6', '9.4', '-3.3']
6
['-1.1', '4.6', '8.6']
12
['0.6', '7.4', '6.7']
14
['-1.4', '9.1', '-4.0']
3
['0.2', '6.5', '7.8']
14
['0.4', '6.2', '7.3']
13
['1.8', '6.1', '7.7']
15
['-1.0', '5.9', '9.2']
14
['1.3', '3.5', '9.2']
14
['-1.7', '4.3', '9.3']
11
['0.7', '9.1', '4.9']
14
['-1.0', '9.2', '-3.9']
4
['1.4', '5.1', '8.1']
14
['3.4', '4.4', '8.1']
15
['-0.2', '7.3', '6.8']
13
['1.5', '5.4', '8.5']
15
['2.0', '7.0', '6.2']
15
['2.0', '7.0', '6.2']
15
['1.6', '4.2', '8.0']
13
['0.8', '7.0', '7.7']
15
['3.4', '4.4', '8.1']
15
['0.8', '5.3', '8.2']
14
['1.2', '6.1', '7.2']
14
['0.3', '3.7', '8.9']
12
['1.0', '3.7', '9.7']
14
['0.5', '4.2', '9.8']
14

In [82]:
df2  = new_df.assign(inclined = my_list)


new_df = df2

del new_df['inclication']
new_df['inclined']

0    13
0    12
0    13
0    10
0    15
     ..
0    14
0    14
0    12
0    14
0    14
Name: inclined, Length: 85, dtype: int64

# isPhysicalDevice

In [83]:
# new_df=new_df.drop(labels='isPhysicalDevice',axis=1)

del new_df['isPhysicalDevice']

# latitude

In [84]:
new_df['latitude'].unique()

array([32.0, nan, '18.5224725', '18.5228256', '18.5228576', '18.5233773',
       '18.518282594269014', '18.5225303'], dtype=object)

In [85]:
# df['latitude'] = df['latitude'].fillna(0)
# value = 0
# new_df['latitude'] = df['latitude'].replace(to_replace ='null', value = value, regex = True)
# new_df['latitude'] = new_df['latitude'].astype(float)
# # new_df['latitude'] = new_df['latitude'].fillna(new_df['latitude'].mode())
# new_df['latitude'] = new_df['latitude'].replace(to_replace =0.000000, value = -32.060216, regex = True)
# new_df['latitude']

In [86]:
# new_df['latitude'] = df['latitude'].replace(to_replace ="null", value = None, regex = True)

In [87]:
new_df['latitude'] = df['latitude'].fillna(method = 'ffill')

In [88]:
new_df['latitude']=new_df['latitude'].astype(float)

# longitude

In [89]:
new_df['longitude']= df["longitude"]

In [90]:
# new_df['longitude'].fillna(115, inplace=True)

In [91]:
# new_df['longitude'] = new_df['longitude'].replace(to_replace="null",value=115)

In [92]:
# new_df['longitude'] = new_df['longitude'].replace(to_replace='NaN',value=73)
new_df['longitude'] = new_df['longitude'].fillna(73)

In [93]:
new_df['longitude']

0           115
0           115
0           115
0           115
0           115
        ...
0            73
0            73
0    73.9084453
0    73.9086092
0      73.90804
Name: longitude, Length: 85, dtype: object

In [94]:
new_df['longitude']=new_df['longitude'].astype(float)

In [95]:
# import math
# my_list = []
# for i in new_df['longitude']:
#     p = math.floor(float(i))
#     print(p)
#     my_list.append(p)

In [96]:
# df2  = new_df.assign(long = my_list)


# new_df = df2

# del new_df['longitude']
# new_df['long']

In [97]:
new_df

,Date and time,Device ip,Device velocity,Transaction ammount,Typing speed,User name,board,bootloader,brand,device,...,type,version.baseOS,version.codename,version.incremental,version.previewSdkInt,version.release,version.sdkInt,version.securityPatch,Device_velocity,inclined
0,22,10.238.99.167,"-0.1,0.0,-0.7",14,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,13
0,16,10.238.99.167,"-0.3,0.1,0.9",10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,12
0,8,10.1.0.250,"-0.1,-0.0,-0.5",10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,13
0,1,10.1.0.250,"-0.3,0.2,0.3",10,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10
0,11,10.1.0.250,"0.1,0.1,-1.0",7,3.11111,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12,192.168.0.119,"0.0,0.0,0.0",120,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,0,14
0,0,192.168.0.138,"0.0,-0.1,-0.3",110,3.7142857142857144,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,-1,14
0,13,25.22.227.50,"0.1,0.2,0.1",120,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,0,12
0,13,25.22.227.50,"0.6,0.6,1.0",150,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,2,14
0,9,25.22.227.50,"0.1,0.2,0.9",150,2.1666666666666665,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,1,14

# longitude and latitude

In [98]:
new_df=new_df.drop(labels=['longitude and latitude'],axis=1)

In [99]:
new_df = new_df.drop(labels=['product','supported32BitAbis','supportedAbis','supported64BitAbis','tags','type','version.baseOS','version.codename','version.incremental','version.previewSdkInt','version.release','version.sdkInt','version.securityPatch'],axis=1)

In [100]:
new_df =  new_df.drop(labels='Device velocity',axis=1)

In [101]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 0
Data columns (total 19 columns):
Date and time          85 non-null int64
Device ip              85 non-null object
Transaction ammount    85 non-null object
Typing speed           85 non-null object
User name              84 non-null object
board                  85 non-null object
bootloader             85 non-null object
brand                  85 non-null object
device                 85 non-null object
display                85 non-null object
fingerprint            85 non-null object
host                   85 non-null object
id                     85 non-null object
latitude               85 non-null float64
longitude              85 non-null float64
manufacturer           73 non-null object
model                  85 non-null object
Device_velocity        85 non-null int64
inclined               85 non-null int64
dtypes: float64(2), int64(3), object(14)
memory usage: 13.3+ KB

In [102]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
################################################################################################################
new_df['Device ip'] = le.fit_transform(new_df['Device ip'])
new_df['Device ip'].value_counts()

14    18
16    13
1      8
12     8
9      7
13     5
20     3
3      3
11     3
7      3
6      2
10     2
0      2
8      1
19     1
15     1
5      1
4      1
17     1
2      1
18     1
Name: Device ip, dtype: int64

In [103]:
################################################################################################################

new_df['Transaction ammount']=new_df['Transaction ammount'].astype(str)
new_df['Transaction ammount']=new_df['Transaction ammount'].astype(float)
new_df['Transaction ammount']

0     14.0
0     10.0
0     10.0
0     10.0
0      7.0
     ...
0    120.0
0    110.0
0    120.0
0    150.0
0    150.0
Name: Transaction ammount, Length: 85, dtype: float64

In [104]:
################################################################################################################
new_df['Typing speed']=new_df['Typing speed'].astype(str)
new_df['Typing speed']=new_df['Typing speed'].astype(float)
new_df['Typing speed']

0    4.666667
0    2.800000
0    2.800000
0    4.666667
0    3.111111
       ...
0    2.363636
0    3.714286
0    2.363636
0    2.363636
0    2.166667
Name: Typing speed, Length: 85, dtype: float64

In [105]:
################################################################################################################
new_df['board']=new_df['board'].astype(str)
new_df['board'] = le.fit_transform(new_df['board'])
new_df['board']

0    2
0    2
0    2
0    2
0    2
    ..
0    1
0    1
0    1
0    1
0    1
Name: board, Length: 85, dtype: int64

In [106]:
################################################################################################################
new_df['bootloader']=new_df['bootloader'].astype(str)
new_df['bootloader'] = le.fit_transform(new_df['bootloader'])
new_df['bootloader']

0    0
0    0
0    0
0    0
0    0
    ..
0    1
0    1
0    1
0    1
0    1
Name: bootloader, Length: 85, dtype: int64

In [107]:
################################################################################################################
new_df['brand']=new_df['brand'].astype(str)
new_df['brand'] = le.fit_transform(new_df['brand'])
new_df['brand']

0    1
0    1
0    1
0    1
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: brand, Length: 85, dtype: int64

In [108]:
################################################################################################################
new_df['device']=new_df['device'].astype(str)
new_df['device'] = le.fit_transform(new_df['device'])
new_df['device']

0    1
0    1
0    1
0    1
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: device, Length: 85, dtype: int64

In [109]:
################################################################################################################
new_df['display']=new_df['display'].astype(str)
new_df['display'] = le.fit_transform(new_df['display'])
new_df['display']

0    1
0    1
0    1
0    1
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: display, Length: 85, dtype: int64

In [110]:
################################################################################################################
new_df['fingerprint']=new_df['fingerprint'].astype(str)
new_df['fingerprint'] = le.fit_transform(new_df['fingerprint'])
new_df['fingerprint']

0    1
0    1
0    1
0    1
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: fingerprint, Length: 85, dtype: int64

In [111]:
################################################################################################################
new_df['host']=new_df['host'].astype(str)
new_df['host'] = le.fit_transform(new_df['host'])
new_df['host']

0    2
0    2
0    2
0    2
0    2
    ..
0    0
0    0
0    0
0    0
0    0
Name: host, Length: 85, dtype: int64

In [112]:
################################################################################################################
new_df['id']=new_df['id'].astype(str)
new_df['id'] = le.fit_transform(new_df['id'])
new_df['id']

0    0
0    0
0    0
0    0
0    0
    ..
0    2
0    2
0    2
0    2
0    2
Name: id, Length: 85, dtype: int64

In [113]:
################################################################################################################
# new_df['manufacturer'].isna().sum()
new_df['manufacturer'] = new_df['manufacturer'].fillna(df['manufacturer'].mode())
new_df['manufacturer']=new_df['manufacturer'].astype(str)
new_df['manufacturer'] = le.fit_transform(new_df['manufacturer'])

In [114]:
new_df['manufacturer']

0    1
0    2
0    1
0    2
0    1
    ..
0    2
0    2
0    2
0    2
0    2
Name: manufacturer, Length: 85, dtype: int64

In [115]:
################################################################################################################

# new_df['model'] = new_df['model'].fillna(df['model'].mode())
new_df['model']=new_df['model'].astype(str)
new_df['model'] = le.fit_transform(new_df['model'])
new_df['model']

0    0
0    3
0    0
0    3
0    0
    ..
0    2
0    2
0    2
0    2
0    2
Name: model, Length: 85, dtype: int64

In [221]:
import numpy as np
import pickle

In [222]:
np.save('classes.npy', le.classes_)

In [223]:
output = open('rba.pkl', 'wb')
pickle.dump(le, output)
output.close()

In [116]:
################################################################################################################
# new_df['Device velocity']=new_df['Device velocity'].astype(str)
new_df['Device_velocity']

0   -1
0    0
0   -1
0    0
0   -1
    ..
0    0
0   -1
0    0
0    2
0    1
Name: Device_velocity, Length: 85, dtype: int64

In [117]:
################################################################################################################
new_df['User name'] = new_df['User name'].fillna('raunak@mollatech.com')
new_df['User name']=new_df['User name'].astype(str)

In [118]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'mukunda@mollatech.com',
       'raunak@mollatech.com'], dtype=object)

In [119]:
# data = pd.read_csv('./Rekita.csv', header=None)
# y = data.iloc[:, 0].astype('category').cat.codes
y = new_df.iloc[:, 4]
y

0    vikram@blue-bricks.com
0    vikram@blue-bricks.com
0    vikram@blue-bricks.com
0    vikram@blue-bricks.com
0    vikram@blue-bricks.com
              ...
0      raunak@mollatech.com
0      raunak@mollatech.com
0      raunak@mollatech.com
0      raunak@mollatech.com
0      raunak@mollatech.com
Name: User name, Length: 85, dtype: object

In [120]:
Y= []

In [121]:
for index, value in y.items():
    if value !="vikram@blue-bricks.com":
        Y.append("others")
    else:
        Y.append("vikram@blue-bricks.com")

In [122]:
Y= pd.Series(Y)

In [123]:
Y

0     vikram@blue-bricks.com
1     vikram@blue-bricks.com
2     vikram@blue-bricks.com
3     vikram@blue-bricks.com
4     vikram@blue-bricks.com
               ...
80                    others
81                    others
82                    others
83                    others
84                    others
Length: 85, dtype: object

In [124]:
y = Y.astype('category').cat.codes
tttrain_y = y.to_numpy()

In [125]:
# tttrain_y

In [126]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 0
Data columns (total 19 columns):
Date and time          85 non-null int64
Device ip              85 non-null int64
Transaction ammount    85 non-null float64
Typing speed           85 non-null float64
User name              85 non-null object
board                  85 non-null int64
bootloader             85 non-null int64
brand                  85 non-null int64
device                 85 non-null int64
display                85 non-null int64
fingerprint            85 non-null int64
host                   85 non-null int64
id                     85 non-null int64
latitude               85 non-null float64
longitude              85 non-null float64
manufacturer           85 non-null int64
model                  85 non-null int64
Device_velocity        85 non-null int64
inclined               85 non-null int64
dtypes: float64(4), int64(14), object(1)
memory usage: 13.3+ KB

In [127]:
new_df.to_csv('without_normalised_rba.csv', index=False)

In [128]:
new_df=new_df.drop(labels="User name",axis=1)

In [129]:
for ind,column in enumerate(new_df.columns):
    print(ind,column)

0 Date and time
1 Device ip
2 Transaction ammount
3 Typing speed
4 board
5 bootloader
6 brand
7 device
8 display
9 fingerprint
10 host
11 id
12 latitude
13 longitude
14 manufacturer
15 model
16 Device_velocity
17 inclined

# MODELLING

In [130]:
from sklearn.externals import joblib

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(new_df)

/home/bhrt/.local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [131]:
scaler_filename = "scaler.save"
joblib.dump(sc, scaler_filename)

['scaler.save']

In [132]:
scc = joblib.load("scaler.save")

In [133]:
X_train = pd.DataFrame(X_train)
type(X_train)

pandas.core.frame.DataFrame

In [134]:
X_train.shape

(85, 18)

# Saving the X_Train as csv

In [135]:
X_train.to_csv('new_rba.csv', index=False)

In [136]:
df=pd.read_csv('new_rba.csv')

In [137]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.549804,-0.929420,-0.328636,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632
1,0.674499,-0.929420,-0.332797,-0.281260,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,0.950255,1.616562,0.318007,-0.296434
2,-0.492573,-1.858840,-0.332797,-0.281260,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632
3,-1.513762,-1.858840,-0.332797,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,0.950255,1.616562,0.318007,-1.150565
4,-0.054921,-1.858840,-0.335918,-0.145879,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.984763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,0.090963,0.000000,-0.218362,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.427256,-0.866057,0.950255,0.648901,0.318007,0.557697
81,-1.659646,0.185884,-0.228765,0.116596,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.427256,-0.866057,0.950255,0.648901,-0.910656,0.557697
82,0.236847,0.929420,-0.218362,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426586,-0.822092,0.950255,0.648901,0.318007,-0.296434
83,0.236847,0.929420,-0.187152,-0.471147,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426452,-0.822084,0.950255,0.648901,2.775332,0.557697
84,-0.346689,0.929420,-0.187152,-0.556859,-0.220684,0.220684,1.215785,1.215785,1.215785,1.215785,-1.268391,1.268391,-1.426595,-0.822112,0.950255,0.648901,1.546669,0.557697

# user new input

In [138]:
# # 22	6	14.0	4.666667	2	0	1	1	1	1	2	0	32.000000	115.000000	1	0	-1	13
# data = [[22,6,14.00,4.666667,2,0,1,1,1,1,2,0,-32.060216,115,1,0,-1,13]]
# X_test = pd.DataFrame(data)

# # # Feature Scaling
# X_test = sc.transform(X_test)

# X_test

# fit the model

In [139]:

# clf = svm.OneClassSVM(kernel='rbf',
#     degree=3,
#     gamma='scale',
#     coef0=0.0,
#     tol=0.001,
#     nu=0.01,
#     shrinking=True,
#     cache_size=200,
#     verbose=False,
#     max_iter=-1)

In [140]:
# clf.fit(X_train)

# Predicting within the Train dataframe

In [141]:
# y_pred_train = clf.predict(X_train)

In [142]:
# unique, counts = np.unique(y_pred_train, return_counts=True)
# dict(zip(unique, counts))

In [143]:
# y_pred_train.shape

# Predicting the New Test Data dataframe

In [144]:
# y_pred_test = clf.predict(X_test)

In [145]:
# if(y_pred_test == -1):
#     print("It's a Anomoly")
# else:
#     print("It's a regular observation")

# Saving the model

In [146]:
# import pickle
# c= str(id)+'.pkl' 
# output = open(c, 'wb')
# pickle.dump(clf, output)
# output.close()

In [147]:
# import os
 
# dirpath = os.getcwd()

# Using AutoEncoder

In [148]:
# import keras
# from keras.layers import Input, Dense
# from keras.models import Model
# from keras.callbacks import TensorBoard
# import numpy as np 
# import tensorflow
# import os

In [149]:
# class Models():

#     def __init__(self, h, w):
#         self.h = h
#         self.w = w
        
#     def _encoder(self):
#         inputs = Input(shape=(self.w, ))
#         encoded = Dense(6, activation = 'relu')(inputs)
#         encoded = Dense(5, activation = 'relu')(encoded)
#         encoded = Dense(4, activation = 'relu')(encoded)
#         model = Model(inputs, encoded)
#         self.encoder = model
#         return model
    
#     def _decoder(self):
#         inputs = Input(shape=(4,))
#         decoded = Dense(5, activation = 'relu')(inputs)
#         decoded = Dense(6, activation = 'relu')(decoded)
#         decoded = Dense(self.w, activation = 'relu')(decoded)
#         model = Model(inputs, decoded)
#         self.decoder = model
#         return model
    
#     def encode_decoder(self):
#         ec = self._encoder()
#         dc = self._decoder()
        
#         inputs = Input(shape=(self.w, ))
#         ec_out = ec(inputs)
#         dc_out = dc(ec_out)
#         model = Model(inputs, dc_out)
        
#         self.model = model
#         return model

#     def fit(self, train_x, train_y, test_x, test_y):
#         self.model.compile(optimizer='sgd', loss='mse')
#         self.model.fit(train_x,train_y,batch_size=32,shuffle='true',epochs=200,validation_data=(test_x,test_y),verbose=1)
    
#     def save(self):
#         if not os.path.exists(r'./weights'):
#             os.mkdir(r'./weights')
#         else:
#             self.encoder.save(r'./weights/encoder_weights.h5')
#             self.decoder.save(r'./weights/decoder_weights.h5')
#             self.model.save(r'./weights/ae_weights.h5')

In [150]:
# class loader():

#     def __init__(self):
#         data = pd.read_csv('new_rba.csv', header=None)
#         X = data.iloc[:, :]
#         self.train_x = X.to_numpy()

#     def load(self):
#         return self.train_x, self.train_x

In [151]:
# # from model import Models
# from keras.optimizers import Adam
# from sklearn.model_selection import train_test_split
# from keras.optimizers import Adam
# import numpy as np
# import sys

In [152]:
# w = int(18)
# h = 1
# model = Models(h, w)
# auto_encoder = model.encode_decoder()
# model.encode_decoder()

In [153]:
# from data_loader import loader

In [154]:
# load_data = loader()    
# print(model.encode_decoder().summary())

In [155]:
# x_data, y_data = load_data.load()

In [156]:
# print(x_data.shape)

In [157]:
# test_x.shape
# from sklearn.model_selection import train_test_split

In [158]:
# train_x,test_x,train_y,test_y=train_test_split(x_data,y_data,test_size=0.2,random_state=30)

In [159]:
# model.fit(train_x, train_y, test_x, test_y)

In [160]:
# model.save()

In [161]:
# from keras.models import load_model
# import numpy as np

# encoder = load_model('./weights/encoder_weights.h5')
# decoder = load_model('./weights/decoder_weights.h5')

In [162]:
# inputs = np.array([[ 1.16622237, -0.22011332,  0.16416866,  0.38212292,  0.        ,
#          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
#          0.        ,  0.        , -0.16933343,  0.        , -0.70710678,
#         -0.42640143,  0.19216561,  0.        ]])

In [163]:
# x = encoder.predict(inputs)

In [164]:
# y = decoder.predict(x)

In [165]:
# print('Input: {}'.format(inputs))

In [166]:
# print('Encoded: {}'.format(x))

In [167]:
# print('Decoded: {}'.format(y))

In [168]:
X_train.shape

(85, 18)

In [169]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_train,y,test_size=0.2,random_state=30)

In [170]:
x_train.shape , y_train.shape

((68, 18), (68,))

In [171]:
x_test.shape ,y_test.shape

((17, 18), (17,))

In [172]:
#All classifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [173]:
# Logistic Regression
model = LogisticRegression()
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [174]:
#decision Tree Classifier
model = DecisionTreeClassifier(max_depth=3)
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [175]:
model = RandomForestClassifier()
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [176]:
# SVC 

model = SVC(kernel='rbf', C=1E10, class_weight='balanced', verbose=1, gamma=0.05)
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

[LibSVM]Train ACC : 1.0
Test ACC : 1.0

In [177]:
data = [[22,6,14.0,4.666666666666667,2,0,1,1,1,1,2,0,32.0,115.0,1,0,-1,13]]
X_test = pd.DataFrame(data)

# # Feature Scaling
X_test = sc.transform(X_test)

X_test

array([[ 1.54980414, -0.92941979, -0.32863565,  0.53103032,  1.0298573 ,
        -1.0298573 , -0.10910895, -0.10910895, -0.10910895, -0.10910895,
         1.0501736 , -1.0501736 ,  0.70087663,  1.16656061, -0.27355833,
        -1.28641867, -0.91065568,  0.13063183]])

In [178]:
bharat_test = pd.DataFrame(X_test)
bharat_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.549804,-0.92942,-0.328636,0.53103,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632

In [179]:
bharat_test_series = bharat_test.ix[:,:]

/home/bhrt/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [180]:
bharat_test_series

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.549804,-0.92942,-0.328636,0.53103,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632

In [181]:
# y_pred_train = model.predict([[1.549804,-0.929420,-0.328636,0.531030,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,1.050174,-1.050174,0.700877,1.166561,-0.273558,-1.286419,-0.910656,0.130632]])

In [182]:
y_pred_train = model.predict(bharat_test_series)

In [183]:
y_pred_train

array([1], dtype=int8)

In [184]:
if(y_pred_train == 1):
    print("It's a regular observation")
else:
    print("It's a Anomoly")

It's a regular observation

# Risk Calculation using the Hard Code

In [185]:
an=new_df
an.shape

(85, 18)

In [186]:
columns = an.columns

In [187]:
columns

Index(['Date and time', 'Device ip', 'Transaction ammount', 'Typing speed',
       'board', 'bootloader', 'brand', 'device', 'display', 'fingerprint',
       'host', 'id', 'latitude', 'longitude', 'manufacturer', 'model',
       'Device_velocity', 'inclined'],
      dtype='object')

In [188]:
X_train[0][1]

0.6744994746962194

In [189]:
col = columns[0]

In [190]:
an.columns[0]

'Date and time'

In [191]:
data = [[22,6,14.0,4.666666666666667,2,0,1,1,1,1,2,0,32.0,115.0,1,0,-1,13]]

In [192]:
data[0][1]

6

In [193]:
# concatenate the without normalised csv and the target variable then

# select only that dataframe which has target variable as 2.

In [194]:
sub_df = new_df

In [195]:
sub_df['Target'] = y

In [196]:
sub_df= sub_df[sub_df['Target']==1]

In [197]:
sub_df = sub_df.drop(labels='Target',axis=1)

In [198]:
i=0
count=0
nott=0

for (columnName, columnData) in sub_df.iteritems():
#     print('Colunm Name : ', columnName)
    x=columnData.values
    
    tofind=data[0][i]
    
    if( np.any(x[:] == tofind) ):
        count=count+1
    else:
        print(tofind)
        nott=nott+1
    i=i+1
    
print(str('matched'), str(count))
print(str('NOT_matched'), str(nott))

matched 18
NOT_matched 0

In [199]:
thisdict = {
    "Date_and_time" : 1,
    "Device_ip": 2,
    "Transaction_ammount" : 2,
    "Typing_speed" : 3,
    "board" : 4,
    "bootloader" : 4,
    "brand" :4 ,
    "device" : 4,
    "display" :4 ,
    "fingerprint" :4 ,
    "host" : 4,
    "id" : 4,
    "latitude" : 5,
    "longitude" : 5,
    "manufacturer" :4 ,
    "model" : 4,
    "Device_velocity" :3 ,
    "inclined" : 3
    }

In [200]:
thisdict.keys()

dict_keys(['Date_and_time', 'Device_ip', 'Transaction_ammount', 'Typing_speed', 'board', 'bootloader', 'brand', 'device', 'display', 'fingerprint', 'host', 'id', 'latitude', 'longitude', 'manufacturer', 'model', 'Device_velocity', 'inclined'])

In [201]:
owl = [["22:36:27 Sun 26 Jan","10.238.99.167","-0.1,0.0,-0.7",14,4.66666666666667,"vikram@blue-bricks.com","msm8952","0xB106","motorola","athene_f","NPJS25.93-14-10","motorola/athene_f/athene_f:7.0/NPJS25.93-14-10/10:user/release-keys","ilclbld26","NPJS25.93-14-10","-32.0602409","115.8659862","motorola","Moto G (4)","","-0.1,5.3,8.7"
]]

In [202]:
owl = pd.DataFrame(owl)

In [204]:
owl.columns = ['Date_and_time', 'Device_ip','Device velocity', 'Transaction_ammount', 'Typing_speed', 'User name','board', 'bootloader', 'brand', 'device', 'display', 'fingerprint', 'host', 'id', 'latitude', 'longitude', 'manufacturer', 'model', 'Device_velocity', 'inclication']

In [208]:
owl

,Date_and_time,Device_ip,Device velocity,Transaction_ammount,Typing_speed,User name,board,bootloader,brand,device,display,fingerprint,host,id,latitude,longitude,manufacturer,model,Device_velocity,inclication
0,22:36:27 Sun 26 Jan,10.238.99.167,"-0.1,0.0,-0.7",14,4.666667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,ilclbld26,NPJS25.93-14-10,-32.0602409,115.8659862,motorola,Moto G (4),,"-0.1,5.3,8.7"

In [205]:
for i in owl['inclication']:
    a  = re.split(',',i)
    su = 0.0
    print(a)
    for z  in a :
        su = su + float(z)
    su  = math.floor(su)
    print(su)

['-0.1', '5.3', '8.7']
13

In [ ]:
output = open('Departure_encoder.pkl', 'wb')
pickle.dump(le, output)
output.close()

In [215]:
encoder = LabelEncoder()

In [217]:
np_load_old = np.load

# modify the default parameters of np.load
np.load = lambda *a,**k: np_load_old(*a, allow_pickle=True, **k)

In [225]:
encoder.classes_ = np.load('classes.npy')

In [227]:
# owl['Date_and_time'] = encoder.classes_.transform(owl['Date_and_time'])
#

In [228]:
pkl_file = open('rba.pkl', 'rb')
le_departure = pickle.load(pkl_file) 
pkl_file.close()

In [233]:
owl['model'] = le_departure.transform(owl['model'])

In [234]:
owl['model']

0    0
Name: model, dtype: int64

In [206]:
owl['longitude']

0    115.8659862
Name: longitude, dtype: object

In [207]:
owl['latitude']

0    -32.0602409
Name: latitude, dtype: object