In [1]:
import pandas as pd
import numpy as np
import re
import math

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.externals import joblib
from sklearn.preprocessing import StandardScaler

/home/bhrt/.local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [3]:
di={"Date and time":"06:29:35 Sun 26 Jan",
"Device ip":"192.168.20.7",
"Device velocity":"-0.1,0.1,0.3",#########
"Transaction ammount":"70",
"Typing speed":7,
"board":"msm8952",
"bootloader":"0xB106",
"brand":"motorola",
"device":"athene_f",
"display":"NPJS25.93-14-10",
"fingerprint":"motorola/athene_f/athene_f:7.0/NPJS25.93-14-10/10:user/release-keys",
"host":"ilclbld26",
"id":"NPJS25.93-14-10",
"latitude": "18.5228256",
"longitude": "73.9064045",
"manufacturer": "samsung",
"model": "SM-M305F",
"inclication":"-1.0,5.9,9.2"}#########}

In [4]:
di.values()

dict_values(['06:29:35 Sun 26 Jan', '192.168.20.7', '-0.1,0.1,0.3', '70', 7, 'msm8952', '0xB106', 'motorola', 'athene_f', 'NPJS25.93-14-10', 'motorola/athene_f/athene_f:7.0/NPJS25.93-14-10/10:user/release-keys', 'ilclbld26', 'NPJS25.93-14-10', '18.5228256', '73.9064045', 'samsung', 'SM-M305F', '-1.0,5.9,9.2'])

In [5]:
input_data=list(di.values())

In [6]:
input_data=[input_data]

In [7]:
X_test = pd.DataFrame(input_data)

In [8]:
X_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,06:29:35 Sun 26 Jan,192.168.20.7,"-0.1,0.1,0.3",70,7,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,ilclbld26,NPJS25.93-14-10,18.5228256,73.9064045,samsung,SM-M305F,"-1.0,5.9,9.2"

In [9]:
X_test[0]= X_test[0].astype(str) 

start, stop, step = 0, -17, 1

X_test[0]= X_test[0].str.slice(start, stop, step) 

X_test[0]= X_test[0].astype(int)

In [10]:

X_test.columns = ['Date_and_time', 'Device_ip','Device velocity', 'Transaction_ammount', 'Typing_speed', 'board', 'bootloader', 'brand', 'device', 'display', 'fingerprint', 'host', 'id', 'latitude', 'longitude', 'manufacturer', 'model', 'inclication']

In [11]:
q = X_test['Device velocity']

for i in q:
    a  = re.split(',',i)
a

su=0
for z  in a :
    su = su + float(z)
su  = math.floor(su)

In [12]:
su

0

In [13]:
df2  = X_test.assign(Device_velocity = su)

X_test = df2

del X_test['Device velocity']

In [14]:
q = X_test['inclication']

for i in q:
    a  = re.split(',',i)
a

su=0
for z  in a :
    su = su + float(z)
su  = math.floor(su)

In [15]:
su

14

In [16]:
df2  = X_test.assign(inclined = su)

X_test = df2

del X_test['inclication']

In [17]:
X_test

,Date_and_time,Device_ip,Transaction_ammount,Typing_speed,board,bootloader,brand,device,display,fingerprint,host,id,latitude,longitude,manufacturer,model,Device_velocity,inclined
0,6,192.168.20.7,70,7,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,ilclbld26,NPJS25.93-14-10,18.5228256,73.9064045,samsung,SM-M305F,0,14

In [18]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 18 columns):
Date_and_time          1 non-null int64
Device_ip              1 non-null object
Transaction_ammount    1 non-null object
Typing_speed           1 non-null int64
board                  1 non-null object
bootloader             1 non-null object
brand                  1 non-null object
device                 1 non-null object
display                1 non-null object
fingerprint            1 non-null object
host                   1 non-null object
id                     1 non-null object
latitude               1 non-null object
longitude              1 non-null object
manufacturer           1 non-null object
model                  1 non-null object
Device_velocity        1 non-null int64
inclined               1 non-null int64
dtypes: int64(4), object(14)
memory usage: 272.0+ bytes

In [19]:
X_test['Transaction_ammount']=X_test['Transaction_ammount'].astype(float)

In [20]:
X_test['Typing_speed']=X_test['Typing_speed'].astype(float)
X_test['latitude']=X_test['latitude'].astype(float)
X_test['longitude']=X_test['longitude'].astype(float)
X_test['Device_velocity']=X_test['Device_velocity'].astype(int)
X_test['inclined']=X_test['inclined'].astype(int)

In [21]:
input_data=X_test.values.tolist()

In [22]:
np_load_old = np.load
np.load = lambda *a,**k: np_load_old(*a, allow_pickle=True, **k)

In [23]:
def check_label(path,i):
    encoder = LabelEncoder()
    
    encoder.classes_ = np.load(path)
    
    test_tuple=X_test[i]
    test_tuple=test_tuple.get(0) # get the item from tuple
    
    result = np.where(encoder.classes_ == test_tuple) # check if it exist in training label encoder
    
    
    
    try:
        if result[0] != None:
            X_test[i]=encoder.transform(X_test[i])
    except: #none tha
    #     print("Unknown")
        X_test[i] = encoder.classes_.size

In [24]:
check_label('labels/le_ip_classes.npy','Device_ip')

In [25]:
check_label('labels/le_board_classes.npy','board')

In [26]:
check_label('labels/le_bootloader_classes.npy','bootloader')
check_label('labels/le_brand_classes.npy','brand')
check_label('labels/le_device_classes.npy','device')
check_label('labels/le_display_classes.npy','display')
check_label('labels/le_fingerprint_classes.npy','fingerprint')
check_label('labels/le_host_classes.npy','host')
check_label('labels/le_id_classes.npy','id')
check_label('labels/le_manufacturer_classes.npy','manufacturer')
check_label('labels/le_model_classes.npy','model')

In [27]:
X_test

,Date_and_time,Device_ip,Transaction_ammount,Typing_speed,board,bootloader,brand,device,display,fingerprint,host,id,latitude,longitude,manufacturer,model,Device_velocity,inclined
0,6,14,70.0,7.0,2,0,1,1,1,1,2,0,18.522826,73.906404,2,2,0,14

In [28]:
scc = joblib.load("scaler/scaler.save")

In [29]:
# # Feature Scaling
X_test = scc.transform(X_test)

In [30]:
X_test = pd.DataFrame(X_test)

In [31]:
X_test = X_test.ix[:,:]

/home/bhrt/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [32]:
X_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-0.784342,0.557652,-0.270378,1.546394,1.029857,-1.029857,-0.109109,-0.109109,-0.109109,-0.109109,0.722222,-1.050174,1.42685,-0.822901,0.950255,0.648901,0.318007,0.557697

In [33]:
# Load the model from the file 
model = joblib.load('model/rba.pkl')

In [34]:
y_pred_train = model.predict(X_test)

In [35]:
if(y_pred_train == 1):
    print("It's a regular observation")
else:
    print("It's a Anomoly")

It's a regular observation

# Risk Calculation using the Hard Code

In [36]:
old_data =  pd.read_csv('updated_csv/without_normalised_rba_for_one_user.csv')

In [37]:
old_data.drop("User name",axis=1,inplace=True)

In [38]:
old_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 19 columns):
Date and time          36 non-null int64
Device ip              36 non-null object
Transaction ammount    36 non-null float64
Typing speed           36 non-null float64
board                  36 non-null object
bootloader             36 non-null object
brand                  36 non-null object
device                 36 non-null object
display                36 non-null object
fingerprint            36 non-null object
host                   24 non-null object
id                     36 non-null object
latitude               36 non-null float64
longitude              36 non-null float64
manufacturer           24 non-null object
model                  36 non-null object
Device_velocity        36 non-null int64
inclined               36 non-null int64
Target                 36 non-null int64
dtypes: float64(4), int64(4), object(11)
memory usage: 5.5+ KB

In [39]:
thisdict = {
   0 : 1,#"Date_and_time" 
   1: 2, # "Device_ip"
    2: 2,#"Transaction_ammount" 
   3: 3,# "Typing_speed" 
    4 : 4,#"board"
    5: 4,#"bootloader" 
     6:4 ,#"brand"
    7: 4,# "device"
    8:4 ,#"display" 
    9:4 ,#"fingerprint" 
    10: 4,#"host" 
  11: 4,#  "id" 
    12: 5,#"latitude" 
   13: 5,# "longitude" 
     14:4 ,#"manufacturer"
   15: 4,# "model" 
     16:3 ,#"Device_velocity"
    17: 3# "inclined"
    }

In [40]:
i=0
count=0
nott=0

for (columnName, columnData) in old_data.iteritems():
    x=columnData.values
    
    tofind=input_data[0][i]
    
    if( np.any(x[:] == tofind) ):
        count=count+thisdict[i]
    else:
        print("These are not matched values "+str(tofind))
        nott=nott+thisdict[i]
    i=i+1
    if(i==18):
        break
print(str('matched'), str(count))
print(str('NOT_matched'), str(nott))

These are not matched values 18.5228256
These are not matched values 73.9064045
These are not matched values samsung
These are not matched values SM-M305F
matched 46
NOT_matched 18

In [41]:
if(nott <10):
    User_as_per_Score = "Risk Level Low - Ask for password only"
elif(nott < 17 ):
    User_as_per_Score = "Risk Level 2 - Ask for password and OTP both"
elif(nott < 25) :
    User_as_per_Score = "Risk Level 3 - Ask for password and OTP and Facial password"
else:
    User_as_per_Score = "Risk Level 4 - Very High Risk"

In [42]:
print(User_as_per_Score)

Risk Level 3 - Ask for password and OTP and Facial password

In [43]:
#Tip you can round off latitute values, so that they do not get mismatched due to precision values
# while comparing with the old ones