In [1]:
import os,json
import pandas as pd
import csv 
import numpy as np
import matplotlib.font_manager
import re
import math

In [2]:
from sklearn import svm
from pandas.io.json import json_normalize
from sklearn.preprocessing import LabelEncoder

In [3]:
path_to_json = 'data/vikram/'

In [4]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

In [5]:
abs=os.getcwd()

In [6]:
with open(str(abs)+'/data/vikram/'+str(json_files[0])) as json_file: 
    data = json.load(json_file)

In [7]:
df = pd.DataFrame ( columns = data.keys())

In [8]:
for i in json_files:
    with open(str(abs)+'/data/vikram/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)

        df=df.append(temp)

/home/bhrt/.local/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [9]:
df.shape

(36, 46)

In [10]:
df['latitude']= df['latitude'].replace(to_replace='null',value=None)

In [11]:
df['latitude']=df['latitude'].fillna(df['latitude'].mode())

In [12]:
df['longitude']= df['longitude'].replace(to_replace='null',value=None)
df['longitude']=df['longitude'].fillna(df['longitude'].mode())

In [13]:
path_to_json = 'data/mukunda/'

In [14]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

In [15]:
for i in json_files:
    with open(str(abs)+'/data/mukunda/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)

        df=df.append(temp)

In [16]:
path_to_json = 'data/raunak/'

In [17]:
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

In [18]:
for i in json_files:
    with open(str(abs)+'/data/raunak/'+str(i)) as json_file: 
        data = json.load(json_file)
        
        temp = json_normalize(data)

        df=df.append(temp)

In [19]:
new_df=df.drop(labels=['identifierForVendor','inclication,','localizedModel','name','systemName','systemVersion','utsname.machine:','utsname.nodename:','utsname.release:','utsname.version:','utsname.sysname:','hardware'],axis=1)

In [20]:
new_df=new_df.drop([new_df.columns[5]],axis='columns')

In [21]:
new_df.isna().sum()

Date and time              0
Device ip                  0
Device velocity            0
Transaction ammount        0
Typing speed               1
User name                  1
board                     12
bootloader                12
brand                     12
device                    12
display                   12
fingerprint               12
host                      12
id                        12
inclication                1
isPhysicalDevice           0
latitude                  39
longitude                 39
longitude and latitude    22
manufacturer              12
model                      0
product                   12
supported32BitAbis        12
supported64BitAbis        64
supportedAbis             12
tags                      12
type                      12
version.baseOS            12
version.codename          12
version.incremental       12
version.previewSdkInt     12
version.release           12
version.sdkInt            12
version.securityPatch     12
dtype: int64

# Date and time

In [22]:
new_df['Date and time']= df["Date and time"].astype(str) 

start, stop, step = 0, -17, 1

new_df["Date and time"]= df["Date and time"].str.slice(start, stop, step) 

new_df["Date and time"]= new_df["Date and time"].astype(int)

In [23]:
new_df["Date and time"]

0    22
0    16
0     8
0     1
0    11
     ..
0    12
0     0
0    13
0    13
0     9
Name: Date and time, Length: 85, dtype: int64

# Device ip

In [24]:
new_df['Device ip'].isnull().sum()

0

In [25]:
new_df['Device ip']

0    10.238.99.167
0             null
0       10.1.0.250
0             null
0       10.1.0.250
         ...
0    192.168.0.119
0    192.168.0.138
0     25.22.227.50
0     25.22.227.50
0     25.22.227.50
Name: Device ip, Length: 85, dtype: object

In [26]:
new_df['Device ip'] = df['Device ip'].replace(to_replace = "null", value = None, regex = True)

In [27]:
new_df['Device ip'] = new_df['Device ip'].astype(str)

In [28]:
new_df['Device ip']

0    10.238.99.167
0    10.238.99.167
0       10.1.0.250
0       10.1.0.250
0       10.1.0.250
         ...
0    192.168.0.119
0    192.168.0.138
0     25.22.227.50
0     25.22.227.50
0     25.22.227.50
Name: Device ip, Length: 85, dtype: object

# Device velocity

In [29]:
new_df['Device velocity'].isnull().sum()

0

In [30]:
temp_velocity = new_df['Device velocity']

In [31]:
#mannual eye balling
new_df['Device velocity']=new_df['Device velocity'].replace(to_replace='-0.1-0.3-0.4',value='-0.1,-0.3,-0.4')

In [32]:
#mannual eye balling
new_df['Device velocity']=new_df['Device velocity'].replace(to_replace='0.10.4',value='0.1,0,0.4')

In [33]:

my_list = [] 
summation_velocity = []

for i in temp_velocity:
    list_velocity  = re.split(',',i)
    summation_velocity = 0.0
    for j  in list_velocity :
        summation_velocity = summation_velocity + float(j)
    summation_velocity  = math.floor(summation_velocity)   # 0.9->0 floor     0.1 ->1  ceil
    my_list.append(summation_velocity)

In [34]:
print(my_list)

[-1, 0, -1, 0, -1, 0, -1, -1, 0, -1, -1, -2, -1, 0, 0, 0, -1, 0, 1, -2, 0, 0, 0, -3, -1, -1, 0, -1, -2, -1, 0, -1, -1, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, -1, -1, -1, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 1, -1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, -1, 0, 2, 1]

In [35]:
df2  = new_df.assign(Device_velocity = my_list)

new_df = df2

del df['Device velocity']

# Transaction ammount

In [36]:
new_df['Transaction ammount'].isnull().sum()

0

In [37]:
new_df['Transaction ammount']

0     14
0     10
0     10
0     10
0      7
    ...
0    120
0    110
0    120
0    150
0    150
Name: Transaction ammount, Length: 85, dtype: object

# Typing speed

In [38]:
new_df['Typing speed'].isnull().sum()

1

In [39]:
new_df['Typing speed'] = new_df['Typing speed'].fillna(df['Typing speed'].mode())

In [40]:
new_df['Typing speed']

0               4.66667
0                   2.8
0                   2.8
0               4.66667
0               3.11111
            ...
0    2.3636363636363638
0    3.7142857142857144
0    2.3636363636363638
0    2.3636363636363638
0    2.1666666666666665
Name: Typing speed, Length: 85, dtype: object

# User name

In [41]:
new_df['User name'].isnull().sum()

1

In [42]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'Vikram@blue-bricks.com',
       'mukunda@mollatech.com', 'Mukunda@mollatech.com',
       'raunak@mollatech.com', nan], dtype=object)

In [43]:
# or else you can lower case each entry
new_df['User name']=new_df['User name'].replace(to_replace='Vikram@blue-bricks.com',value='vikram@blue-bricks.com')
new_df['User name']=new_df['User name'].replace(to_replace='Mukunda@mollatech.com',value='mukunda@mollatech.com')

In [44]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'mukunda@mollatech.com',
       'raunak@mollatech.com', nan], dtype=object)

# board

In [45]:
new_df['board'].isnull().sum()

12

In [46]:
new_df['board'] = df['board'].fillna(method = 'ffill')

# bootloader

In [47]:
new_df['bootloader'].isnull().sum()

12

In [48]:
new_df['bootloader'] = df['bootloader'].fillna(method = 'ffill')

In [49]:
new_df['bootloader']

0           0xB106
0           0xB106
0           0xB106
0           0xB106
0           0xB106
         ...
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
0    M305FDDU3CSL5
Name: bootloader, Length: 85, dtype: object

# brand

In [50]:
new_df['brand'].isnull().sum()

12

In [51]:
new_df['brand'] = df['brand'].fillna(method = 'ffill')

In [52]:
new_df['brand']

0    motorola
0    motorola
0    motorola
0    motorola
0    motorola
       ...
0     samsung
0     samsung
0     samsung
0     samsung
0     samsung
Name: brand, Length: 85, dtype: object

# device

In [53]:
new_df['device'].isnull().sum()

12

In [54]:
new_df['device'] = df['device'].fillna(method = 'ffill')

In [55]:
new_df['device']

0    athene_f
0    athene_f
0    athene_f
0    athene_f
0    athene_f
       ...
0      m30lte
0      m30lte
0      m30lte
0      m30lte
0      m30lte
Name: device, Length: 85, dtype: object

# display

In [56]:
new_df['display'].isnull().sum()

12

In [57]:
new_df['display'] = df['display'].fillna(method = 'ffill')

In [58]:
new_df['display']

0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
0                  NPJS25.93-14-10
                 ...
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
0    QP1A.190711.020.M305FDDU3CSL5
Name: display, Length: 85, dtype: object

# fingerprint

In [59]:
new_df['fingerprint'] = df['fingerprint'].fillna(method = 'ffill')

In [60]:
new_df['fingerprint']

0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
0    motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...
                           ...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
0    samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...
Name: fingerprint, Length: 85, dtype: object

# host

In [61]:
new_df['host']

0    ilclbld26
0          NaN
0    ilclbld26
0          NaN
0    ilclbld26
       ...
0     21HHAF01
0     21HHAF01
0     21HHAF01
0     21HHAF01
0     21HHAF01
Name: host, Length: 85, dtype: object

# id

In [62]:
new_df['id'].isna().sum()

12

In [63]:
new_df['id'] = df['id'].fillna(method = 'ffill')

In [64]:
new_df['id']

0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
0    NPJS25.93-14-10
          ...
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
0    QP1A.190711.020
Name: id, Length: 85, dtype: object

# inclication

In [65]:
new_df['inclication'].isna().sum()

1

In [66]:
new_df['inclication'] = df['inclication'].fillna(method = 'ffill')

In [67]:
temp_inclication = new_df['inclication']

my_list = [] 
summation_inclication = []

for i in temp_inclication:
    list_inclication  = re.split(',',i)
    summation_inclication = 0.0
    for j  in list_inclication :
        summation_inclication = summation_inclication + float(j)
    summation_inclication  = math.floor(summation_inclication)   # 0.9->0 floor     0.1 ->1  ceil
    my_list.append(summation_inclication)

In [68]:
df2  = new_df.assign(inclined = my_list)


new_df = df2

del new_df['inclication']
new_df['inclined']

0    13
0    12
0    13
0    10
0    15
     ..
0    14
0    14
0    12
0    14
0    14
Name: inclined, Length: 85, dtype: int64

# isPhysicalDevice

In [69]:
# new_df=new_df.drop(labels='isPhysicalDevice',axis=1)

del new_df['isPhysicalDevice']

# latitude

In [70]:
new_df['latitude'].unique()

array(['-32.06011427569395', '-32.06026406030362', '-32.06012672282016',
       '-32.06023472364252', '-32.0601685904265', '-31.961822547048293',
       '-32.060216283455546', nan, '18.5224725', '18.5228256',
       '18.5228576', '18.5233773', '18.518282594269014', '18.5225303'],
      dtype=object)

In [71]:
new_df['latitude'] = df['latitude'].fillna(method = 'ffill')

In [72]:
new_df['latitude']=new_df['latitude'].astype(float)

# longitude

In [73]:
new_df['longitude']= df["longitude"]

In [74]:
new_df['longitude'] = new_df['longitude'].fillna(73)  # mannual eye balling as only one entry was faulty

In [75]:
new_df['longitude']

0    115.86587601352097
0    115.86587601352097
0    115.86587601352097
0    115.86614850919308
0    115.86587601352097
            ...
0                    73
0                    73
0            73.9084453
0            73.9086092
0              73.90804
Name: longitude, Length: 85, dtype: object

In [76]:
new_df['longitude']=new_df['longitude'].astype(float)

In [77]:
new_df

,Date and time,Device ip,Device velocity,Transaction ammount,Typing speed,User name,board,bootloader,brand,device,...,type,version.baseOS,version.codename,version.incremental,version.previewSdkInt,version.release,version.sdkInt,version.securityPatch,Device_velocity,inclined
0,22,10.238.99.167,"-0.1,0.0,-0.7",14,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,13
0,16,10.238.99.167,"-0.3,0.1,0.9",10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,12
0,8,10.1.0.250,"-0.1,-0.0,-0.5",10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,13
0,1,10.1.0.250,"-0.3,0.2,0.3",10,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10
0,11,10.1.0.250,"0.1,0.1,-1.0",7,3.11111,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,...,user,,REL,10,0,7.0,24,2017-09-01,-1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12,192.168.0.119,"0.0,0.0,0.0",120,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,0,14
0,0,192.168.0.138,"0.0,-0.1,-0.3",110,3.7142857142857144,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,-1,14
0,13,25.22.227.50,"0.1,0.2,0.1",120,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,0,12
0,13,25.22.227.50,"0.6,0.6,1.0",150,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,2,14
0,9,25.22.227.50,"0.1,0.2,0.9",150,2.1666666666666665,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,...,user,,REL,M305FDDU3CSL5,0,10,29,2019-12-01,1,14

# longitude and latitude

In [78]:
new_df=new_df.drop(labels=['longitude and latitude'],axis=1)

In [79]:
new_df = new_df.drop(labels=['product','supported32BitAbis','supportedAbis','supported64BitAbis','tags','type','version.baseOS','version.codename','version.incremental','version.previewSdkInt','version.release','version.sdkInt','version.securityPatch'],axis=1)

In [80]:
new_df =  new_df.drop(labels='Device velocity',axis=1)

In [81]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 0
Data columns (total 19 columns):
Date and time          85 non-null int64
Device ip              85 non-null object
Transaction ammount    85 non-null object
Typing speed           85 non-null object
User name              84 non-null object
board                  85 non-null object
bootloader             85 non-null object
brand                  85 non-null object
device                 85 non-null object
display                85 non-null object
fingerprint            85 non-null object
host                   73 non-null object
id                     85 non-null object
latitude               85 non-null float64
longitude              85 non-null float64
manufacturer           73 non-null object
model                  85 non-null object
Device_velocity        85 non-null int64
inclined               85 non-null int64
dtypes: float64(2), int64(3), object(14)
memory usage: 13.3+ KB

In [82]:
new_df.head(4)

,Date and time,Device ip,Transaction ammount,Typing speed,User name,board,bootloader,brand,device,display,fingerprint,host,id,latitude,longitude,manufacturer,model,Device_velocity,inclined
0,22,10.238.99.167,14,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,ilclbld26,NPJS25.93-14-10,-32.060114,115.865876,motorola,Moto G (4),-1,13
0,16,10.238.99.167,10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,NaN,NPJS25.93-14-10,-32.060114,115.865876,NaN,iPhone,0,12
0,8,10.1.0.250,10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,ilclbld26,NPJS25.93-14-10,-32.060114,115.865876,motorola,Moto G (4),-1,13
0,1,10.1.0.250,10,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,NaN,NPJS25.93-14-10,-32.060264,115.866149,NaN,iPhone,0,10

In [83]:
################################################################################################################
new_df['User name'] = new_df['User name'].fillna('raunak@mollatech.com')   # mannual eye
new_df['User name']=new_df['User name'].astype(str)

In [84]:
new_df['User name'].unique()

array(['vikram@blue-bricks.com', 'mukunda@mollatech.com',
       'raunak@mollatech.com'], dtype=object)

In [85]:
y = new_df.iloc[:, 4]

Y= []

for index, value in y.items():
    if value !="vikram@blue-bricks.com":
        Y.append("others")
    else:
        Y.append("vikram@blue-bricks.com")

Y= pd.Series(Y)

In [86]:
y = Y.astype('category').cat.codes
tttrain_y = y.to_numpy()

In [87]:
tttrain_y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int8)

In [88]:
new_df

,Date and time,Device ip,Transaction ammount,Typing speed,User name,board,bootloader,brand,device,display,fingerprint,host,id,latitude,longitude,manufacturer,model,Device_velocity,inclined
0,22,10.238.99.167,14,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,ilclbld26,NPJS25.93-14-10,-32.060114,115.865876,motorola,Moto G (4),-1,13
0,16,10.238.99.167,10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,NaN,NPJS25.93-14-10,-32.060114,115.865876,NaN,iPhone,0,12
0,8,10.1.0.250,10,2.8,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,ilclbld26,NPJS25.93-14-10,-32.060114,115.865876,motorola,Moto G (4),-1,13
0,1,10.1.0.250,10,4.66667,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,NaN,NPJS25.93-14-10,-32.060264,115.866149,NaN,iPhone,0,10
0,11,10.1.0.250,7,3.11111,vikram@blue-bricks.com,msm8952,0xB106,motorola,athene_f,NPJS25.93-14-10,motorola/athene_f/athene_f:7.0/NPJS25.93-14-10...,ilclbld26,NPJS25.93-14-10,-32.060114,115.865876,motorola,Moto G (4),-1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12,192.168.0.119,120,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,QP1A.190711.020.M305FDDU3CSL5,samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...,21HHAF01,QP1A.190711.020,18.518283,73.000000,samsung,SM-M305F,0,14
0,0,192.168.0.138,110,3.7142857142857144,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,QP1A.190711.020.M305FDDU3CSL5,samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...,21HHAF01,QP1A.190711.020,18.518283,73.000000,samsung,SM-M305F,-1,14
0,13,25.22.227.50,120,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,QP1A.190711.020.M305FDDU3CSL5,samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...,21HHAF01,QP1A.190711.020,18.522530,73.908445,samsung,SM-M305F,0,12
0,13,25.22.227.50,150,2.3636363636363638,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,QP1A.190711.020.M305FDDU3CSL5,samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...,21HHAF01,QP1A.190711.020,18.523377,73.908609,samsung,SM-M305F,2,14
0,9,25.22.227.50,150,2.1666666666666665,raunak@mollatech.com,exynos7904,M305FDDU3CSL5,samsung,m30lte,QP1A.190711.020.M305FDDU3CSL5,samsung/m30ltedd/m30lte:10/QP1A.190711.020/M30...,21HHAF01,QP1A.190711.020,18.522472,73.908040,samsung,SM-M305F,1,14

In [89]:

# new_df=new_df.drop(labels="User name",axis=1)
# #

In [90]:
new_df.to_csv('updated_csv/without_normalised_rba_for_three_user.csv', index=False)

In [91]:
sub_df=pd.read_csv('updated_csv/without_normalised_rba_for_three_user.csv')

In [92]:
sub_df['Target']=tttrain_y

In [93]:
sub_df=sub_df.loc[sub_df['Target'] == 1]
sub_df.to_csv('updated_csv/without_normalised_rba_for_one_user.csv', index=False)

In [94]:
new_df.drop("User name",axis=1,inplace=True)

In [95]:
for ind,column in enumerate(new_df.columns):
    print(ind,column)

0 Date and time
1 Device ip
2 Transaction ammount
3 Typing speed
4 board
5 bootloader
6 brand
7 device
8 display
9 fingerprint
10 host
11 id
12 latitude
13 longitude
14 manufacturer
15 model
16 Device_velocity
17 inclined

# Applying Label Encoder

In [96]:
le_ip = LabelEncoder()
################################################################################################################
new_df['Device ip'] = le_ip.fit_transform(new_df['Device ip'])

#dump it
np.save('labels/le_ip_classes.npy', le_ip.classes_)

In [97]:
################################################################################################################

new_df['Transaction ammount']=new_df['Transaction ammount'].astype(str)
new_df['Transaction ammount']=new_df['Transaction ammount'].astype(float)

In [98]:
################################################################################################################
new_df['Typing speed']=new_df['Typing speed'].astype(str)
new_df['Typing speed']=new_df['Typing speed'].astype(float)

In [99]:
################################################################################################################
new_df['board']=new_df['board'].astype(str)
le_board = LabelEncoder()
new_df['board'] = le_board.fit_transform(new_df['board'])

In [100]:
#dump it
np.save('labels/le_board_classes.npy', le_board.classes_)

In [101]:
################################################################################################################
new_df['bootloader']=new_df['bootloader'].astype(str)
le_bootloader = LabelEncoder()
new_df['bootloader'] = le_bootloader.fit_transform(new_df['bootloader'])


#dump it
np.save('labels/le_bootloader_classes.npy', le_bootloader.classes_)

In [102]:
################################################################################################################
new_df['brand']=new_df['brand'].astype(str)
le_brand = LabelEncoder()
new_df['brand'] = le_brand.fit_transform(new_df['brand'])


#dump it
np.save('labels/le_brand_classes.npy', le_brand.classes_)

In [103]:
################################################################################################################
new_df['device']=new_df['device'].astype(str)
le_device = LabelEncoder()
new_df['device'] = le_device.fit_transform(new_df['device'])


#dump it
np.save('labels/le_device_classes.npy', le_device.classes_)

In [104]:
################################################################################################################
new_df['display']=new_df['display'].astype(str)
le_display = LabelEncoder()
new_df['display'] = le_display.fit_transform(new_df['display'])


#dump it
np.save('labels/le_display_classes.npy', le_display.classes_)

In [105]:
################################################################################################################
new_df['fingerprint']=new_df['fingerprint'].astype(str)
le_fingerprint = LabelEncoder()
new_df['fingerprint'] = le_fingerprint.fit_transform(new_df['fingerprint'])


#dump it
np.save('labels/le_fingerprint_classes.npy', le_fingerprint.classes_)

In [106]:
################################################################################################################
new_df['host']=new_df['host'].astype(str)
le_host = LabelEncoder()
new_df['host'] = le_host.fit_transform(new_df['host'])


#dump it
np.save('labels/le_host_classes.npy', le_host.classes_)

In [107]:
################################################################################################################
new_df['id']=new_df['id'].astype(str)
le_id = LabelEncoder()
new_df['id'] = le_id.fit_transform(new_df['id'])


#dump it
np.save('labels/le_id_classes.npy', le_id.classes_)

In [108]:
################################################################################################################
# new_df['manufacturer'].isna().sum()
new_df['manufacturer'] = new_df['manufacturer'].fillna(df['manufacturer'].mode())
new_df['manufacturer']=new_df['manufacturer'].astype(str)
le_manufacturer = LabelEncoder()
new_df['manufacturer'] = le_manufacturer.fit_transform(new_df['manufacturer'])


#dump it
np.save('labels/le_manufacturer_classes.npy', le_manufacturer.classes_)

In [109]:
################################################################################################################

# new_df['model'] = new_df['model'].fillna(df['model'].mode())
new_df['model']=new_df['model'].astype(str)
le_model = LabelEncoder()
new_df['model'] = le_model.fit_transform(new_df['model'])


#dump it
np.save('labels/le_model_classes.npy', le_model.classes_)

# MODELLING

In [110]:
from sklearn.externals import joblib

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(new_df)

/home/bhrt/.local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [111]:
scaler_filename = "scaler/scaler.save"
joblib.dump(sc, scaler_filename)

['scaler/scaler.save']

In [112]:
scc = joblib.load("scaler/scaler.save")

In [113]:
X_train = pd.DataFrame(X_train)
type(X_train)

pandas.core.frame.DataFrame

In [114]:
X_train.shape

(85, 18)

# Saving the X_Train as csv

In [115]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_train,y,test_size=0.2,random_state=30)

In [116]:
x_train.shape , y_train.shape

((68, 18), (68,))

In [117]:
x_test.shape ,y_test.shape

((17, 18), (17,))

In [118]:
#All classifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [119]:
# Logistic Regression
model = LogisticRegression()
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [120]:
#decision Tree Classifier
model = DecisionTreeClassifier(max_depth=3)
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [121]:
model = RandomForestClassifier()
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

Train ACC : 1.0
Test ACC : 1.0

In [122]:
# SVC 

model = SVC(kernel='rbf', C=1E10, class_weight='balanced', verbose=1, gamma=0.05)
model.fit(x_train, y_train)

print("Train ACC : {}\nTest ACC : {}".format(model.score(x_train, y_train), model.score(x_test, y_test)))

[LibSVM]Train ACC : 1.0
Test ACC : 1.0

In [123]:
from sklearn.externals import joblib

In [124]:
joblib.dump(model, 'model/rba.pkl')

['model/rba.pkl']

# End

In [125]:
# 1. testing notebook and traingi note
# 2. simple code cleaned
# 3. Gsheet (loom-handover-git path-docs)